[2016-03-17 18:46] connormanning commented on #614
+1 I only get two characters of the actual repository name with the current view and my relatively long username.

[2016-03-17 19:12] geekmush commented on #614
+1 at least put a "long listing" option so we can see the full repo names.  cute UI be damned, we need to be able to actually find our repos quickly.

[2016-03-17 19:54] okercho commented on #616
I'm having the same issue :(

[2016-03-17 23:00] emreboga commented on #614
Repositories view has been reverted back to the previous look. Sorry for the inconvenience this may have caused. We'll iterate over this design a bit more before any further changes.

[2016-03-17 23:00] #614 closed

[2016-03-18 20:46] bcwalrus commented on #577
@jingpengwu Docker Hub does not show Github organization membership. It's showing the repos that you have, according to the `/user/repos` API (https://developer.github.com/v3/repos/#list-your-repositories). Those repos are then grouped by Github orgs.

For example, if you belong to a Github org but can't access any of its repos, then that Github org won't show up.

If you still think there's somet

[2016-03-19 19:59] pchico83 commented on #616
We have identified the regression. The fix will be available very soon.

[2016-03-20 06:02] hgontijo commented on #11
:+1:

[2016-03-20 06:38] crowne opened #618 "hub.docker.com mobile issues"
When browsing on my mobile chrome 49.0 on android 5.1.1, I can't log in or search repositories.
I can only browse official repositories.

[2016-03-21 23:35] JnMik commented on #213
Dockerhub manage to pull my private repository on bitbucket, start building the thing, but then hit a RUN command line that is supposed to run composer install. All the public dependencies install successfully but the when it hit a private repository in the same bitbucket account, it fails.

RUN bash -c "wget http://getcomposer.org/composer.phar && php composer.phar install"

I've checked the ssh

[2016-03-22 04:34] devyn opened #619 "Can't downgrade from Micro to Free"
I click "Remove Plan" and then "Confirm" but nothing happens at all.

[2016-03-22 09:23] lysender commented on #461
I have this issue too. I have to build the image locally to bypass docker hub temporarily.

[2016-03-22 15:23] pkennedyr commented on #461
We are currently investigating this issue (HIGH-355) and will post an update as soon as the resolution is available.

[2016-03-22 18:06] kizbitz opened #620 "Add button to trigger another build for a tag."
Currently the only way to get an automated build to re-trigger for a tag (in the event of an initial build error) is to remove the tag from Github, and then add it back.

[2016-03-22 19:57] c3s4r commented on #400
The same happens to me. I cannot finish a build with the android SDK. error is "no space left on device".  https://hub.docker.com/r/devsu/teamcity-agent/builds/btvsoywwsm5trtejyy5gbv5/

I'm reading that the build vm has some limits, but I'm pretty sure the SDK is not taking 30 GB. https://github.com/docker/hub-feedback/issues/241#issuecomment-136266405

[2016-03-23 08:30] dg-ratiodata commented on #461
@pkennedyr Thanks a lot.

[2016-03-23 14:51] vimalkvn opened #621 "Add support for README.rst (reStructuredText)"
At the moment, a README.rst file in the Github repository is not displayed correctly on the Docker Hub web interface. Please check https://hub.docker.com/r/vimalkvn/docker-openlava-lsa/ for an example. Thanks!

[2016-03-23 15:39] btiernay commented on #313
:+1:

[2016-03-23 22:18] miltondp commented on #616
I'm also having this problem. Any news about the fix? This is preventing us from updating our images.

[2016-03-24 16:30] pchico83 commented on #616
It is now fixed in prod

[2016-03-25 00:37] nukos opened #622 "Change the user ID"
I create account.
But, The wrong ID.
Is it possible to change the user ID?

[2016-03-25 00:51] theodorosploumis commented on #456
+1

[2016-03-25 08:51] meibe opened #623 "Can't upload image to hub - Error pushing to registry: Server error: 500"
Can't upload image to hub

Error pushing to registry: Server error: 500 trying to push linemedia/vitrina blob - sha256:f99183da1df4d1cfb71cdfea117e8cd6255749620b234e7eeffff1ade69f0bf5

08:22:31 root@monitoring (~)> docker push linemedia/vitrina:v0.0.4
The push refers to a repository [linemedia/vitrina](len: 1)
9d82b4247594: Pushing [==========================>                        ] 2.377 GB/4.4

[2016-03-25 11:21] fox91 opened #624 "Add tag without re-upload the same container"
I've downloaded one of my automated image (`fox91/nginx:latest`).

[code]

I've added tag with `docker tag fox91/nginx:latest fox91/nginx:1.9.12`.
When I push the tag into hub, docker start uploading:

[code]

Why?
The image is the same! Not modified at all!

With other repositories I do not have this problem.

[2016-03-25 14:47] andrew804 commented on #313
:+1:

[2016-03-29 11:09] Oloremo commented on #461
Any updates?

[2016-03-29 16:51] mathiasconradt commented on #477
@friism Neither the workaround nor the Release 1.10 works on **Windows Server 2016 TP4**:

This is the result with **Docker version 1.10.0-dev, build 18c9fe0**, which was standard for TP4 as per documentation (https://aka.ms/tp4/New-ContainerHost).

[code]

I then downloaded the Docker Toolbox tagged 1.10 (**Docker version 1.10.0, build 590d5108**) and tried again, same 403 error:

[code]

My .doc

[2016-03-29 17:04] mathiasconradt commented on #473
@friism @thaJeztah  Neither the workaround nor the Release 1.10 works on **Windows Server 2016 TP4** for "`docker push`", it only works for "`docker login`":

This is the result with **Docker version 1.10.0-dev, build 18c9fe0**, which was standard for TP4 as per documentation (https://aka.ms/tp4/New-ContainerHost).

[code]

I then downloaded the Docker Toolbox tagged 1.10 (**Docker version 1.10.0,

[2016-03-29 19:21] ppadialitrs commented on #473
Is possible get your network traffic for this reques + response?

[2016-03-29 20:29] pericazivkovic opened #625 "Link to parent repositories from Dockerfile view"
On Dockerfile view tab it should be nice to be able to "browse up" to parent repos.

E.g. if I see
`FROM java:openjdk-7-jre`
in the Dockerfile source, I would like to click on **_java_** and jump straight to the corresponding repo (https://hub.docker.com/_/java/) so that I can see what is used as a base.

[2016-03-29 22:38] mathiasconradt commented on #473
@ppadialitrs Not sure how to get the Docker traffic. No idea how to use [Wireshark](https://www.wireshark.org/) to actually see request and response bodies. I tried [Fiddler](http://www.telerik.com/fiddler), but I don't see Docker traffic (i.e. from login request via powershell). Not sure how to configure the Docker daemon (in my case the Docker daemon is on Windows as a service using C:\Windows\s

[2016-03-30 00:10] rburton opened #626 "Docker Hub - Returning old containers and not deleting containers."
I've been burning a lot of time on hub.docker.com.

One scenario, if I push a container to hub.docker.com, it will only return on a pull the prior version. Even if I delete the repository and recreate it with the new image. To validate it's a Hub problem, I pushed the container with a different name and it worked correctly.

I have _no_ faith that what I'm pulling from hub.docker.com is even remot

[2016-03-30 00:14] rburton commented on #626
It finally got removed, but I still don't see the new repository that was pushed. I'm going to cancel my account with Docker and go to another Registery. This is too problmatic for me to trust.

[2016-03-30 03:43] willseward opened #627 "Several of builds per repo push"
When using regex to select the tag name from a tagged git repo, an automated docker repo starts around 20 build jobs.

![screen shot 2016-03-29 at 10 44 05 pm](https://cloud.githubusercontent.com/assets/5386568/14131337/caa76ffa-f5ff-11e5-9833-4b19d1b8ee90.png)

[2016-03-30 12:00] sam9046 commented on #461
Having the same issue here...

[2016-03-30 14:37] schickling commented on #508
This would make multi-version maintenance of images a lot easier

[2016-03-30 15:08] pchico83 commented on #508
This is available in Docker Cloud, which uses the same backend than Hub for autobuilds. The way to do it is to define autobuild env variables, an write a `build` hook that does the `docker build` command with the required build arguments.
https://docs.docker.com/docker-cloud/feature-reference/automated-build/
https://docs.docker.com/docker-cloud/feature-reference/automated-testing/

[2016-03-31 03:15] cqtest opened #628 "unable to delete organisation"

[2016-03-31 09:27] mathiasconradt commented on #473
@ppadial

When I try to push with my old **Docker version 1.10.0-dev, build 18c9fe0**, which came with Windows2016 TP4, but using the **workaround** mentioned above to adjust the config.json:

`docker push mathiasconradt/mysorba`

it still tries to push to "https://registry-win-tp3.docker.io v2" as I can see in the log (complete log: http://pastebin.com/CLUbYazq):

[code]

even though I have https

[2016-03-31 18:26] donniev opened #629 "Unable to drop Private repo plan"
I want to change from the $7/mo plan back to the free plan but that option is not available on site or at least I can't make it work.

[2016-03-31 18:37] mghazizadeh commented on #629
that option is here.. https://hub.docker.com/account/billing-plans/
You should be able to click on the "remove plan" link above where it says "current" plan.
Let us know if that doesn't work.

[2016-03-31 18:45] donniev commented on #629
i click on that and then click on confirm but nothing happens.
It generates a javascript error.
console:   BillingPlans.jsx:109 Uncaught ReferenceError: MktoForms2 is not defined

[2016-03-31 21:19] alfred-landrum commented on #629
Hi @donniev - we're sorry that you hit this. While you're on the billing-plans page, after you see the error, reload the page and try removing the subscription again; we believe that will work around the problem. It's a bug we recently introduced that should be addressed soon.

Please let us know if that does or does not work for you; I just confirmed that reloading the page & retrying worked arou

[2016-03-31 21:40] mikew opened #630 ""incorrect username or password" on automated build"
Did an automated build 3 days ago and it worked fine. Pushed some code today and:

<img width="1008" alt="screen shot 2016-03-31 at 6 39 15 pm" src="https://cloud.githubusercontent.com/assets/4729/14191729/ebbced8e-f76f-11e5-9ece-03c7342ce8df.png">

[2016-03-31 23:11] MinnSoe commented on #630
I have the same issue too. Re-triggering doesn't seem to do it either.

    Starting to clone
    Cloning into '.'...
    Cloning done
    Starting Build
    KernelVersion: 3.13.0-40-generic
    Os: linux
    BuildTime: 2016-02-22T21:37:01.910365059+00:00
    ApiVersion: 1.22
    Version: 1.10.2
    GitCommit: c3959b1
    Arch: amd64
    GoVersion: go1.5.3
    Starting build of index.docker.io/min

[2016-03-31 23:33] donniev commented on #629
I was able to use workaround

[2016-04-01 02:18] alfred-landrum commented on #629
Thank you @donniev . I've confirmed from our end that you are back to the free plan, have been refunded for the unused portion, and won't be charged further. Please let us know if you run into any further problems!

[2016-04-01 10:24] pchico83 commented on #630
Is this in Docker Hub or in Docker Cloud?

[2016-04-01 12:44] MinnSoe commented on #630
@pchico83, for me, it's on the Docker Hub. [Example](https://hub.docker.com/r/minn/jekyll-gen/builds/bzkbufma8qi3b2yvukfw6oq/).

Changing the tag from `:2.3` to `:latest` seemed to make it move along, however I'm not sure how correlated it is.

[2016-04-01 12:47] mikew commented on #630
@pchico83 Same for me, was on [Docker Hub](https://hub.docker.com/r/mikewhy/docker-gen-letsencrypt/builds/bkakwpartm8w3y4njrykxh4/). FWIW, changing nothing and just waiting solved it for me.

[2016-04-01 13:23] pchico83 commented on #630
Looks like there was a temporal issue with credentials in hub yesterday.
Please, let us know if it happens again

[2016-04-02 05:58] stefanhong commented on #431
+1 We would love to have this as well

[2016-04-02 11:14] KALRONG opened #631 "Not receiving activate email for new account"
Hi all,

Hope this is the correct place for this.

I have registered on monday (I think) on hub.docker.com but didn't get the email to activate my account so I can't login. I have tried the feature for lost password that resends this email but no luck so far.

My account ID is KALRONG

Thanks in advance!

[2016-04-03 22:22] jingpengwu commented on #577
Thanks for the information. Finally, I found that the problem is in my own `personal setting`. I should grant access for the organization in the `OAuth applications`.

[2016-04-03 23:17] marcusmartins commented on #597
@DDN-Shep I apologize for the slow response. Could you contact support@docker.com and we can fix your account - It looks like you have 2 accounts linked with the same Github account.

@yossisolomon Can you confirm if you're still facing the same problem? Your issue is unrelated to the problem @DDN-Shep is facing.

[2016-04-04 05:04] Mahmoudz commented on #313
:+1:

[2016-04-04 11:47] kizbitz commented on #631
Hi Kalrong,

Could you open a support ticket by sending an email to support@docker.com. I've look at your account and there is an issue I don't want to discuss privately.

When you open the ticket could you also add a link to this issue.

Thanks,

Jerry

[2016-04-04 11:47] #631 closed

[2016-04-04 16:25] jgoulah commented on #619
I had this problem until I disabled my ad blocker, then it worked

[2016-04-05 10:59] KALRONG commented on #631
Sure, thanks a lot

[2016-04-05 11:52] sdesbure commented on #427
Hello, I just had the same issue. That's too bad :(

[2016-04-05 19:13] peetonn opened #632 "Docker push of large image fails with "500 Internal Server Error""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `docker -t -i run peetonn/docker-ndnrtc-ubuntu14.04:webrtc-head44 /bin/bash`
2. inside the image:
2.1. add these lines to `/etc/apt/sources.list`:

[code]

2.2. run (can take a while to compile and sync webrtc rep

[2016-04-06 16:10] lgibelli commented on #461
+1

[2016-04-07 11:08] dg-ratiodata commented on #461
Sorry @pkennedyr to bother you again. Any updates for the issue? Seems to be a rather complicated one. Can we help you?

[2016-04-08 02:18] rafaelsoaresbr commented on #500
Any news about this request?
It would be nice to keep track of base image files.

[2016-04-08 04:53] zh99998 opened #633 "Can't find deploy keys"
I have submodules in my github repo via ssh protocol, and then can't auto build

it says

[code]

but I can't find deploy keys as documented in Build Details / Build Settings page

my repo and submodules are all **public**.

build logs

[code]

[2016-04-08 17:15] choppedcode commented on #461
Having the same issue here:
`Installing : httpd-2.4.6-40.el7.centos.x86_64 8/10 [91mError unpacking rpm package httpd-2.4.6-40.el7.centos.x86_64`

[2016-04-08 22:59] naamunds opened #634 "Feature request: Triggering automated builds of multiple tags of an image"
I would like to trigger automated builds of multiple Docker tags of an image using a single HTTP POST request. I have not yet found a way to do that. Specifically, if I have a repo that has one Dockerfile for tags "preview" and "latest", and another Dockerfile for tag "futures", how would I programmatically trigger builds for both the "preview" and "latest" tags but not the "futures" tag?

Sending

[2016-04-08 23:01] naamunds commented on #634
I asked this question a few weeks ago on the Docker forums but haven't gotten a response, so I decided to post it here also.  Here's [a link to the question there](https://forums.docker.com/t/how-to-trigger-automated-builds-of-multiple-tags-of-an-image/7587).

[2016-04-11 14:25] jakirkham opened #635 "Prominently show SHA256 of image pushed"
The SHA256 let's someone pull down a very particular image if they would like to. This information is currently at the end of the build log. It would be nice if this was shown prominently at the top with other build info.

[2016-04-11 18:15] daniel-smith-kaazing commented on #410
We at Kaazing would like this, too. Any ETA?

[2016-04-12 04:08] kilpatty opened #636 "Docker Ignore File can fail build"
If docker-compose.test.yml is included in the .dockerignore file, a build will fail automatically due to hub.docker not finding the service "sut" in docker-compose.test.yml.

This should be documented somewhere as previously we had a docker-compose.test.yml file for testing our image, and it took us a while to find out that by including that file in the dockerignore (with no effect on the actualy

[2016-04-12 05:47] richburdon opened #637 "API Support"
The V1 API seems to be deprecated, but the V2 API still in "spec" mode. Are there up-to-date docs on the HTTP API? Does Docker still support this?

[2016-04-12 05:51] guss77 commented on #630
This happens again now. It happens sporadically. Logging in with some user solves the problem for me, as well as waiting/recreating the build agent (the build agent is running on an EC2 on demand instance).

This happens to me every few days, when pulling public images. I shouldn't need to have a login for that.

[2016-04-12 10:21] jofan commented on #607
Had the same issue but after running `docker-machine restart default` from the Docker CLI it worked fine for me again.

[2016-04-12 12:22] cyrilchapon opened #638 "Automated build link"
The link "create an automated build" in the doc [here](https://docs.docker.com/docker-hub/github/#creating-an-automated-build) is broken. It points to

[code]

which gives a 404, whereas only

[code]

or

[code]

works

[2016-04-12 19:15] Webysther opened #639 "Please mark HHVM/HHVM as official"
The repository is official of facebook team: https://hub.docker.com/r/hhvm/hhvm/

https://twitter.com/HipHopVM/status/705063018606886912

[2016-04-12 19:57] richburdon commented on #637
The current API requires user/password. This isn't a good option for orgs (e.g., ability to build an admin dashboard showing automated build status for an organization.)

Typically this kind of auth is provided by an API-KEY, such as was implemented by Tutum (now Docker Cloud), which has a pretty good API.

[2016-04-12 20:44] Webysther opened #640 "Better profile page for organizations"
Upload for company image, information and etc.

[2016-04-12 20:46] webysther opened #641 "Rename repository"
public or private support for rename and/or with support for alias/redir after rename.

[2016-04-12 20:58] svenmueller opened #642 "Too many failed login attempts"
We are using Travis to build and push Docker container to Docker Hub. We have huge problems with running the build since the Docker API behaves weird when using `docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"` (the environment variables are set as encrypted variables in `.travis.yml`).

We run multiple builds using the `matrix` directive of travis. Each run triggers a

[2016-04-12 21:12] svenmueller commented on #642
This completly breaks our build pipeline since nearly all builds in the builds matrix fail (which causes the build fail in total). The travis build matrix only triggers 8 builds (using `docker login`). So i can't imagine that we are hitting any API rate limit here already.

[2016-04-13 06:58] SysAlex commented on #396
+1, please add title

[2016-04-13 08:29] dijam commented on #521
I tried several times and waited a week and tried again, I cannot change my plan to paid one because of an error in payment form. it says:

Completely general message! Can you please guide me? I was trying to do the payment from Sweden via Business Master Card.

[2016-04-13 09:38] thaJeztah commented on #521
@dijam can you contact support@docker.com ? they should be able to look into your issue

[2016-04-13 13:02] frekele commented on #11
+1 and change username too.

[2016-04-14 07:33] vahobrsti commented on #369
For those who are still looking for a way to work with Docker and have problem with pulling images from docker hub, I solved my problem with the following solution:
OS: Ubuntu 15.10
Docker Version: 1.11.0
`sudo gedit /etc/default/docker`
then add this line to the file
`DOCKER_OPTS="--registry-mirror https://docker.mirrors.ustc.edu.cn"`
then enter the following commands:
`sudo mkdir -p /etc/systemd

[2016-04-15 14:41] thaJeztah commented on #639
Can you open this request in https://github.com/docker-library/official-images ? I think that's the place to ask this

[2016-04-15 19:48] Webysther commented on #639
docker-library/official-images/issues/1638

[2016-04-15 19:48] #639 closed

[2016-04-15 20:01] thaJeztah commented on #639
Awesome, thanks!

[2016-04-16 07:37] armmen commented on #627
I am seeing 2 builds on default trigger
<img width="841" alt="screen shot 2016-04-16 at 11 36 45 am" src="https://cloud.githubusercontent.com/assets/956011/14579770/9c2a0cde-03c7-11e6-9e2e-cf7b1b90aa51.png">

[2016-04-16 16:29] willseward commented on #627
I wonder if #578 got resolved.

[2016-04-18 01:18] janeczku opened #643 "Document "build throttle" for automated build triggers"
I am triggering two builds from the CI with each release:

[code]

The second build is never executed. Instead the following message shows up in the trigger log:

I tried to wait for 10 seconds between submitting the triggers but that did not help either. I haven't found any documentation concerning this build throttling mechanism. What is it based on?

[2016-04-18 11:54] sleewoo opened #644 "This server does not respond to non-GET requests"
Did not receive confirmation email so went to Help / Support.
"Resend Confirmation" button redirects to https://hub.docker.com/account/resend-email-confirmation/?next=/account/jwt page which says "This server does not respond to non-GET requests".

Can you please resend the confirmation email to crudle at sleewoo.com

Thank you.

[2016-04-18 12:56] thaJeztah commented on #644
@sleewoo can you send an email to support@docker.com? They should be able to look into your issue

[2016-04-18 12:59] sleewoo commented on #644
thanks

[2016-04-18 13:04] #644 closed

[2016-04-18 19:58] gtirloni opened #645 "docker push: unauthorized: authentication required"
Repository is this: https://hub.docker.com/r/gtirloni/hellonode

# Logout results:

$ docker logout
Remove login credentials for docker.io

# Login results:

$ docker login
Username: gtirloni
Password:
Email: user@domain.com
WARNING: login credentials saved in /home/user/.docker/config.json
Login Succeeded

# Push image error:

$ docker push docker.io/gtirloni/hellonode:latest
Do you really want t

[2016-04-18 20:10] gtirloni commented on #645
Same error that happened on CentOS 7.1 with Docker 1.9.1 is also happening on another box running Fedora with Docker 1.10.3

[2016-04-19 06:12] bcwalrus commented on #634
@naamunds I think there are 2 parts to your question.

1. How to trigger builds for different tags (or build rules) for the same branch? You've actually found the solution, which is to specify `"docker_tag": "latest"` in the POST json. But that only support a single tag.

2. How to assign multiple tags to the resulting image of a single build? In this case, you'd like to build once, and push the i

[2016-04-19 14:21] samber opened #646 "[API]: Missing api request to add a team to a repository"
<img width="1290" alt="screen shot 2016-04-19 at 16 21 05" src="https://cloud.githubusercontent.com/assets/2951285/14642449/c4a91530-064a-11e6-8c76-7786c83adc35.png">

[2016-04-19 18:02] liggitt opened #647 "Dockerhub returns 401 for newly granted token when load balancing to clock-skewed server"
moved from https://github.com/docker/docker/issues/22158

**Steps to reproduce the issue:**
1. Request a token from dockerhub (`GET https://auth.docker.io/token?scope=repository%3Alibrary%2Fmysql%3Apull&service=registry.docker.io`)
2. Immediately use the token to make an API request

**Describe the results you received:**
A 401 response is sometimes returned

**Describe the results you expected:**

[2016-04-19 20:44] marcusmartins commented on #647
Thanks for detailed report and test case. We're investigating.

cc @nwt

[2016-04-20 03:01] dkhaws77 commented on #645
Same issue happening to me:
Docker version 1.9.1, build 78ee77d/1.9.1
CentOS Linux release 7.1.1503 (Core)

[2016-04-20 10:59] gtirloni commented on #645
Talked to people in #atomic and it looks like this is a regression in the CentOS package. The RPM from Docker doesn't have this issue. v1.10.2 solves it but it has not been pushed to updates yet. You can try fixing config.json manually.

[2016-04-20 11:50] danmx opened #648 "Can push an image past the private repo limit"
I have one private repository and defaults set to create new private repos. When I pushed new image to the hub server didn't check the limit and created another private repo. Result was:

I didn't get any information about being charged extra nor trial didn't kicked in.

[2016-04-20 13:23] gtirloni commented on #645
@dkhaws77 your ~/.docker/config.json should use "https://index.docker.io/v1/" instead of "docker.io" as the registry name.

[2016-04-20 13:23] #645 closed

[2016-04-20 14:23] edevil commented on #572
Exactly. A read-only account that we can include in deployment scripts without too much concern. And proper ACL support... Features that are already available on Docker Trusted Registry, but I need a hosted solution.

[2016-04-20 19:11] frioux commented on #402
This seems to be fixed for me now.

[2016-04-21 03:47] ahnick commented on #513
@rrarunan What is the status on this issue?  I just ran across this today and I thought there was a limit at 10 people, so I ended up removing old individuals.  It seems like this should be a relatively simple fix.

[2016-04-21 12:40] jperrin commented on #461
So what can be done here? This issue on the dockerhub is a bit of a blocking issue, as many things rely on capabilities flags set on files.

[2016-04-21 12:51] ambodi commented on #633
Same here!

[2016-04-21 12:54] ausil commented on #461
A lot of packages in modern distros have replaced setuid/setgid binaries with filesystem capabilities, this problem will only get worse unless not addressed properly. filesystem capabilities need to be a first class citizen.

[2016-04-21 18:24] MichaelSimons commented on #384
@pchico83 regarding your suggestion on using the "post_push" hook to push the image with a different tag.  What is the recommended way to get authenticated within the post_push script in order to do the push?  I was hoping this script would be able to utilize the authentication scope of the calling build script but that doesn't appear to be the case.  Whenever I make a push request I get `unauthor

[2016-04-21 21:30] naamunds commented on #634
@bcwalrus Thanks for the suggestion. @MichaelSimons and I are looking into the workaround you mentioned to see if it works for us.

[2016-04-21 21:48] semberal opened #649 "CC feed"
It would be awesome if Docker Hub published a CC feed, so we could add Hub automated builds to [CCMenu](http://ccmenu.org/).

[2016-04-21 23:26] dkhaws77 commented on #645
Perfect.  Thanks @gtirloni.

[2016-04-22 04:47] ve3 opened #650 "Cannot browse hub.docker.com"
Logged in to hub.docker.com
Click on explore
 - Nothing happens, I must reload that page then the list showup.
Click on page 2
 - Nothing happens. Can't go to page2.

Most link on hub.docker.com are broke and cannot go anywhere.
Cannot search cannot browse anywhere.

Browser: Firefox 45.0.2
OS: Windows 10

[2016-04-22 11:23] pchico83 commented on #633
@zh99998 could you share the name of the repo?

[2016-04-22 11:25] pchico83 commented on #384
@MichaelSimons Yes, it should use the same auth scope. Are you pushing the tag to the same repository? If not, does the owner of this repo have access to the repository you are pushing to?

[2016-04-22 12:08] zh99998 commented on #633
mycard/ygopro-images-generator

[2016-04-22 12:32] pchico83 commented on #633
@zh99998 Docker Hub works a little different than Docker Cloud and we plan to encourage our users to move to Docker Cloud, where you can do autobuilds and also do other things like testing pull requests or defining environment variables for your build.
Docker Cloud uses a different mechanism to clone the git repository, I think it will work for your case, could you give it a try?

[2016-04-22 15:00] zh99998 commented on #633
it not works, I don't know why. just empty log http://postimg.org/image/6wq6o6cc7/
I tried trigger a new build it's still empty log.

and btw

encourage users to move to Docker Cloud is a DISASTER for individual developers and non-profits. it's tooooooooo expensive.
for my project I'm using 4 servers in different locations and cost only $35 / month ($5 + $20 + $10 + free). then I need to pay docke

[2016-04-22 15:49] MichaelSimons commented on #384
@pchico83 Yes I am pushing to the same repository.  Here is the post_push script I have been experimenting with.

[code]

This results in the following output from the docker hub build.
[code]

[2016-04-23 01:53] timgjr commented on #11
Yes! +1

[2016-04-23 18:35] probonopd commented on #461
+1

Is there any known workaround, e.g., a way to tell `yum` not to set the flags?

[2016-04-23 19:06] lgibelli commented on #461
The simplest and dirtiest, ugliest workaround is to isolate the packages that fail to install and add:

yum -y install packagename || true

to the top of your Dockerfile.

This should be really fixed by Docker team though.

--
L.G. - Sent from my mobile

[2016-04-23 20:39] pchico83 commented on #384
It fails to load the docker conf file, the file that contains the docker credentials. Can you check the content of this file and see if there is something wrong?

[2016-04-25 08:44] pchico83 commented on #633
@zh99998 It is blocking your builds because looks like there is a pending payment in your account. We are investigating the real reason.
The Docker Cloud Build service charges the same as Docker Hub autobuilds and it is free while in beta. You don't need nodes to use this service. And it has more features than the Hub counter part, like ENV variables and tests for pull requests.

[2016-04-25 10:50] cristina-grosu opened #651 "Cannot push locally built docker image to public repo in dockerhub"
Steps to reproduce:

- build docker image from github project
- login into dockerhub
- tag docker image
- try to push tagged image to dockerhub

Error:
Please login prior to push:
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x29 pc=0x686108]

goroutine 1 [running]:
github.com/docker/docker/api/client.(*DockerCli).clientRequestAttemptLogin(0xc20

[2016-04-25 10:53] pchico83 commented on #384
@MichaelSimons also, could you try to autobuild from Docker Cloud?

[2016-04-25 20:22] MichaelSimons commented on #384
@pchico83 I create an autobuild in Docker Cloud for the same Dockerfile and post_push script and everything worked.  I inspected the $DOCKERCFG variables between Docker Hub and Docker Cloud.  The Docker Hub variable looks like the following
[code]
The Docker Cloud variable has two auth entries but doesn't contain the outer auths element.
[code]
I updated my post_push script to update the /root/.do

[2016-04-25 21:58] remohammadi commented on #369
The message has been updated a while ago:

[2016-04-26 08:58] pchico83 commented on #384
@MichaelSimons Yes, I opened an issue to fix it in Hub. I will get back to this issue when it is fixed, but you can make use of Docker Cloud Build service in the meantime. We recommend to switch to Docker Cloud Build service since it is more actively maintain and it has some more features as executing tests for pull requests, the ability to define build env variables or the ability to execute the

[2016-04-26 14:41] pchico83 commented on #633
@zh99998 We have fixed the issue in your account.
Could you try to build from Docker Cloud to see if it works now?

[2016-04-26 17:57] vito commented on #647
We're seeing this pretty frequently. I really don't want to add retry logic for this since `401 Unauthorized` is especially "fatal". I suppose we could add a sleep instead but it depends on how drifty your clocks are. :)

[2016-04-26 20:46] marcusmartins commented on #647
We're working on a fix and it should be live soon.

[2016-04-27 07:25] CL0SeY opened #652 "Docker Hub Automated builds do not cache layers"
Builds are slower on Docker Hub compared to building the same Dockerfile on a static same host. This is especially evident if bringing in a large number of dependencies (e.g. node npm install).

It would be good if layers from previous build could be re-used across runs. This would reduce the amount of CPU time builds take, and reduce bandwidth requirements.

[2016-04-27 08:32] zwarag commented on #334
@kencochrane Will this work with private hosted GitLabs to or only with the main one?
Or same question just different, do you plan on adding support for plain git like quay.io does?

[2016-04-27 10:13] HariSekhon commented on #641
+1 this is such an important feature - Github does this well.

[2016-04-27 10:15] HariSekhon opened #653 "Feature Request: change Github source repo address"
Feature Request: ability to change Github source repo address

[2016-04-27 10:17] HariSekhon commented on #422
I'm also frustrated by the slowness of automated builds on DockerHub. Perhaps more capacity needs to be added?

[2016-04-27 10:20] kencochrane commented on #334
@pchico83 @dustinlacewell @caervs Can you answer those questions?

[2016-04-27 10:38] HariSekhon commented on #468
I'm also very frustrated with the speed of automated builds - I think they just need more capacity to run builds?

[2016-04-27 10:40] HariSekhon opened #654 "Unable to add linked repository before it's first build"
I don't see any good reason why a linked build shouldn't be able to be configured before that's automated build's first build has completed successfully, it's just configuration at that stage.

Relates also the the other automated build taking hours before running #468

[2016-04-27 15:00] kajmagnus commented on #551
Hi, see https://github.com/docker/hub-feedback/issues/358

[2016-04-27 16:06] mcgeeco commented on #642
Why doesn't the error message say how long I'm locked out for? What am I supposed to do now? Surely resetting your password should reset the login attempts? This is nuts.

[2016-04-27 17:49] pkennedyr commented on #334
Thanks for the feedback! We are actively expanding our list of supported source providers on both Docker Hub and Docker Cloud and are targeting support for GitLab later in 2016.

Re: linking to a custom Git repository, we are happy to explore this option as well. Please upvote here to indicate interest in this feature, which will help us prioritize accordingly.

[2016-04-27 21:00] RikuXan opened #655 "Unexpected error on automated build"
I'm trying to let my Image build on Docker Hub and getting a failed build with the message `Build failed: Unexpected error`.

The complete output is:

    Starting to clone
    Cloning into '.'...
    Note: checking out '2def0101328c9ac33ef7cf405ca04b2c5f60778a'.

    u are in 'detached HEAD' state. You can look around, make experimental
      changes and commit them, and you can discard any commi

[2016-04-28 09:11] #655 closed

[2016-04-28 13:15] priestlyemu opened #656 "ubuntu:latest (16.04) image does not contain 'sudo', breaking old Dockerfile builds"
I have a number of Dockerfiles that are based on a plain 'FROM ubuntu'. These containers depend on 'sudo' being installed, which up until 14.04.4 the latest image had.

When 16.04 became the latest, my containers broke. While I understand I can modify my containers to use 14.04 specifically or install sudo, it seems this change might cause problems for others, so I thought I'd report it.

% docker

[2016-04-28 15:13] rafaelsoaresbr commented on #656
I think the right place to submit a issue is here: https://github.com/tianon/docker-brew-ubuntu-core

[2016-04-28 17:47] priestlyemu commented on #656
Done - thanks, didn't really understand where to best report it.

[2016-04-28 17:47] #656 closed

[2016-04-29 02:41] brorbw opened #657 "Unable to find node modules installed globally"
I get an error from node when trying to use installed modules
It says Unable to find module "xxx"

Dockerfile
[code]

And

docker-compose.yml
[code]

Trying to use any of the modules resultet in the error, and i know the modules is installed. I checked manually. If you install with the "-g" option the modules go in "/usr/local/lib/node_modules/". This bug might not be related to Docker at all. But

[2016-04-29 13:41] HariSekhon opened #658 "Dashboard of all Automated Builds status"
Feature request to show the status of the last runs of all automated builds on single page dashboard.

Right now it's difficult to manage lot of interdependent automated repositories not knowing which ones have a currently failing build without clicking through all their Build Details subpages or piecing together from email notifications.

[2016-05-01 06:24] xcrezd opened #659 "github auto builds no perms"
Hi, im trying to setup git hub auto builds and get the error(i see it only in debug console - not in UI)

{"detail": "You do not have permission to perform this action."}

I dont have reached limits with private repo yet, so its look like a bug.
![screenshot_2016-05-01_09-03-06](https://cloud.githubusercontent.com/assets/1153266/14940442/f68199e2-0f7d-11e6-8e5b-fe52e34e70a0.png)

This is the Reque

[2016-05-01 12:05] greyltc commented on #313
:+1: This feature is pretty important to me.

[2016-05-02 08:13] #659 closed

[2016-05-02 22:15] monokal commented on #328
+1

[2016-05-02 22:39] peetonn commented on #632
I tried the reproduce this problem on Ubuntu host machine - instead of getting Error 500, image pushing starts all over again after countdown (message "Retrying in XX seconds..."). It never succeeds in upload and stuck in infinite loop of image pushing.

[2016-05-02 23:29] peetonn commented on #632
After several tries (which took several hours btw, as the image is huge - 9.5GB) it eventually returned code 500 Internal Server Error.

[2016-05-03 17:04] dustinlacewell commented on #461
Hello. We are currently investigating this issue and would like to solicit anyone having this issue to provide a public autobuild as a reproducing case that we can test against. We'll be monitoring this thread for responses.

[2016-05-03 17:14] jperrin commented on #461
@dustinlacewell the centos httpd container is a good example of this. https://hub.docker.com/r/centos/httpd/builds/

[2016-05-03 18:11] probonopd commented on #461
Use the `centos:6.7` docker image and try to run

[code]
The rpm command will not exit cleanly and will throw `error: unpacking of archive failed: cpio: cap_set_file`.

[2016-05-03 21:43] jeffgeiger commented on #461
@dustinlacewell I second @jperrin.  The httpd container is probably one of the simplest cases.  If you need more examples, here is another: https://hub.docker.com/r/jeffgeiger/centos-pmwiki

[2016-05-04 01:42] jtgasper3 commented on #461
Here's another example: https://hub.docker.com/r/jtgasper3/centos-shibboleth-sp/

[2016-05-04 06:21] dustinlacewell commented on #461
@probonopd Hmm when running this on one of our existing hosts with no changes I get:

`[root@323d01a5a585 /]# rpm -ivh ftp://fr2.rpmfind.net/linux/sourceforge/f/fu/fuduntu-el/el6/current/UNSTABLE/RPMS/glibc-common-2.15-60.el6.x86_64.rpm ftp://fr2.rpmfind.net/linux/sourceforge/f/fu/fuduntu-el/el6/current/UNSTABLE/RPMS/glibc-2.15-60.el6.x86_64.rpm ftp://fr2.rpmfind.net/linux/sourceforge/f/fu/fuduntu

[2016-05-04 06:48] StefanScherer opened #660 "Windows images not visible"
I have pushed some Windows Docker images to Docker Hub with TP5, but they aren't visible at https://hub.docker.com/r/stefanscherer/

<img width="1440" alt="docker-images" src="https://cloud.githubusercontent.com/assets/207759/15006939/e239c924-11d4-11e6-95ca-66710c104232.png">

From another TP5 machine I cannot pull them, but after a `docker login` I can pull them. So they seem to be there. It see

[2016-05-04 16:01] uday-shetty commented on #660
The issue was fixed yesterday. When did you push the image?

[2016-05-04 16:17] mlham opened #661 "Don't want to have to make a wordpress account just to have an image on on docker hub :)"
As you can tell from the directions ... gravatars are WordPress specific things. Some of us don't use wordpress for all kinds of reasons and having another account is just for an image is a bad plan. Can you please look into having the option of uploading an image for docker hub?

[2016-05-04 16:37] StefanScherer commented on #660
I've pushed them two days ago. Today I was able to pull them without a login. And yes, I can see my swarm-windows image with all the tags. So I just should push again to make them visible.
Thanks!

[2016-05-04 16:37] #660 closed

[2016-05-04 16:51] uday-shetty commented on #660
Thanks!

[2016-05-04 19:28] dhawal55 commented on #11
+1

[2016-05-05 09:27] BlueHotDog commented on #633
Where can i find the deploy keys? so frustrating

[2016-05-05 14:24] st4rg33k opened #662 "Link Bitbucket not work"
The link Bitbucket not working.

[2016-05-05 21:17] ichekrygin opened #663 "Cannot activate"
Username: ichekrygin
Opened issue w/ support.
Got back reply:
"Hello,

Thank you for contacting Docker Support! Your request (#14335) has been submitted ...."

Clicked on request id (#14335)

![image](https://cloud.githubusercontent.com/assets/324803/15057572/5189d330-12cc-11e6-8396-9f7c9b6fa805.png)

Clicked on "Resend Confirmation"

Reply: This server does not respond to non-GET requests

[2016-05-05 21:36] bharath-cchmc commented on #313
+1

[2016-05-06 02:00] simonbrady commented on #522
Same issue here: the build works once I manually trigger it, although to get the Trigger button to appear in the UI I have to match an explicit tag rather than the default regex.

[2016-05-06 02:05] simonbrady commented on #620
While working around #522 I found that the Trigger button will show in the UI if you match an explicit tag name, but if you try to match a regex the button vanishes as soon as you type the trailing slash in the Name field.

This might be intentional (does triggering on a regex mean we should rebuild every tag that matches that regex, or just the latest?), but if so could it please be called out in

[2016-05-06 11:45] soltysh commented on #647
@marcusmartins any news on the progress?

[2016-05-07 21:27] Hainish opened #664 "Could not link create automated build for Github team repo"
I'm trying to create an automated build for a github repo I admin and belongs to a team:

https://github.com/efforg/phantom-of-the-capitol

But when I link my account, I'm only able to create autobuilds for repos  that belong to me.

[2016-05-08 10:10] ikourfaln commented on #345
+1

[2016-05-09 15:23] kizbitz opened #665 "Add ability to edit credit/debit card information for current subscription on an organization."
Currently there isn't a way to edit credit/debit card (and related info) on a subscription plan for an organization

[2016-05-09 18:15] clashdot opened #666 "Repository does not exist"
After proper login, and checking in the web page that the repo is declared, the docker push command
      $ docker push [user]/[repo-name]:[tag]
returns
     The push refers to a repository [docker.io/[user]/[repo-name]]
     Repository does not exist: [user]/[repo-name]

Here is the client info
$ docker version
Client:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:

[2016-05-10 11:47] joschne commented on #478
the same issue for me. I have a private repo: https://github.com/joschne/geovistory. Automated Build worked before, but not anymore. When clicking on "Manually trigger a build" it shows "triggered" but nothing happens. Thx

[2016-05-10 13:44] orlando opened #667 "I'm trying to pay you, but you don't let me"
I'm getting this error message when trying to update my subscription

![httpshub docker comaccountbilling-planscreate-subscriptionplanindex_personal_medium_2016-05-10_21-40-16](https://cloud.githubusercontent.com/assets/849872/15148541/369d3604-16f8-11e6-8209-72e0f2635a33.png)

[2016-05-10 16:03] esmail commented on #456
+1 to this/#460.

[2016-05-11 04:56] dwmkerr commented on #373
Any idea why this issue is closed? Hyphens in names is pretty important and #280 seems to be about short names...

[2016-05-11 08:45] paddy-hack commented on #373
This issue hasn't been closed, the docker-solr/docker-solr#24 issue has.

[2016-05-11 11:09] gordonsyme opened #668 "Typo in Trusted Registry CTA"
![screen shot 2016-05-11 at 12 02 52](https://cloud.githubusercontent.com/assets/1714741/15178896/6e813160-1770-11e6-9526-31d6ade55850.png)

This should read "Need an on-premises registry?"

"premises" is used in the singular to mean the collection of buildings, land etc that are considered a property.
A "premise" is an assumption used for a logical argument.

[2016-05-11 13:56] jeroenpeeters commented on #341
+1 I also want this feature for semantic versioning.

[2016-05-11 16:25] thaJeztah commented on #668
Can you provide the URL where you found that typo?

[2016-05-11 16:43] gordonsyme commented on #668
It's literally just my Docker Hub dashboard which has a URL of https://hub.docker.com/ according to my browser.

The CTA shows on the right, but only shows when you've created at least one repository.

[2016-05-11 16:50] thaJeztah commented on #668
oh thanks! I wasn't logged in :smile:

I'll pass it on to the team

[2016-05-11 20:49] psi-4ward commented on #461
Any updates?
We really need Apache in our images

[2016-05-11 20:52] jperrin commented on #461
Agreed, @dustinlacewell can you provide a status on this? It's becoming a large problem.

[2016-05-12 06:54] xrow commented on #461
Wrote a support request https://support.docker.com/hc/en-us/requests/14669 . It is somewhat ridiculous that there is no progess since such long time for such an blocker.

As a workaround we were forced to pull up private registries, but we can`t share our efforts nor colloborate.

[2016-05-12 09:03] Dids commented on #313
+1 especially now that Github's gone all unlimited on us, so we can finally move from Bitbucket to Github, which would break automated Docker Hub builds.

[2016-05-12 21:46] damianoneill commented on #461
+1

[2016-05-13 05:16] dwmkerr commented on #373
Whoops!

On Wednesday, 11 May 2016, Olaf Meeuwissen <notifications@github.com> wrote:

[2016-05-13 14:45] timgjr commented on #284
+ 1000!

[2016-05-13 17:17] PaulHughes01 commented on #461
+1

[2016-05-14 13:32] paykoob commented on #369
some Google sanctions has been removed recently: http://developer.google.com and so on.
any improvement about docker??

[2016-05-14 19:36] evantahler opened #669 "Cannot build from public github project"
re: https://hub.docker.com/r/evantahler/actionhero

I'm trying to set up an automatic build from https://github.com/evantahler/actionhero, but I keep getting an error: `Build failed: please ensure the correct public key is added to the list of trusted keys for this repository and the remote branch exists. (1)`.

<img width="1165" alt="screen shot 2016-05-14 at 12 33 19 pm" src="https://cloud.githu

[2016-05-15 11:24] thomasleveil commented on #332
![2016-05-15_13h18_27](https://cloud.githubusercontent.com/assets/42300/15273625/5ae74788-1aa0-11e6-901a-10661b5edaad.png)

[2016-05-15 21:08] rguiliani commented on #461
+1

[2016-05-15 21:18] m-housh commented on #403
+1

[2016-05-16 23:58] kambiz-aghaiepour commented on #461
+1

[2016-05-17 00:29] kambiz-aghaiepour commented on #461
The suggested workaround didn't work with the automatic builds on hub.docker.com (i.e. yum install -y httpd || true) since it still doesn't actually install the needed httpd package.

[2016-05-17 03:55] keizie opened #670 "notifications@docker.com spam filtered out by gmail"
"Why is this message in Spam? It has a from address in docker.com but has failed docker.com's required tests for authentication.  Learn more" message shows up on top of mail body.
"Learn more" link goes https://support.google.com/mail/answer/1366858?hl=en&authuser=1&expand=5

Mail subject is "There's been an issue with your automated build" which failed with my first hub experience. (that means ma

[2016-05-17 09:02] mikecouk opened #671 "Inability to re-trigger an autobuild is very restricting"
Many of my autobuilds fail due to network problems, i.e. during apt-get installs and updates, I imagine many other users have the same problem, and this causes the build to fail on a constant basis.

Without making any other changes, apart from say waiting for 5 minutes, I want to be able to retrigger the failed build. Using the URL retrigger links doesn't work if the build has already been attemp

[2016-05-17 09:58] pchico83 commented on #671
@mikecouk We are prioritizing build features in Docker Cloud over Docker Hub. In particular, this is already supported in Docker Cloud and also the ability to cancel a running build. You can check it out using you Hub Docker ID

[2016-05-17 10:08] mikecouk commented on #671
ok great thanks, was about to start playing with Docker Cloud, but we have plans to move from github to bitbucket, and didn't see bitbucket on the source list !

[2016-05-17 10:21] pchico83 commented on #313
This is supported in Docker Cloud Build service, we are prioritizing build development in Docker Cloud over Docker Hub.

[2016-05-17 10:32] pchico83 commented on #671
@mikecouk it is coming very soon ;-)

[2016-05-17 10:33] mikecouk commented on #671
then I'm sold ! Thanks !

[2016-05-17 19:43] theGrue opened #672 ""Log in to Docker Hub" fails from support.docker.com, beta.docker.com, etc"
I can log in fine at hub.docker.com, but when I try to access support.docker.com or beta.docker.com, I'm prompted with a "Log in to Docker Hub" screen that asks me to enter my username/password again. Using the same credentials I used at hub.docker.com, I receive an error stating "Please enter a correct username and password."

Sorry if this isn't the right place, I'd love to be able to open a pro

[2016-05-17 20:33] crashbit666 commented on #461
I have same error!

`Installing : httpd-2.4.6-40.el7.centos.1.x86_64                                                                                                                                            1/1
Error unpacking rpm package httpd-2.4.6-40.el7.centos.1.x86_64
warning: /etc/httpd/conf/httpd.conf created as /etc/httpd/conf/httpd.conf.rpmnew
error: unpacking of archive failed on file /

[2016-05-18 00:00] thaJeztah commented on #672
Can you send an email to support@docker.com? They should be able to look into this

[2016-05-18 04:45] pkennedyr commented on #452
Fix has been released for this issue.

[2016-05-18 04:45] #452 closed

[2016-05-18 04:47] pkennedyr commented on #466
Closing as fix has been released for this issue.

[2016-05-18 04:47] #466 closed

[2016-05-18 15:16] pkennedyr commented on #670
We are currently investigating this issue (HUB-2351) and will post an update as soon as the resolution is available.

[2016-05-18 15:35] hurricanehrndz commented on #313
+1

[2016-05-18 20:45] mhart opened #673 "Pushing more than three tags at once fails"
If you perform a `git push` and more than three tags are pushed up, none of these tags are picked up by Docker Hub.

It seems that three tags is the most you can push at once.

This is reproducible, not sporadic

[2016-05-18 20:47] dustinlacewell commented on #461
Hello all. Thanks for all your patience with this issue. We have finally reached a resolution we feel comfortable with. As of today, builders are running Linux 4.4 with Docker 1.11 backed by OverlayFS. We have tested the cases we were able to reproduce and the issue appears to be resolved but we're interested in subsequent feedback.

[2016-05-18 20:48] mhart opened #674 "Queued builds pointing to the same commit build separately"
If you push multiple tags, for example, but those tags point to the same commit, then Docker Hub will build each of those separately (at least if the builds are queued).

Docker Hub should be able to recognise that it's already built a particular git commit, and just add tags to the already-built images.

[2016-05-19 06:33] lvlie commented on #461
Hi Dustin,
My own builds are finally working again, I presume this solved it for all so I'll close this issue.

Thanks!

[2016-05-19 06:33] #461 closed

[2016-05-19 08:31] xrow commented on #461
@dustinlacewell Works for me. Thanks.

[2016-05-19 13:55] dg-ratiodata commented on #461
@dustinlacewell Works for me too - https://hub.docker.com/r/feduxorg/centos-apache/. Thanks a lot.

[2016-05-19 14:45] erikpb commented on #461
@dustinlacewell Works fine here too - https://hub.docker.com/r/naqoda/centos-apache-php/. Thanks a lot Dustin!

[2016-05-19 18:30] radykal-com commented on #461
@dustinlacewell mines works too https://hub.docker.com/r/radykal/centos7-slave-jenkins-php/

[2016-05-19 19:13] mghazizadeh commented on #674
Thanks for your feedback. This is in our backlog. CC @pkennedyr

[2016-05-19 19:16] mghazizadeh commented on #669
Hi, have you been able to resolve this, or does the issue still persist?

[2016-05-19 21:27] evantahler commented on #669
Not really... I believe that I've isolated to the fact that there is a submodule in the project, but it is referential.  The error message doesn't make much sense, but it is indicating that "git-submodle cannot be loaded".

You can see the self-reference here https://github.com/evantahler/actionhero/tree/master/site

[2016-05-19 22:50] evantahler commented on #669
Removing the submodule reference fixed it.

[2016-05-19 22:50] #669 closed

[2016-05-20 16:17] jakirkham opened #675 "Running into checksum error during yum install"
Encountering this issue on DockerHub only. Note that we are doing CI with CircleCI and are not encountering this issue. Log snippet below from a recent [log](https://hub.docker.com/r/condaforge/linux-anvil/builds/bpo92gub7cudu6hmnthwxtd/). This has happened with the last 3 builds.

[code]

[2016-05-20 16:50] bobo commented on #365
6 months for an issue with a broken link and it is still broken?

[2016-05-20 16:59] rrarunan commented on #365
@bobo let us know what issue you are experiencing, this issue should be closed as fixed (i just tested myself) unless we believe you are having the _exact_ same one.

[2016-05-20 18:20] jimador commented on #334
+1 It would be nice to have Gitlab integration, but a custom git solution might be a more generic solution.

[2016-05-20 21:37] rrarunan commented on #365
Closing this until I hear otherwise.

[2016-05-20 21:37] #365 closed

[2016-05-21 15:01] ichekrygin commented on #663
Resolved.

[2016-05-21 15:01] #663 closed

[2016-05-22 08:18] ccit-spence commented on #524
Found this issue via Google trying to solve the same problem for a Java project.

_Github --> CircleCI --> Docker Automated Build --> Docker Cloud_

**Current steps**

1. Commit Code to Github

2. CircleCI picks up commit and builds with Maven --> Output Jar, and Dockerfile

3. CircleCI sends webhook to Docker Automated Build -|||- stuck can't get compiled jar and Dockerfile.

4. Docker Hub trigge

[2016-05-22 23:10] hongymagic commented on #630
Still happening for me too:

[code]

[2016-05-23 01:01] jakirkham opened #676 "Build failed: unauthorized: incorrect username or password"
Running into this issue when trying to pull an image from another organization in an automated build. Here is there error message it gives me. Note I actually am in all relevant orgs and/or am the user whose image is being used when this happens. Also, all images being pulled are public images, but they may or may not be pulled by a public image build.

[code]

[2016-05-23 01:41] peco8 commented on #630
Same here

[2016-05-23 01:54] barberj commented on #630
me as well `Get https://registry-1.docker.io/v2/library/ruby/manifests/2.3.0: unauthorized: incorrect username or password`

[2016-05-23 14:10] jakirkham commented on #671
Sorry, how do you do this in Docker Cloud? I'm not seeing an option to trigger a rebuild.

[2016-05-24 04:39] dennis-tra commented on #630
for me as well with
`Get https://registry-1.docker.io/v2/library/ruby/manifests/2.3: unauthorized: incorrect username or password`

[2016-05-24 04:44] bmleshopventory commented on #630
Getting the same right now:

Build failed: Get https://registry-1.docker.io/v2/shopventory/shopventory-base/manifests/latest: unauthorized: incorrect username or password

[2016-05-24 04:52] peco8 commented on #630
I actually deleted my public repo on Dockerhub, and auto-built it again. Now it works.
Hope it helps!!

[2016-05-24 05:19] bmleshopventory commented on #630
My repo is private

[2016-05-24 05:37] EpicJhon commented on #630
I had the same problem docker hub. Apparently you have to re-login on web, I assume it must be a cookie that expires but the system continues to show the user in.

[2016-05-24 05:47] davefinster commented on #630
Same here:
Build failed: Get https://registry-1.docker.io/v2/mhart/alpine-node/manifests/latest: unauthorized: incorrect username or password
I'm a private repo and they're public.

[2016-05-24 05:58] j0hnsmith commented on #630
Just happened to me on an automated build, everything is public. I tried logging out of https://hub.docker.com and back in but it didn't help.

[2016-05-24 06:14] mrproper commented on #676
Getting the same thing here as of now

[2016-05-24 06:16] typhoonzero commented on #630
Same here:
Build failed: Get https://registry-1.docker.io/v2/typhoon1986/storm-docker/manifests/latest: unauthorized: incorrect username or password
Using dockerhub + github, repo is public

[2016-05-24 06:20] EpicJhon commented on #630
now get this error:

Build failed: Get https://registry-1.docker.io/v2/library/php/manifests/5.6-apache: unknown: too many failed login attempts for username or IP address

Using dockerhub + github, repo is public

[2016-05-24 06:26] rxwen commented on #676
Same issue with my auto build docker image,  https://hub.docker.com/r/rxwen/golang-zeromq/builds/b38h9kvmym5zvdv9nc6raum/

[2016-05-24 06:31] jaichopra commented on #630
Getting this error now attempting to get ubuntu:14:04

[2016-05-24 06:39] fskreuz commented on #630
[code]
hub repos all public

[2016-05-24 06:42] rynr commented on #676
This is a duplicate of #630

[2016-05-24 06:50] rxwen commented on #676
I tried deleted my repository and created again, the issue is gone.
Though, it's not a good way to work around the issue.

[2016-05-24 07:17] davefinster commented on #630
Just got this from Docker support:
"Hi davefinster,

We had problems earlier with our registry authentication service earlier due to the authentication service database being overwhelmed by a database backup operation. We killed that back up job and the authentication service has become operational again.

The impact this service disruption would include failure to push/pull images as well as fail

[2016-05-24 09:08] HariSekhon opened #677 "No space left on device"
I've noticed this "No space left on device" error breaking various builds recently... I can't be sure but I think it seems to happen more around midnight GMT, perhaps because that is peak time US...

[2016-05-24 09:12] HariSekhon opened #678 "Extremely high lag between builds"
I've noticed extremely high wait times for builds to start (often 10 hours). I know this issue is not new but wanted to raise it again as it's quite surprising considering it only takes a couple mins to do a build and if you look at other online systems like Travis it usually only takes a few mins to trigger a build from GitHub.

[2016-05-24 09:17] pchico83 commented on #671
@jakirkham You need to switch to the old UI, the new UI does not have this option yet.

[2016-05-24 15:26] jakirkham commented on #671
Sorry, I read this...

...as it exists and that I just wasn't looking in the right place. Thanks for letting me know this is not the case.

[2016-05-24 15:28] jakirkham commented on #676
Sorry, should have added did the same and it seemed to work. The other repo I saw this on doesn't have this issue any more. So, I'm guessing this is resolved?

👍

[2016-05-24 15:54] yegle commented on #618
Please drop the responsive design. I'd rather like a non-mobile-friendly website instead of mobile-*friendly* but completely unusable website.

![screenshot_20160524-085042](https://cloud.githubusercontent.com/assets/146133/15510587/ea486e1e-218c-11e6-9807-4c02a777e540.png)

[2016-05-24 16:40] tomliddle opened #679 "Can't link bitbucket account."
Error message says problem linking my github account.

[2016-05-24 16:49] rmrf commented on #618
+1 for yegle's suggestion.

[2016-05-24 18:10] marcusmartins commented on #618
cc @akshayvyas

[2016-05-25 07:38] coffeetalkh commented on #369
Hey guys, i think according to U.S Department of the treasury, iran sanctions after 16 January 2016 is lifting as described on [this document](https://www.treasury.gov/resource-center/sanctions/Programs/Pages/iran.aspx):

Which refered as a "historic day", and now after 5 month we still have problem with docker and docker team does not respond to any of these comments.

[2016-05-25 08:23] maysam commented on #369
because these are not "nuclear-related sanctions"

On Wed, May 25, 2016 at 12:09 PM, mehdi hosseini <notifications@github.com>
wrote:

[2016-05-25 11:27] remohammadi commented on #369
I still don't know if this blockage is because of the *Export Administration Regulations (EAR)* or because of a regulation from *Office of Foreign Assets Control (OFAC)*.

If it's because of EAR, I beleive Docker HUB doesn't need any license to provide its public services based by [this advisory opinion of Bureau of Industry and Security](http://www.law360.com/articles/124593/bis-says-anonymous-do

[2016-05-26 08:43] HariSekhon commented on #403
+1

[2016-05-26 10:09] cyrille-leclerc commented on #313
+1

[2016-05-26 11:08] lasconic commented on #269
👍

[2016-05-26 12:54] thozza commented on #334
I guess we don't need Docker Hub for GitLab  any more... https://about.gitlab.com/2016/05/23/gitlab-container-registry/ ;)

[2016-05-26 14:44] sonotude opened #680 "No title on image pages"
https://hub.docker.com/_/rabbitmq/ and other pages have no title metadata.

ie. in the source html `<title></title>`

OS: Windows 10
Browser: Chrome 50.0.2661.102 m
![image](https://cloud.githubusercontent.com/assets/5854391/15578473/7c62de02-2358-11e6-9189-f0c49bef7248.png)

[2016-05-27 05:53] lukosan commented on #679
Same problem but I don't get an error message - when I click the "Link Bitbucket" button it just opens https://hub.docker.com/account/authorized-services/ again in a new tab.

[2016-05-27 19:00] sylnsr commented on #651
Are you using AWS anywhere?  (GO AWS SDK)

[2016-05-27 19:41] meonkeys commented on #452
To get this to work I had to de-auth github from Docker Hub and re-auth, allowing all permissions.

[2016-05-28 12:23] Jerredr commented on #365
This is still an issue for me. Clicking the Bitbucket logo just reloads the page for me.

[2016-05-29 06:08] chriskuehl commented on #280
GitHub allows three-letter organizations; it'd be great for consistency to have them at DockerHub as well. I know there's no requirement, but it's nice if we could have the repo names match up between the two.

[2016-05-29 06:45] sladebot opened #681 "Too many network errors"
There are too many network errors for stuff like `npm install` and `bundle install` etc. What's cooking ?

[2016-05-29 08:11] metal3d commented on #416
Exactly the same issue on my Github project;
https://hub.docker.com/r/metal3d/pandoc-server/

[code]

[2016-05-29 08:14] metal3d commented on #633
See https://github.com/docker/hub-feedback/issues/416 that is the same issue it seems. We cannot build images sometimes when submodules are in use

[2016-05-29 16:48] nalipaz commented on #508
Can someone explain the method described by @pchico83? Because the documentation does not mention anything about a writing a `build` hook, only `hook/pre_build` and `hook/post_build` as part of testing from what I can tell.

[2016-05-30 16:02] nutchaitat opened #682 "Push Repo Organizations is visibility on private"
### Expected behavior
Push Repo Organizations is visibility on private

![screenshot from 2016-05-30 22 52 51](https://cloud.githubusercontent.com/assets/8242227/15653887/09a4f3cc-26ba-11e6-823c-273239e08ed5.png)

[2016-05-30 16:02] pchico83 commented on #508
@nalipaz although it is not documented, it is supported (I will open an issue to improve the documentation). For example, if you define an env var called `VAR` and you want to set it to a build argument called TEST, you can define a build hook adding a `hooks/build` file to the dockerfile folder, whose content could be:
[code]
Note that the hook is executed using the dockerfile folder as working d

[2016-05-30 16:09] nalipaz commented on #508
That is much clearer, thanks @pchico83, and yes it would be very helpful to many I am sure were it documented. Thanks.

[2016-05-31 06:06] hrchu commented on #313
+1

[2016-05-31 14:21] HariSekhon opened #683 "Automated Builds sharing 1 GitHub repo rebuilds ALL images instead of only changed Dockerfile / build context dir"
This is basically the same issue as #403 but I'm re-raising it as it needs more attention among the other 365 issues as this issue results in extremely long build times across all automated builds linked to the same github repo as it rebuilds ALL docker images every time anything in the github repo changes and is surely costing DockerHub money to leave it so inefficient.

[2016-05-31 16:20] cron410 commented on #328
I would also like to know when this is a feature. I currently have a repo that needs to be made private temporarily while upstream dev fixes some issues. Only my user has a private repo credit, not the organization I made.

[2016-05-31 18:40] abobwhite commented on #468
@HariSekhon I think you're right. My single page apps (angular, ember) are taking 10+ minutes to build (npm install, bower install, build). And this is after I made a base image to download node, npm, and bower as a starting point for my app. This process takes only 1-2 minutes in my development environment.

[2016-05-31 20:11] jeremymills opened #684 "Docker Push images not showing up in repository"
Images are failing to be updated/show up in docker hub after a docker push:

I get a successful message that it has been pushed but don't see it in the repository.

[code]

NOTE: it's been 30min since my last push and still nothing has shown up.

[2016-05-31 20:24] jeremymills commented on #684
Update: I can however pull the image down from docker hub, I just can't see it within the dashboard

[2016-05-31 20:44] bcwalrus commented on #679
This is most likely due to the same GitHub/Bitbucket account being already linked to a different Docker account.

We have some internal tasks to improve the UX. Meanwhile, could you let me know your Docker account name and I can check for you?

[2016-05-31 21:04] pkennedyr commented on #468
@HariSekhon, @abobwhite: Thanks for the feedback. We are actively working on features that will enable users to specify the size of machine on which to run builds. We will also be introducing improvements / optimizations to the core build service that will help reduce wait time as well. Stay tuned ...

[2016-05-31 21:55] abobwhite commented on #468
@pkennedyr Thanks for the quick follow-up. I'm assuming with this added benefit there will be some sort of added cost? Do you have any info around what that might be?

[2016-05-31 22:14] pkennedyr commented on #468
@abobwhite We'll be announcing specifics on the feature and packaging later this year ...

[2016-05-31 22:14] bpalermo commented on #11
+1

[2016-05-31 23:03] marcusmartins commented on #684
@jeremymills today we experienced a high volume of push and pull operations and we were taking longer to process new repositories and tags. Can you confirm if you can see your repository now?

[2016-06-01 00:53] xuey90 commented on #365
Hi @rrarunan this still happens for me. Here's a quick screen recording https://www.dropbox.com/s/37ljtqvevphb9ag/dockerhub_bb.mov?dl=0

[2016-06-01 02:39] pkennedyr commented on #365
Hi @xuey90: Can you confirm that your Bitbucket account is not already linked to a different Docker account? Currently, the same GitHub/Bitbucket account can only be linked to a single Docker account, which we have an internal task to improve the UX for.

[2016-06-01 02:55] pkennedyr commented on #403
Thanks for feedback. We have prioritized this FR in our backlog and will post an update as soon as the the feature is available.

[2016-06-01 02:56] pkennedyr commented on #683
@HariSekhon: Thanks for feedback. We have prioritized this FR in our backlog and will post an update as soon as the the feature is available. In the meantime, please refer to https://github.com/docker/hub-feedback/issues/403 for updates as this is a dup.

[2016-06-01 02:56] #683 closed

[2016-06-01 04:04] pkennedyr commented on #662
Dup. Please refer to https://github.com/docker/hub-feedback/issues/365 for future updates.

[2016-06-01 04:04] #662 closed

[2016-06-01 09:10] rafdouglas commented on #416
Here you can find a workaround for the key issue:

https://github.com/docker/hub-feedback/issues/669

[2016-06-01 14:31] aleksandrov commented on #11
+1

[2016-06-01 15:29] jeremymills commented on #684
@marcusmartins I can see them now, thank you

[2016-06-01 15:29] #684 closed

[2016-06-01 17:07] soltysh commented on #647
@marcusmartins ping

[2016-06-01 18:24] yurishkuro opened #685 "Cannot create new organization on hub.docker.com"
When I click Create button, the boundary of the textbox with organization name turns red, but no error message or anything. Looking at the network traffic in inspector I see a failure:

![image](https://cloud.githubusercontent.com/assets/3523016/15720866/4484463c-2804-11e6-9aac-cc2bbf3921fc.png)

I tried different names (one word, hyphen-separated and underscore-separated names), and different bro

[2016-06-01 18:36] yurishkuro commented on #685
* Operating system - MacOS 10.11.4
* Browser and Browser version - Chrome 50.0.2661.102 (64-bit)
* URL for the page in question - https://hub.docker.com/organizations/add/
* Any error messages (on screen or in browser console)
![image](https://cloud.githubusercontent.com/assets/3523016/15721255/2025b576-2806-11e6-8c90-ff514d1b5cec.png)
* The rough date and time the error occurred (be sure to inclu

[2016-06-01 21:52] marcusmartins commented on #685
@akshayvyas @emreboga can you check this issue?

[2016-06-01 21:54] marcusmartins commented on #682
@nutchaitat I am sure what is the bug you're reporting here. Can you give me steps to reproduce or a longer explanation of the issue?

[2016-06-01 21:55] marcusmartins commented on #681
@sladebot Are you having the network errors during your builds on Docker Hub?

[2016-06-02 01:01] emreboga commented on #685
I tried the same and the response is:
`{"orgname": ["Invalid value."]}`
I tried without the hyphens or underscores and it worked.
@yurishkuro can you validate that?

[2016-06-02 02:46] yurishkuro commented on #685
I dug down more into the Inspect tool and found the server response saying "name already in use". So I can get by now, but ideally the UI would show this error message somewhere, rather than just marking the textbox in red border without explanation.

[2016-06-02 03:14] afeld opened #686 "As a user in a large organization, I would like to unsubscribe from build notifications"
I am a member of the [`18fgsa`](https://hub.docker.com/u/18fgsa/) organization on Docker Hub, and while we don't have a _huge_ number of repositories, we have enough that I get automated build failure notifications for repositories I'm not involved with. I would like a way to unsubscribe to individual repository notifications. (Apologies if this option exists and I missed it.) Thanks!

[2016-06-02 04:40] afeld commented on #664
If your GitHub organization has [third-party app restrictions](https://help.github.com/articles/about-third-party-application-restrictions/) enabled, you may need to [request](https://help.github.com/articles/requesting-organization-approval-for-your-authorized-applications/)/[grant](https://help.github.com/articles/approving-third-party-applications-for-your-organization/) access to the Docker Hu

[2016-06-02 05:06] marcusmartins commented on #647
@soltysh @liggitt  are you experiencing the issue? We have deployed a couple of fixes in the last month that should address that issue

[2016-06-02 05:38] marcusmartins commented on #630
For the latest authentication issues in this ticket - we had an intermittent  replication issue starting that impact how our build system authenticate with our repository service, the issue was fixed around May 23 23:30 PDT (May 24 6:30 UTC).

Closing this issue as we have quite a few timelines mixed up. Please open a new issue if you are experiencing authentication issues with auto builds as they

[2016-06-02 05:38] #630 closed

[2016-06-02 05:44] marcusmartins commented on #673
@mhart thanks for the report, I am investigating it.

[2016-06-02 05:49] marcusmartins commented on #673
@mhart can you confirm if you're using bitbucket or github?

[2016-06-02 05:55] marcusmartins commented on #666
@clashdot if you're still experiencing the issue, could you send more details to support@docker.com so we can troubleshoot the issue?

[2016-06-02 05:55] #666 closed

[2016-06-02 06:00] marcusmartins commented on #672
@theGrue can you confirm if your issue was resolved?

[2016-06-02 06:05] marcusmartins commented on #670
The issue has been fixed, new notifications will arrive from `no-reply@notify.docker.com`

[2016-06-02 06:05] #670 closed

[2016-06-02 09:52] soltysh commented on #647
@marcusmartins nope I haven't seen it appearing anywhere in our test cases so far. Iow. I'm ok with closing this issue.

[2016-06-02 10:50] rfc1459 commented on #586
This is not just an issue with Docker Cloud per-se, the current linking method makes using official images with Alpine variants a pain.
Linking a single tag (or detecting the base image using the `FROM` directive of the Dockerfile?) would at least cut down useless builds and subsequent webhook triggers "misfires".

[2016-06-02 12:56] mhart commented on #673
@marcusmartins github

[2016-06-02 13:00] ssbarnea opened #687 "api calls do not return the same list of tags as the web interface (missing tags)"
We have a private docker registry at hub.docker.io and we discovered that the api does not return all the tags that are visible in the web interface.

API call like https://index.docker.io/v1/repositories/company/reponame/tags returns a list that is not the same as the one we are seeing on https://hub.docker.com/r/company/reponame/tags/

Some tags are not returned by the API even after 16h from wh

[2016-06-02 13:52] samuelsinayoko commented on #687
I've had the same problem.

[2016-06-02 18:16] theGrue commented on #672
Yes, I noticed that hub.docker.com (the page that worked) was lowercasing my username in between clicking the login button and submitting the form, while the "Log in to Docker Hub" pages were not. Typing my username in all lowercase letters was able to get me in to those sites.

[2016-06-02 18:16] #672 closed

[2016-06-02 20:10] marcusmartins commented on #672
@theGrue Thanks for reporting the lowercase issue, we have created an internal ticket for it.

[2016-06-02 20:22] emreboga commented on #685
@yurishkuro I created a org with a totally random name (sdfghjkloiuytr_1) but it still failed and I think it's because of the underscore, not because the org exists. I tried without the underscore and it succeeded. I think there might be a problem with the API's error reporting in the first place.

[2016-06-02 21:37] danielgraf opened #688 "Cannot add email address with dot separators before the @"
If I try to add an email address with a dot in the part before the @, it fails validation.

firstname.lastname@organisation.com fails

If I remove the dot it works

firstnamelastname@organisation.com works

but my email does have a dot in there - weird eh ?

<img width="719" alt="dockerhub" src="https://cloud.githubusercontent.com/assets/9585750/15761867/6bf7a394-2912-11e6-96d1-45a9114591ca.png">

[2016-06-02 22:12] jjohnstn opened #689 "Need a way to query public accessible tags from V2 repo without authorization"
The old V1 API for querying a repo for tags did not require authorization.  This has changed for V2.  This should not be necessary when querying a public image tag.  For example, there are 13 public images in the php repo, but because it has switched to V2, it is no longer possible to query these tags without authorization.  However, a user can search php, pull php, and get all 13 of the images wi

[2016-06-03 00:23] metal3d commented on #416
@rajat-docker excuse me, I'm really sorry to say that but... removing the submodule is not a solution for me. And maybe because it's not a docker private repository I don't have any key to add or maybe I'm wrong.

Submodules worked well 1 month ago, today I'm not able to build images with submodules. And removing submodules to add a complete repository content in my project is (IMHO) a bad workaro

[2016-06-03 00:23] bcwalrus commented on #688
Dots should be ok. I suspect that the email is associated with another account already. I'll add a task to improve error reporting.

[2016-06-03 00:24] metal3d commented on #416
@rajat-docker and you can see that my previous comment mentionned the #633 issue ;)

[2016-06-03 01:28] mhart opened #690 "Error {sourceref} in all builds in the last week"
I haven't changed anything in my hub configuration, but all my builds for the last week just say "Error {sourceref}":

https://hub.docker.com/r/mhart/alpine-node-auto/builds/

[2016-06-03 12:45] HariSekhon opened #691 "Scan All Image Tags for Security Vulnerabilities"
I'm aware that docker image scanning for basic vulnerabilities of outdated software is an emerging field and I noticed on the official elasticsearch dockerhub tags that it's getting such scanning.

When are normal user repositories going to be getting scanning safety net?

Additionally - can we have a feature to re-trigger the build of the tag if security vulnerabilities are detected as that would

[2016-06-03 14:24] HariSekhon opened #692 "Cancel individual Automated queued builds"
Considering how slow DockerHub is to build automated builds and there ends up being a backlog of builds in the queue we need an ability to cancel queued builds so that only the latest ones are left in the queue.

[2016-06-03 14:40] wikier opened #693 "Issues building with apt commands with several packages"
I've observed an issue when building images (automated builds) with `apt-get install` commands with several packages. Sometimes I'm getting the following [error](https://hub.docker.com/r/redlinkgmbh/search-ci-env/builds/bujvruh4zqrrf3pgojp62uj/):

[code]

Just moving to individual commands per package (which is not optimal for Docker layers) fixes the issue (see for instance [this commit](https://

[2016-06-03 21:13] bcwalrus commented on #688
@danielgraf Please reopen if necessary.

Btw, you can find out the account associated with the email via the reset password flow. https://hub.docker.com/reset-password/

[2016-06-03 21:13] #688 closed

[2016-06-03 21:36] marcusmartins commented on #693
Hi @wikier thanks for the report. We will investigate the issue with networking between our build infrastructure and the deb packages.

[2016-06-03 21:41] bcwalrus commented on #692
@HariSekhon, thanks for reporting this. As a workaround, build cancellation will be available on cloud.docker.com very soon (next week-ish).

[2016-06-03 21:46] bcwalrus commented on #690
Looking into it.

[2016-06-03 21:50] marcusmartins commented on #682
@nutchaitat I am closing this ticket for now. Please reopen if you have more details or steps to reproduce.

[2016-06-03 21:50] #682 closed

[2016-06-03 21:51] bcwalrus commented on #686
Try Settings -> Notifications -> "Notify me when an automated build fails".

![notif](https://cloud.githubusercontent.com/assets/171078/15793687/7e16cad6-299a-11e6-8a11-f5ae012ed542.png)

(Feel free to reopen if that doesn't work for you. Thanks!)

[2016-06-03 21:54] marcusmartins commented on #678
@HariSekhon thanks for the report. Can you contact support@docker.com with more details?

[2016-06-03 21:55] #678 closed

[2016-06-03 21:58] caervs commented on #677
Hi @HariSekhon. Could you please contact support@docker.com with more info including links to particular builds?

[2016-06-03 22:03] marcusmartins commented on #668
Thanks for the report.

[2016-06-03 22:03] #668 closed

[2016-06-03 22:04] marcusmartins commented on #667
@orlando if it's still issue for you, can you contact support@docker.com?

[2016-06-03 22:04] #667 closed

[2016-06-03 22:07] bcwalrus commented on #676
We had an incident around 5/23 (https://status.docker.com/pages/incident/533c6539221ae15e3f000031/5743f18e0e0ded6f1c000369), which explains the later failures.

@jakirkham I don't know what happened to your original issue. If you see this again, could you contact support@docker.com? Thanks!

[2016-06-03 22:07] #676 closed

[2016-06-03 22:08] caervs commented on #664
Thanks for your response @afeld. That is correct. @Hainish please let us know if you continue to have problems.

[2016-06-03 22:09] #664 closed

[2016-06-03 22:11] marcusmartins commented on #657
@brorbw for general Docker questions, can you post your question on https://forums.docker.com/c/general-discussions?

[2016-06-03 22:11] #657 closed

[2016-06-03 22:17] bcwalrus commented on #651
This sounds like an engine bug. Could you file it under https://github.com/docker/docker? Thanks!

[2016-06-03 22:17] #651 closed

[2016-06-03 22:20] bcwalrus commented on #649
Thanks for the feedback. We have no plans to integrate with CC in the short run. Will let you know when things change.

[2016-06-03 22:20] #649 closed

[2016-06-03 22:21] marcusmartins commented on #647
thanks @soltysh. Closing it for now.

[2016-06-03 22:21] #647 closed

[2016-06-03 22:22] bcwalrus commented on #648
Yeah, the current design optimizes for not failing `docker push`. The newly created repo will be "locked", and can't be pulled. You can unlock it by making it public, or by upgrading your subscription plan.

Closing for now. Let me know if that doesn't work for you. Thanks!

[2016-06-03 22:22] #648 closed

[2016-06-03 22:54] akshayvyas commented on #629
a fix for this issue has been pushed to production.  closing.

[2016-06-03 22:54] #629 closed

[2016-06-03 23:02] afeld commented on #686
Right- that's for notifications from *all* repositories, not on a per repository basis.

[2016-06-04 02:22] caervs commented on #636
Thank you @Skilgarriff. We will be sure to make that clear in the documentation.

[2016-06-04 03:20] orlando commented on #667
@marcusmartins yes, I contacted support and they solved it really quickly. Thanks!

[2016-06-04 03:45] marcusmartins commented on #673
thanks @mhart we are working with GitHub on the issue. I will update the issue when we get a resolution.

[2016-06-04 11:26] barberj commented on #630
I'm still experiencing. I'll open a new ticket

[2016-06-04 22:40] AlanGabbianelli commented on #11
:+1: delete account
:+1: change username

[2016-06-06 11:20] wikier commented on #693
OK, thanks @marcusmartins, let me how how I can help debugging the issue.

[2016-06-06 14:11] HariSekhon opened #694 "DockerHub badly broken bug trying to build ALL Git Branches and ignoring Dockerfile location settings"
DockerHub seems broken after I switched from Git tags to branches for my builds and is referencing branches from other repos when failing a build when that branch isn't even referenced in the build settings of the currently failing repo build!

See this build for an example (update: this has now become blank since fixing see further below)

https://hub.docker.com/r/harisekhon/pytools/builds/b3loje

[2016-06-06 14:20] HariSekhon opened #695 "Git tag/branch regex group captures for auto DockerHub tag naming - {groupN} variables similar to {sourceref}"
Feature Request to support regex group capture variables from Git tags/branches, similar to ```{sourceref}``` which captures the whole thing, ```{groupN}``` can be used to capture a subset using standard regex brace capture.

I've been using git tags and branches heavily for Docker tags, but sharing my Dockerfiles in a single repo to avoid cluttering up my GitHub with tonnes of tiny repos. This me

[2016-06-06 19:25] bcwalrus commented on #695
Try `{\1}`, `{\2}`, etc.

[2016-06-06 19:25] #695 closed

[2016-06-06 20:41] #638 closed

[2016-06-06 23:39] DinisCruz commented on #642
I'm having the same problem (using travis for the builds)

@svenmueller , @mcgeeco How did you solved this issue?

[2016-06-07 06:01] ypcs commented on #680
This is duplicate of #396 (and #124 #125, already closed but issue remains).

[2016-06-08 00:14] bcwalrus commented on #694
Hi Hari, thanks for reporting the bug. I managed to reproduce with the source name set to `//` (an empty regex). Fixing that. Could you confirm that's what happened?

[2016-06-08 00:37] marcusmartins commented on #642
@DinisCruz Can you email support@docker.com with more details and we can help you from there?

[2016-06-08 00:39] marcusmartins commented on #642
@svenmueller Are you still experiencing issues with too many login attempts? We have made some changes to our brute force protection that should help with the travis ci use case.

[2016-06-08 00:52] marcusmartins commented on #673
Hi @mhart, Docker Hub uses Github webhooks to start builds and Github doesn't send any webhook if the push contained more than 3 tags (https://developer.github.com/v3/activity/events/types/#createevent)

We will document that limitation on our side but I hope you can adjust your workflow to avoid pushing more than 3 tags at once.

[2016-06-08 00:52] #673 closed

[2016-06-08 10:39] DinisCruz commented on #642
@marcusmartins the problem solved itself in the morning

At the moment all is good (thx)

[2016-06-08 10:43] svenmueller commented on #642
In my case the problems originated from a problem in image `dockercloud/haproxy`. The problem was solved for me by using the image `dockercloud/haproxy` with tag >= `1.4.2`.

[2016-06-08 10:45] svenmueller commented on #642
see https://github.com/docker/dockercloud-haproxy/issues/33

[2016-06-08 10:45] #642 closed

[2016-06-08 13:17] doebi commented on #680
Honestly, this bug is freaking me out.
While having multiple tabs of hub.docker.com open, i cannot easily spot which is which.

This could be fixed so easily. Why isn't it happening?

[2016-06-08 14:49] FranckErnewein opened #696 "SUT works in local, not in the hub"
Hi,

I have the following docker-compose file in my project

docker-compose.integration.test.yml:

[code]

When I run a `docker-compose -f docker-compose.integration.test.yml up` in local (or on other environment), everything is going well, but unfortunately, when It run in the hub, it fails.
The reasons seems to be that the `sut` service can't access to other services (redis, count-projection) du

[2016-06-08 21:33] rsp commented on #280
@chriskuehl The same is for usernames - I have a 3-letter username on GitHub and I can't have the same username on Docker Hub - I guess it must be at least as annoying for organizations.

@mattfarina @anaderi I don't think it will ever get fixed because it's the same for usernames and I was told this by the support: *"Unfortunately it isn't on our roadmap to allow 3 character usernames and it's en

[2016-06-08 23:39] peredin opened #697 "gitlab-ci.yml-style image/tag specification"
I'm using Docker Hub to store a few repositories of commonly used base images, for example a build-base repository setting up make and CMake in multiple environments.

Linking Git tags and branches to Docker tags is quite painful. I want to keep my Git repository clean and well organized and I can't accomplish that. Currently I have two options:
1. Create a branch for each docker tag and add a Doc

[2016-06-09 01:31] rafaelsoaresbr commented on #697
It would be an even more interesting feature if this problem were also implemented #500

[2016-06-09 08:41] earnaway commented on #687
I noticed this last week and again it's happening now. I can see the tags in the web interface, but they're missing from the API.

[2016-06-09 10:58] amlBC commented on #11
+1

[2016-06-09 20:46] sds commented on #421
I'm a little surprised there hasn't been much movement on this, as this problem significantly impacts a team's ability to automatically create and push _new_ private images (i.e. images with names that were never pushed before) and immediately start using them. It's a huge hassle to remember to add the appropriate teams as collaborators, and not something that can currently be automated.

If there

[2016-06-10 02:47] chariut opened #698 "Build queued for ever since added ENV HOME=/root in Dockerfile"
Build says Queued for the past 3 hours.
Latest change is added the entry "ENV HOME=/root" to Dockerfile to fix the following error:
[INFO] Building image bla/bla-bla
[91mJun 09, 2016 6:11:44 PM org.apache.http.impl.execchain.RetryExec execute
INFO: I/O exception (java.io.IOException) caught when processing request to {}->unix://localhost:80: No such file or directory

Dockerfile:
FROM maven:3.2-jd

[2016-06-10 03:21] mghazizadeh commented on #698
We're actively addressing the issue - please refer to  http://status.docker.com  for latest updates. Apologies for the inconvenience.

[2016-06-10 12:19] schmunk42 commented on #690
https://hub.docker.com/r/codeception/codeception/builds/

[2016-06-10 13:50] calvinbutcher commented on #395
Still no cancel, no update... above thread closed.

[2016-06-10 16:55] naartjie commented on #395
Yeah, I wonder why it's closed. It would be super useful in some cases, where you do successive pushes to your git repo, and an older build is blocking the latest ones from going through, they just sit in queued for quite a while.

[2016-06-10 16:57] Kaixhin commented on #395
@calvinbutcher @naartjie this issue has been closed because it is a duplicate of https://github.com/docker/hub-feedback/issues/355, which is still open. The conversation of https://github.com/docker/hub-feedback/issues/355 has been locked to stop +1s as the feature is now triaged.

[2016-06-10 19:19] note89 opened #699 "Private github repos with public container should be harder to do."
Hi i see that one can easily by mistake make a private repo public.
This should not be possible, or at least you should not be able to do it so easily

[2016-06-10 20:49] bcwalrus commented on #694
Fixed.

[2016-06-10 20:49] #694 closed

[2016-06-10 20:50] bcwalrus commented on #688
Fixed and improved error message.

[2016-06-11 08:15] naartjie commented on #395
ah our bad than. thanks @Kaixhin

[2016-06-11 08:33] HariSekhon commented on #694
In my case it was a single slash as per the default when you click the plus sign on the right to get a new line.

[2016-06-11 22:11] pablofmorales commented on #630
Just do

[code]

[2016-06-11 22:15] guss77 commented on #630
@pablofmorales - the problem is that we're trying to use anonymous access to public resources. `docker login` is not an option.

[2016-06-11 22:16] pablofmorales commented on #630
worked for me.

[2016-06-12 07:08] habeeb1985 opened #700 "openshift failed to pull any docker image"
I created a sample project on openshift origin v1.2.0 and tried then to make a new app from sample docker image hello-world and it failed to pull the docker image with only this error message "Err image pull" , this issue started to happen from last Thursday or Wednesday, it was working before that date.

oc Command I ran:

oc new-app --name=hello --docker-image=hello-world:latest --insecure-regis

[2016-06-12 18:21] scomma commented on #41
It's a mind-boggling omission that the tag isn't a part of the payload in the first place. And one year onwards, this issue is still standing without a way for the community to provide a PR.

Can anyone recommend an alternative Docker Hub?

[2016-06-13 11:08] goowikns opened #701 "Missing tags/builds in pulled list"
Hi,

I'm using bitbucket in combination with docker to create automated builds.
This worked perfectly till yesterday.

I first thought I might have too much tags/builds in the hub. So I deleted first few versions.
But still whenever I try to pull the list of build version in Synology, I only get the previous versions (not even ':latest'), although all of them are visible on the hub.docker.com webs

[2016-06-13 13:08] goowikns commented on #687
Same for me... This is really bad timing :(

[2016-06-13 13:11] goowikns commented on #701
I just realised there is another thread/bug with the same issues:

#687

[2016-06-13 13:11] #701 closed

[2016-06-13 13:23] ssbarnea commented on #687
Here are some insights: it seems that you can get the correct list of tags if you are using the v2 API but the v1 API returns an incomplete list of them.

I was able to port the code to use the v2 API but it was a real PITA - the fact that the v2 API is marketed as simple or easy to use is just a big joke. The only authentication that I've seen to be more complicated than the docker one was the ke

[2016-06-13 13:32] goowikns commented on #687
So i guess the docker package used in Synology uses the API v1 instead of 2.

I truly hope they can just hotfix their web api service in time ^^

[2016-06-13 13:58] calvinbutcher commented on #395
OK, the triage has been around for 4 months so thought it had been forgotten.

[2016-06-13 15:11] HariSekhon opened #702 "DockerHub builds so slow that Perl IO::Tty build times out after 60 secs"
[code]

https://hub.docker.com/r/harisekhon/nagios-plugins/builds/bgvkp3u3lsr5vjyzmtwwdfz/

[2016-06-13 16:25] marcusmartins commented on #630
If you are having issues with login, please open a new issue. I am locking this issue for comments for now.

[2016-06-13 19:31] mandheer commented on #492
Same here. I've created the docker file and it's not reflected at my Dockerfile TAB

[2016-06-13 19:33] mandheer commented on #492
Aww .. It's showing now .. After first Successful build ... I'm using github for code repo.

[2016-06-14 02:44] jadbox opened #703 "debian:jessie - Failed to pull Docker image"
Just hit this issue today on aws Beanstalk:

`Pulling repository docker.io/library/debian
Tag jessie not found in repository docker.io/library/debian
Failed to pull Docker image debian:jessie-backports: 1: Download complete
17bd2058e0c6: Verifying Checksum
17bd2058e0c6: Download complete
Pulling repository docker.io/library/debian
Tag jessienot found in repository docker.io/library/debian. Check s

[2016-06-14 03:52] #698 closed

[2016-06-14 12:34] thaJeztah commented on #703
What version of Docker are you running? I'm not able to reproduce;

[code]

Could you add the output of `docker version` and `docker info`?

[2016-06-14 19:04] aborilov opened #704 "Can't push 15Gb image"
I need to push big image, 15Gb, it’s Counter-Strike: Global Offensive image.
I build image on my host and then try to push to registry, but it stuck after uploaded full image
and start to upload all again.
It it allowed to push such big images?

Also I can't build this image on docker hub, because it can't access internet within build image.
https://hub.docker.com/r/aborilov/csgo2

[2016-06-14 20:52] stempler commented on #41
Currently I'm getting `tag` information as @Djuke described in my Docker Hub webhooks. So is the documentation just out of date?
People stating that it's sometimes there and sometimes not is not really reassuring.

[2016-06-14 20:58] kencochrane commented on #41
IIRC one of the old reasons why it was sometimes there and sometimes not, was dependent on the docker client you pushed with. Before Docker 1.6, it used the registry 1.x spec, and after Docker 1.6 it used the registry 2.x spec. When you used registry 2.x it had the tag information, so it included it, in the webhook payload. If it wasn't available it wasn't there.

As more and more people moved to

[2016-06-14 21:26] xied75 opened #705 "Can't build windows container"
From what I gather the build nodes are Linux and the base image named "windowsservercore" does not exist in docker hub. So one can't really build Windows Container for the fresh Server 2016 TP5, except just run build locally, which kind of break the whole point for modern CI/CD.

I think having a Windows build node is do-able, just wondering if that's in progress, on road map, or any other?

[2016-06-14 21:46] PowerlifterDevOps opened #706 "image builds locally with --no-cache but fails to build in docker hub"
unbc/banportals builds locally with --no-cache but fails in docker hub with the following error:

Build failed: The command '/bin/sh -c yum --enablerepo=ol6_software_collections,ol6_latest -y install python33' returned a non-zero code: 1

Build Code: bzaa3px96j6u6mtaxyjtpx8
UTC: 2016-06-14T21:20:37.275Z

[2016-06-14 21:52] stempler commented on #41
Thanks for the clarification @kencochrane

[2016-06-15 08:22] HariSekhon commented on #702
Several more failing builds:

https://hub.docker.com/r/harisekhon/spotify-tools/builds/brqmwtvsuqfs7z5bdabc9pr/

https://hub.docker.com/r/harisekhon/tools/builds/bzz9weacvhssn23qqqv8pih/

https://hub.docker.com/r/harisekhon/debian-github/builds/b6qucqh7ssymbgneiczpxv6/

https://hub.docker.com/r/harisekhon/nagios-plugins/builds/b2cydyxgu3wjgnbt3d7umec/

[2016-06-15 10:24] HariSekhon commented on #695
This gives me the following error:
[code]

[2016-06-15 18:19] bcwalrus commented on #695
That could be because your regex doesn't have any capture group. What's your regex value? (You can specify capture groups with parans in the regex.)

[2016-06-15 18:28] everett-toews commented on #637
@richburdon Do you have a link to the "spec" for the v2 API?

The v1.7 API is documented [here](https://docs.docker.com/v1.7/reference/api/docker-io_api/). Comically the v1.8 API is "deprecated as of 1.7" [here](https://docs.docker.com/v1.8/reference/api/docker-io_api/). Normally one would expect 1.9 to deprecated 1.8.

[2016-06-16 08:36] HariSekhon commented on #695
I was using parens in the regex to capture the number version at the end of the branch name field, eg. ```name-(\d+\.\d+)``` in the branch name field (I've been using regex extensively for over 10 years). I also tried ```{$1}``` as well as ```{\1}``` in the tag field but neither worked, giving the same error. The only other detail is that I'm using a Dockerfile /directory path in the Dockerfile lo

[2016-06-16 10:17] HariSekhon opened #707 "Feature Request: Tag images of same git reference rather than duplicating automated builds (wasting builds + downloads)"
Feature request to tag images of the same git reference in the same repo instead of building each and duplicating images in automated builds.

Currently each tag gets it's own build even when they are pointing to the same git branch, leading them to have different hashes (probably due to the entropy of different builds, different timestamps etc) and subsequently clients who download both tags (as

[2016-06-16 10:53] flopezlasanta commented on #11
+1

[2016-06-16 17:28] bcwalrus commented on #707
Hari, if you could specify multiple tags in the autobuild rule (https://github.com/docker/hub-feedback/issues/341), would that address this use case?

[2016-06-16 17:42] bcwalrus commented on #695
Hi Hari, could you try using `/name-(\d+\.\d+)/` in the source name field? The leading and trailing slashes are important. Otherwise, it's not considered a regex, and will do a verbatim full-string match.

[2016-06-16 19:54] cihanucar commented on #358
Any update?

[2016-06-17 08:24] HariSekhon commented on #695
Ah, yes that does work with the regex slashes, thanks.

[2016-06-17 08:26] HariSekhon opened #708 "Trigger button for regex matched branches / tag in Build Settings"
Feature request to add a Trigger button for regex matched branches / tags on the Build Settings page.

When using branch regex matching there is no Trigger button to be able to trigger builds.

This means when builds fail I have no way to test them without modifying the git branch with pointless changes.

[2016-06-17 09:48] HariSekhon commented on #707
Yes it would, right now I'm having to build and download basically the same images multiple times when in reality their git refs and Dockerfile paths are the same. If we could specify multiple tags per build line in the Build Settings page this would address this.

[2016-06-17 10:25] sboekhoff opened #709 "Add support for AsciiDoc in 'Full Description' of automated builds."
As a maintainer of an automated build, I'd like my README-file (in AsciiDoc format) from the linked GitHub repository to be rendered correctly.

Therefore I propose that all README-files with the file extensions `.adoc`, `.asciidoc` and `.ascii` should be processed using http://asciidoctor.org .
## Current behaviour

Currently only Markdown seems to be supported, which results in a 'Full Descripti

[2016-06-17 13:12] jimmycuadra commented on #685
Same problem here, it's rejecting org names with dashes or underscores. Are these actually not allowed or is it a mistake?

[2016-06-17 13:14] jimmycuadra commented on #590
Same issue here. The permissions that Docker Hub are requesting are wrong. If you use the "public only" version, it doesn't ask for public access to your organizations, but if you use "public and private" then it does. The only way to see your organization repos is by giving Docker Hub both read and write access. This is really bad. >:(

[2016-06-17 17:33] alexwebr commented on #423
Has the webhook chain behaviour changed? I can't seem to get the "chaining" to work as the documentation says:
https://docs.docker.com/docker-hub/webhooks/#chaining-webhooks
Maybe just a UI/UX problem on my part; it seems currently that webhooks all get issued at the same time and don't wait for each other.

[2016-06-17 18:09] bcwalrus commented on #685
Special characters are not allowed. Org names and user names have the same syntax limit: alphanumeric between 4 and 30 characters. We'll work on better error messages.

[2016-06-17 18:09] #685 closed

[2016-06-17 18:41] bcwalrus commented on #707
Thanks! Closing as dup of https://github.com/docker/hub-feedback/issues/341

[2016-06-17 18:41] #707 closed

[2016-06-18 18:01] thaJeztah commented on #637
@richburdon what exactly do you mean with "still in spec mode"? The V2 specification is documented here; https://github.com/docker/distribution/blob/master/docs/spec/api.md. Docker Hub uses this specification, but adds some additional endpoints from the V1 specs (e.g. The "search" endpoint). I agree this should be documented better (perhaps someone of the Docker Hub team can help with that)

@ever

[2016-06-19 18:09] russmatney opened #710 "Downgrade account/billing fails silently when you have too many repos"
Hit this today, probably not a high priority b/c I was able to work around it, but I wanted to get it reported.

I haven't used docker hub in a while and realized I was still getting invoiced – when I went to downgrade, it was consistently failing silently. Kudos to the error message – I saw a 400 in the inspector that read `{non_field_errors: ["Number of private repos exceeds the amount allotted

[2016-06-19 21:48] jljorgenson18 commented on #313
+1

[2016-06-20 14:02] guss77 opened #711 "Occasional "unauthorized: incorrect username or password" when trying to access public repositories anoynmously"
I have an automated build system that pulls publicly accessible images using anonymous access (i.e. just running `docker build` with `FROM ubuntu:<some version>` in the `Dockerfile`), this occasionally breaks with the error message:

    Step 1 : FROM ubuntu:12.04
    Get https://registry-1.docker.io/v2/library/ubuntu/manifests/12.04: unauthorized: incorrect username or password

I believe this is

[2016-06-20 14:19] guss77 commented on #711
This looks like a conflict with another subsystem that logs into a private registry and also sets the login details for the official docker repo. This can be seen in the `~/.docker/config.json` file.

I'm not sure why it does this, but if its a docker issue I'd open a different bug.

[2016-06-20 14:19] #711 closed

[2016-06-20 17:27] bcwalrus commented on #711
I see that you've closed the issue. `./docker/config.json` is supposed to have different entries for different registries. One interesting note is that if you have the wrong creds in `config.json`, it'll fail auth before realizing that you're trying to pull a public repo.

[2016-06-20 17:33] bcwalrus commented on #710
@russmatney Thanks for the bug report! We're tracking it internally.

[2016-06-20 18:32] meonkeys opened #712 "use the same image for “latest” and “vX.Y” auto-builds"
Hi folks! Here at DockerCon. Alex suggested I post my feature request here.

I'm proposing an improvement on image auto-building for Docker Hub. I'd like Docker Hub to detect that a commit has a particular tag, and only build _one_ image for that git tag and for `latest`.

More details here: https://stackoverflow.com/questions/37650119/how-do-i-make-a-docker-hub-use-the-same-image-for-latest-and-v

[2016-06-20 23:15] tianlai commented on #675
I'm running into the same symptom by just do `yum install -y openssh-server` based on centos7 image. Successfully built with local docker engine consistently.

[2016-06-21 09:02] Callisto13 opened #713 "Not receiving any mail for previously used (and deleted) e-mail address"
I have created an account with foo@bar.com (obviously not real). It used to be associated with a different account which I have since set up with a different e-mail address. I was able to create a new account with foo@bar.com but I am not receiving any e-mail confirmations or password reset requests at this e-mail address.

[2016-06-21 21:09] PepijnK opened #714 "When deleting private repo, the private-repo-credit is not incremented"
I accidentally named my private repo wrongly so I deleted it. Now I can't create a new one as my credit to create a private repo is zero.

[2016-06-21 21:16] alexwebr commented on #423
I asked Docker Support whether chained webhooks are still supported; it appears they are not and that the documentation will be updated soon.

[2016-06-22 09:21] PepijnK commented on #714
I can't believe this is the default behaviour, since that would mean any mistake in naming or config will cost you one point of private-repo-credit, and those points are expensive! Please tell me it's a bug!

[2016-06-22 12:10] dandreit commented on #696
As of `docker` v

[2016-06-22 20:33] viossat commented on #410
Same here, I receive emails for stars but not for comments.

[2016-06-22 22:43] spmacdonald commented on #11
Hit this today.... very confusing.

[2016-06-23 09:24] gracig commented on #703
Hi, The same problem here:

GersonMacPro:goenv gerson$ docker version
Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   a34a1d5
 Built:        Fri Nov 20 17:56:04 UTC 2015
 OS/Arch:      darwin/amd64

Server:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   a34a1d5
 Built:        Fri Nov 20 17:56:04 UTC 2015
 OS/Arch:      linux/am

[2016-06-23 12:26] leifg commented on #396
+1

This is one of the first things I noticed about. It's been reported a year ago already.

[2016-06-23 13:25] sachinkarale opened #715 "Facing issue to fetch latest docker images from nirmata ."
I am facing issue to fetch docker images from nirmata , this images were showing in docker hub and I pulled and tested those from CLI . some of the images are showing in fetch list and some are not , I talked with nirmata support they are telling issue is not from their site .
It's kind request to you , please fix this issue as soon as possible .

[2016-06-23 14:30] pahaz opened #716 "Why you can not add a button for 10 months? (issues/355)"
We are a team, and we do a lot of commits.
Why do I have to wait to build all containers?

I want stop build process =/

10 month! Realy?
Are you forcing us to use own private registry?
Do you really want that?

[2016-06-23 14:30] pahaz commented on #716
https://github.com/docker/hub-feedback/issues/355

[2016-06-23 17:22] scottampush commented on #358
BUMP!!

[2016-06-23 19:14] seanjensengrey commented on #645
I believe this issue and https://github.com/docker/distribution/issues/1679 both involve a lack of syntax checking for doing a build

[code]

For example

[code]

succeeds without the `unauthorized: authentication required` error.

Previously I was doing

[code]

and when pushing

[code]

[2016-06-24 01:31] gracig commented on #703
Now it is working. But don't know what was happening

[2016-06-24 05:23] mghazizadeh commented on #716
Docker Cloud automated builds and CI have this capability and more. Your Docker Hub repositories are already accessible there as well. Login to cloud.docker.com with the same DockerID to check it out.

https://docs.docker.com/docker-cloud/builds/automated-build/

There are no plans currently to bring this capability (cancel builds) to Docker Hub autobuilds.

[2016-06-24 05:26] mghazizadeh commented on #716
Also, if you are using Docker Hub autobuilds under Orgs/Teams structure provided on Docker Hub, this functionality as well as you existing Team/Org structure in Hub will soon be available in Docker Cloud.

[2016-06-24 05:51] pchico83 commented on #712
Hi @meonkeys
This is currently available using  a `post_push` hook: https://docs.docker.com/docker-cloud/builds/automated-testing/
You can define a build rule that matches ' /.*'/ with source type "Tag" and generates the tag "{source_ref}". In addition to this, your `post_push` would look like:
[code]
We are working on documenting all these options better and improving our UI to make them easier t

[2016-06-24 08:39] anandaverma opened #717 "Sometimes pushing an image takes ages to complete"
I pushed an image and stopped it in middle. Now If I am trying to push again it hanged for hours.

[2016-06-24 14:58] meonkeys commented on #712
@pchico83 thanks, I'll give that a shot!

Do you want to answer the stackoverflow question too?

[2016-06-24 18:04] meonkeys commented on #712
Verified.

In case anyone else is curious, [here's the change I had to make](https://github.com/meonkeys/docker-syncthing/commit/b9298d84ffbcee12100b3f053d4a8658d56a3647) so the most recent "vX.X"-tagged image is also tagged `latest`.

[2016-06-27 06:00] Yajo opened #718 "Are submodules cloned shallow?"
I'm thinking on using git submodules for my project, but some of them are huge and I don't want them to take so long to build, o I'm wondering if they are cloned shallow (`--deep 1`).

[2016-06-27 10:13] edzis commented on #11
+1

[2016-06-27 11:13] solutionguy commented on #398
I had this problem with the package lxc-docker on Ubuntu 14.04 LTS. The version of docker that this package provides is 1.0.1 which is too old for what is needed. Hence I decided to install the package docker.io, this removed the old lxc-docker package and replaced the client version with 1.6.2. The docker pull worked fine after that. Please find below the transcript.

`aahmed@freeswitch:~$ docker

[2016-06-27 13:31] dandreit commented on #696
**[SOLVED]**
If you have errors like
- `ECONNREFUSED`
- `ECONNRESET`
- `ENOTFOUND`

with `docker-compose` in `version: "2"`,
that you did not have in `version: "1"`,
maybe you used `links` in v1,
but not set `depends_on` in v2,
to get a similar effect on services startup order.
See https://docs.docker.com/compose/startup-order/.

Example of `docker.compose.test.yml` (extract):
[code]

This solved

[2016-06-27 18:32] jmwalsh opened #719 "Is the docker hub daemon running?"

[2016-06-27 19:10] #719 closed

[2016-06-28 10:32] sheerun commented on #586
You're wasting a lot of resources, docker!

[2016-06-28 11:23] hailong1004 opened #720 "get trial license page is 404 error"
when I access https://hub.docker.com/account/licenses/ , click Get a Trial，it say 404 error https://hub.docker.com/bundles/docker-datacenter/purchase?plan=free-trial

[2016-06-28 15:41] MichaelBitard opened #721 "api documentation disappeared since 1.8?"
I can't find the docker hub api documentation, all I found is: https://docs.docker.com/v1.8/reference/api/docker-io_api/

and it's linking to the old v1 api. Is there a link I'm missing? Or maybe it is the same API as the docker trusted registry api?

[2016-06-29 06:08] #352 closed

[2016-06-29 06:08] #348 closed

[2016-06-29 06:08] #351 closed

[2016-06-29 06:08] #347 closed

[2016-06-29 06:08] #349 closed

[2016-06-29 06:23] #315 closed

[2016-06-29 06:29] #332 closed

[2016-06-29 06:29] ahmetalpbalkan commented on #332
apparently never gonna happen

[2016-06-29 08:03] oryband commented on #207
@ahmetalpbalkan why did you close this? any explanation?

[2016-06-29 08:24] svlentink commented on #313
+1

[2016-06-29 15:19] ahmetalpbalkan commented on #207
It's been a year and nobody cared apparently. Let me reopen.

[2016-06-29 21:27] ahmetalpbalkan commented on #321
Most probably never gonna happen.

[2016-06-29 21:27] #321 closed

[2016-06-29 21:28] ahmetalpbalkan commented on #312
still bad

[2016-06-29 21:28] #308 closed

[2016-06-29 21:29] ahmetalpbalkan commented on #287
still not fixed. :(

[2016-06-30 07:08] deepande opened #722 "docker builds failing"
Our Docker builds are failing with the following error
Build failed: The command '/bin/sh -c npm install' returned a non-zero code:

[2016-06-30 10:47] julian-eggers opened #723 "Add global webhooks"
Please add an option to create global webhooks on organization level (or a bulk-option to create webhooks).
I have to add a webhook (same url for all) on over 60 repositories and it must be added to every new repository in the future.

[2016-06-30 11:58] baibhavVishal commented on #645
@dkhaws77  @gtirloni My config.json file contains the "https://index.docker.io/v1/" instead of "docker.io" but still sam problem of  unauthorized: authentication required

[2016-06-30 12:54] pjfanning opened #724 "docker build failing for '/bin/sh -c yum update -y libselinux'"
Works on my laptop but fails when run dockerhub automated build:
https://hub.docker.com/r/pjfanning/docker-hadoop-jdk8/builds/brbrefrhjvmkte6aagdcnsn/

Rpmdb checksum is invalid: dCDPT(pkg checksums): libselinux-utils.x86_64 0:2.0.94-7.el6 - u
Removing intermediate container e269fda26c88
The command '/bin/sh -c yum update -y libselinux' returned a non-zero code: 1

[2016-06-30 15:34] alexQueue commented on #680
It's all pages on docker hub, not just image pages.

And it's driving me crazy.

[2016-06-30 15:36] alexQueue commented on #396
+1. I doubt it would be difficult. I'll even add it if you point me to the source code.

Look at how user unfriendly this is:

<img width="503" alt="screen shot 2016-06-30 at 11 35 07 am" src="https://cloud.githubusercontent.com/assets/1666114/16494312/dce0739c-3eb6-11e6-8381-45ec47663f80.png">

[2016-07-01 05:39] dkhaws77 commented on #645
Try bouncing Docker after making the change to the url

On Thu, Jun 30, 2016 at 6:58 AM, baibhavVishal <notifications@github.com>
wrote:

[2016-07-01 09:20] Profysseur opened #725 "Centos7 :: Error unpacking rpm package httpd-2.4.6-40.el7.centos.1.x86_64"
Hello everyone.

I have to build an Image Docker for the solution of my company.
This Image have to contains some dependencies and have to based on centos7. Among these dependencies, there is httpd.

So, I built an image of CentOS 7 with systemd with this Dockerfile according to these explainations : https://hub.docker.com/_/centos/

My centos7/Dockerfile

And I push this image on my repository "a

[2016-07-01 12:26] oryband commented on #207
@rrarunan any updates?

[2016-07-01 12:26] jznf opened #726 "Unable to create subscription. Please contact Docker support."
Hello,

I got "Unable to create subscription. Please contact Docker support." while trying to upgrade to 'micro' plan.

I'm quite sure all info I've provided is fine. There's one thing I'm slightly unsure/uncomfortable with and that's 'Czechia' as only option for my country in that select element. It should be 'Czech Republic' since it is a legal name. 'Czechia' is just a one-word geographic alias

[2016-07-01 15:16] rrarunan commented on #207
@oryband @ahmetalpbalkan This is one of those subjective requests, where there were different opinions. We decided to leave it since the filter to show results based on pulls is still available. I am locking conversation on this until we decide one way or the other. I had moved on to working on `cloud.docker.com`, hence the delay in providing updates on lower priority items.

[2016-07-01 16:48] keyscores opened #727 "Automated build fails on 'tar' with: "Directory renamed before its status could be extracted""
Hello I'm trying to move a repository into Docker Cloud. All my
repositories are failing with a 'tar' command error.

The Error:
tar: .meteor/packages/babel-compiler: Directory renamed before its
status could be extracted
tar: Exiting with failure status due to previous errors

I've searched online and there are no answers. Even on Docker's github
https://github.com/docker/docker/issues/19647

[2016-07-01 18:00] Tuuleh commented on #703
I'm seeing this same issue on Elastic Beanstalk since yesterday, with a few different tags. There's an i/o timeout after some layers. I haven't been able to reproduce locally.

[code]

[2016-07-01 19:11] bradym opened #728 "Incorrect status returned when attempting to pull private image and not logged in"
When a user is not logged in and they try to pull a private image they get the following error message:

[code]
This causes confusion and frustration because the image DOES actually exist.

It would be much more clear if the message was along these lines:

[code]

The same thing happens when trying to visit the URL of a private registry (ie: https://hub.docker.com/r/exampleUser/privateRepo) a 404

[2016-07-01 20:33] BrandonClapp commented on #398
I installed docker.io, like @solutionguy recommended and it also worked for me. I am running Ubuntu 15.04

[2016-07-01 21:50] marcusmartins commented on #728
@bradym That's by design. We return 404 when when your client fail authentication to avoid disclosing **any** information about private repositories.

[2016-07-01 21:50] #728 closed

[2016-07-01 22:11] christianbundy commented on #313
Are there steps that we can take to get this fixed, or are we stuck waiting? This looks to be the second-most 👍'd issue on here and we haven't seen a response in over a year (except for @nhsiehgit tagging it as a feature request). I don't think the "+1" train above is very helpful, but I can empathize with those who don't see any other options to get the Docker Hub team's attention.

I guess havin

[2016-07-01 22:32] mghazizadeh commented on #313
@christianbundy this capability (and a lot more) is available in Docker Cloud. Docker Cloud provides you the same repo access with your existing content and repp subscriptions.

https://docs.docker.com/docker-cloud/builds/automated-build/

If you rely on the collaboration of teams and orgs functionality, the same integration and structure you have on Docker Hub will soon be available on Docker Clo

[2016-07-01 23:19] christianbundy commented on #313
Thanks, I must have misunderstood @pchico83's comment. Is the Docker Hub interface being fazed out? I'm only seeing this from a distance, but it seems like the Docker Hub interface is being replaced by Docker Cloud's cross-registry interface. Am I imagining things, or should I jump ship and learn Docker Cloud before the Hub interface becomes obsolete?

[2016-07-02 17:20] chevdor commented on #687
Same issue, same conclusion here.
Synology seems to be still running API v1. It still remains strange that v1 does not return the same results than v2. I could see that v1 returns the OLD tags but not the newer. That means that more and more people will run into the issue overtime. Especially, if one rebuild the 'latest' tag of an image, it will not longer be visible...

[2016-07-02 18:28] rvernica commented on #700
I have the same problem. I contacted OpneShift support. Here is their answer:

[2016-07-04 09:02] Profysseur commented on #725
I found the problem and a solution ! The problem was I had my Docker Storage Driver configure with "aufs". I just had to change the "Storage Driver" to devicemapper. Apparently it's a problem on Ubuntu 15 and more and some Debian distributions.

[2016-07-04 09:02] #725 closed

[2016-07-04 13:21] Kyniu commented on #487
Have you resolved this problem? I have the same.

[2016-07-04 13:46] nanawel commented on #487
(from https://forums.docker.com/t/cant-login-and-pull-on-hub-docker-com/5139/4 )

Finally figured it out: I configured the physical network interface (eno1 in my case) with a MTU of 4000 instead of the standard 1500... It works with 99,99% of Internet servers, but it seems that some of them do not like it I don't know why (Pinterest and Deezer were also unavailable).

Not sure anyway if this is re

[2016-07-04 13:46] #487 closed

[2016-07-05 04:30] theHilikus opened #729 "Create multiple tags from a single build"
It would be useful to be able to specify multiple tags associated to a build. For now, the workaround is to create two build configurations but this runs two jobs so it takes longer and it is wasteful. Something like a comma-separated list in the `Docker Tag Name` field would be simple enough.

The use case is having an image both be tags `1.0` and `latest` for example

[2016-07-05 05:27] jokeyrhyme opened #730 "integrate with GitHub PRs, show Docker Hub build status in PR (like Travis)"
When a GitHub project is integrated with Travis CI and other services, we can see little amber circles, green checks, or red crosses next to commits, etc depending on their build status. Further, Pull Requests in GitHub show the status of the build against each integrated service down by the Merge button.

Integration with Docker Hub causes commits to trigger a Docker Hub build, but there's no int

[2016-07-05 17:52] pchico83 commented on #730
@jokeyrhyme Most of these features are supported in Docker Cloud, the evolution of the Docker Hub autobuild feature. In Docker Cloud you are able to:
- run tests for PRs
- github status are integrated
- cancel and retry for build actions
- slack integration
- ability to define build env variables
You can find more information here:
https://docs.docker.com/docker-cloud/builds/automated-build/
https

[2016-07-05 19:15] jokeyrhyme commented on #730
@pchico83 oh, thanks!

Oh, I just now noticed that I'm getting sent to Cloud instead of Hub now. I'll give this integration a try and see how I go. Cheers!

[2016-07-05 19:15] #730 closed

[2016-07-05 19:20] jokeyrhyme commented on #730
I hope free (but slower) builds become available for open-source projects. Currently, it looks like builds are free for the Beta, but not necessarily so once Cloud goes gold?

[2016-07-05 21:36] pkennedyr commented on #730
Correct, we will always ensure there is an option to run builds on Docker Cloud for free. :)

[2016-07-06 13:16] naartjie commented on #600
That would be awesome. Right now I have a bit of a nasty hack for this. I install git in the docker container first, and then:

[code]

Not amazing in terms of verbosity, but it works. `GitCommit` as an env variable would be a winner though.

[2016-07-06 13:21] pchico83 commented on #600
We inject the `SOURCE_COMMIT` env variable in the builder container.
In order to use it in your docker file, you will need to add it as a build arg and define a `build` hook to pass this variable as a build arg:

[code]

Hooks are documented here https://docs.docker.com/docker-cloud/builds/automated-build/#/use-custom-build-phase-hooks. Although the `build` hook is not documented, it replaces the

[2016-07-06 17:42] naartjie commented on #600
Thanks @pchico83, so this is part of Docker Cloud only? Is there a way if I am using just a standard docker hub automated build from a github repo? Or should we just migrate to using Docker Cloud instead?

[2016-07-06 20:24] caiges opened #731 "Trying to pull : layers from manifest don't match image configuration"
I am attempting to pull an image from our private Docker Hub repository and am getting this output:

[code]

We're running Docker `1.11.1` on the box that cannot pull this image but are able pull from one of our older Docker hosts which is running `1.6.2`. I realize there is a related issue open against the main docker repo, https://github.com/docker/distribution/issues/1439, regarding this very s

[2016-07-07 08:01] pchico83 commented on #600
This is also available in Docker Hub although it is not documented. I would recommend to switch to Docker Cloud, which has more features than Hub, and it will be deprecated in the medium term.
Some of these features include:
- Run tests for pull requests.
- Integration with github/bitbucket commit statutes.
- Slack notifications
- Ability to cancel and retry a running build.

[2016-07-07 08:55] naartjie commented on #600
Epic, thanks for confirming that @pchico83, will make a switch at some stage.

[2016-07-07 13:55] pravindahal commented on #135
@wikier Did you manage to resolve it? I am getting the same error.

[2016-07-08 08:51] npetrovski opened #732 "Unauthorized: incorrect username or password (while building with Jenkins)"
**Step 1 : FROM jboss/keycloak:2.0.0.Final**

**Get https://registry-1.docker.io/v2/jboss/keycloak/manifests/2.0.0.Final: unauthorized: incorrect username or password**

Any ideas?

[2016-07-08 15:51] pierreozoux commented on #727
I have the same here!

Here is my repo https://hub.docker.com/r/pierreozoux/tioapp/builds/bsnpyaasmo46p962p9ikbhu/

I can build fine on my machine, but can't build on the hub.

Did you move to some distributed filesyteme backend?
Or overlayFS?

I see these issues that might be related:
https://github.com/meteor/meteor/issues/5762
https://github.com/meteorhacks/meteord/issues/64

[2016-07-08 16:09] pgrm commented on #496
I'm creating new tags for new github branches - I'd also like to automatically delete tags when github branches get deleted - is there any other way to do it? or do I need to wait for this API to be released?

[2016-07-08 18:16] keyscores commented on #727
@pierreozoux Have you tried it on Quay.io ? It seems that my automated builds work there.

[2016-07-08 20:38] icewind1991 opened #733 "outdated docker version on hub (1.11.1 instead of 1.11.2)"
I'm running into https://github.com/docker/docker/issues/22304 when trying to build an image on hub.
This is supposed to be fixed with 1.11.2 but hub still run 1.11.1

[2016-07-08 21:30] gdakram commented on #11
👍

[2016-07-08 21:40] styfle commented on #365
@pkennedyr I can confirm.

I just created a new Docker Hub account and a new BitBucket account and I have the same issue today. Clicking the link BitBucket image just opens a new Docker Hub tab, the same as @xuey90 shows in the video.

I tried to sign into bitbucket first, then sign into docker hub, then link.
I also tried to sign out of bitbucket, then sign into docker hub, then link.

Both fail

[2016-07-08 21:56] styfle commented on #365
My workaround was visiting `https://hub.docker.com/add/automated-build/<MY_USERNAME_HERE>/bitbucket/orgs/` and then clicking the button again a few times while I was already logged into BitBucket.

[2016-07-09 13:56] pkennedyr commented on #727
Hi @pierreozoux, @keyscores: Thanks for the feedback. We are indeed on OverlayFS which might be the source of the trouble. We are happy to file an FR for selectable file drivers as an advanced feature if enough people are seeing this issue.

Please +1 if you are interested in this feature.

[2016-07-09 14:15] pkennedyr commented on #714
Hi @PepijnK, Thanks for the feedback - what you're experiencing is NOT the expected behavior and appears to be a bug. If you're on a free plan, creating a single private repo and deleting the private repo should reset your available private repositories to 1 ("Using 0 of 1"). I just tested and am unable to repro - can you share your DockerID?

[2016-07-09 17:33] PepijnK commented on #714
Maybe good to mention, I've created the private repo for an organization.
Op 9 jul. 2016 16:15 schreef "Ryan Kennedy" <notifications@github.com>:

[2016-07-09 18:33] keyscores commented on #727
@pkennedyr @borjaburgos I have no need to set file system drivers. I think that this is a docker bug that needs to be fixed. I would recommend fixing that bug rather than adding a feature.

I just need my images to build predictably. For now I will use Quay.io, and I will recommend that others use the Quay automated build service over Docker Cloud for that reason.

[2016-07-09 20:38] pkennedyr commented on #727
@keyscores, We value your feedback and are investigating this issue further to find a more versatile solution.

[2016-07-09 20:58] stocks29 commented on #655
What was the issue?

[2016-07-09 21:05] RikuXan commented on #655
There actually was an error in the Dockerfile (a missing backslash IIRC), building it locally actually gave a useful error message.

[2016-07-09 22:03] thasmo commented on #733
I'm also facing a sudden error when trying to install SteamCMD on the Docker Hub. This has worked before, some time ago. It's also working on Travis CI, which runs Docker 1.9 and on my local machine, which runs 1.11.2.

[2016-07-10 00:19] stocks29 commented on #655
Thank you!

[2016-07-10 16:36] thasmo commented on #733
Is there any chance this will be updated to 1.11.2 soon or will an update be postponed to 1.12?

[2016-07-11 02:58] sargunster opened #734 "Automated build not activating"
I have an automated build set up at [pokesource/ditto](https://hub.docker.com/r/pokesource/ditto/) for the GitHub repo [pokesource/ditto](https://github.com/pokesource/ditto), but the build does not activate on push, and I can't manually activate it either.

I have the Docker webhook active on GitHub, and the checkbox "When active, builds will happen automatically on pushes." on Docker Hub is also

[2016-07-11 04:49] marcusmartins commented on #732
@npetrovski thanks for the report. We will investigate.

[2016-07-11 04:52] marcusmartins commented on #731
@caiges Thanks for the report, we're investigating.

[2016-07-11 04:57] marcusmartins commented on #720
Thanks for the report.

[2016-07-11 05:00] marcusmartins commented on #715
@sachinkarale can you contact support.docker.com for general support questions?

[2016-07-11 05:00] #715 closed

[2016-07-11 05:03] sargunster commented on #734
Looks like deleting and recreating the repo solved the problem.

[2016-07-11 05:03] #734 closed

[2016-07-11 05:04] sachinkarale commented on #715
Thank you for your reply , our issue has been resolved.

Regards ,

Sachin Karale ,
System Engineer ,
Bizruntime IT services pvt. Ltd.

On Mon, Jul 11, 2016 at 10:30 AM, Marcus Martins <notifications@github.com>
wrote:

[2016-07-12 04:39] pkennedyr commented on #714
Thanks, @PepijnK. Only individual accounts are eligible for a free private repo, so that would explain the error you are seeing with an organization account.

[2016-07-12 04:39] #714 closed

[2016-07-12 06:51] PepijnK commented on #714
Funny... and you think it's not a bug that I could create one?

[2016-07-12 12:35] anyalily opened #735 "Where can I locate company invoices"
I need to find Docker invoices on a monthly basis for our accounts - where can these be located?

[2016-07-12 14:44] frekele commented on #358
+1,  two-factor authentication and/or oauth 2.0

This is regrettable, Portal Docker Hub, seems built by a child, it seems thing  beginner, very amateur.

How can I trust my private repositories to docker Hub of security does not seem to be important for them.

We are seriously thinking to migrate to another provider.

Safety first!!!!

[2016-07-12 14:47] frekele commented on #54
https://github.com/docker/hub-feedback/issues/358

[2016-07-12 14:50] frekele commented on #54
Related Issue: https://github.com/docker/hub-feedback/issues/358

[2016-07-12 18:04] joeldrapper commented on #358
@frekele have you seen Rancher? I think they’ve got 2FA and oauth.

[2016-07-12 18:05] joeldrapper commented on #54
@zopyx have you tried Rancher? They seam to give a damn about security.

[2016-07-12 19:17] frekele commented on #358
@joeldrapper
I know him, including i already made some commits there. But the question here is another.

Security Docker Hub is the question here and not rancher server.

[2016-07-12 19:19] frekele commented on #358
@joeldrapper
I know him, including i already made some PR there. But the question here is another.

Security Docker Hub is the question here and not rancher server.

[2016-07-13 07:30] joeldrapper commented on #358
@frekele sorry mate, I thought this might help if you were concerned about Docker Hub’s authentication for Docker Cloud. I don’t work for Docker, was just recommending Rancher as it’s more secure than Docker Cloud. I totally agree, Docker Hub needs to take security seriously. 2FA, oauth, enforcing long passwords, etc. is really important.

How can we know that even the official Docker Hub images,

[2016-07-13 09:31] #735 closed

[2016-07-13 16:48] edpichler opened #736 "Change Organisation name"
We recently rebranded our company, so we  need to rename the organisation name. We have lots of images on it.

When this feature will be available?

[2016-07-13 20:27] frekele commented on #358
@joeldrapper Exactly.

[2016-07-14 00:27] antitree commented on #478
Seems like the same issue for me. When I originally setup the repo, it was fine but now the tags and branches do not sync and builds do not automatically run for changes in the branches. https://hub.docker.com/r/antitree/private-tor/builds/

[2016-07-14 10:28] anorsich commented on #394
Is there any plans on implementing that feature? It is essential for the teams, which work based on pull requests model and would love to test docker build, before merging PR to the upstream.
Thanks for the great service!

[2016-07-14 11:28] pchico83 commented on #394
This feature is already available in Docker Cloud, which has also support for other cool features like:
- Slack notifications.
- Streaming build logs.
- Ability to cancel and retry a build action.
- Integration with Github and Bitbucket git statuses.
Docker Cloud is integrated with your Docker Hub repositories, you will automatically see all of them when login in Docker Cloud. For more information

[2016-07-14 20:53] maxpowa commented on #731
Running into this same problem with https://hub.docker.com/r/maxpowa/npomf/ . The same pull is working correctly on another server running `Docker version 1.9.1-cs2, build 4ade326`.

[code]

cc @RX14

[2016-07-14 21:19] marcusmartins commented on #731
@maxpowa @caiges Can you reproduce the issue with Docker 1.10.3 or higher?

[2016-07-14 21:34] caiges commented on #731
@marcusmartins I am on `1.11.1` and was unable to pull.

[2016-07-14 22:11] alunduil commented on #689
Along with this it would be excellent if public repositories had public manifests not just public tag listings.

[2016-07-14 22:24] marcusmartins commented on #732
@npetrovski We haven't experienced any authentication problem on our end that would explain your issue. If you're still experiencing issue, can you contact support.docker.com?

[2016-07-14 22:24] #732 closed

[2016-07-14 22:54] maxpowa commented on #731
@marcusmartins I can confirm it's pulling correctly on on a different machine running `1.12.0-rc4`. Unfortunately I couldn't test the newer version on the machine experiencing the problem because it's partially a production server.

[code]

[2016-07-15 00:16] Webysther commented on #313
:+1:

[2016-07-15 07:21] npetrovski commented on #732
Thank you and yes - I still have that issue with Jenkins and Docker pull. I will contact the support.

[2016-07-15 14:56] stefanfoulis opened #737 "bug: can't create build triggers in new ui"
I created a new automated build. But it seems there is no way to add any build triggers:

![screen shot 2016-07-15 at 16 48 51](https://cloud.githubusercontent.com/assets/14330/16878443/dc729550-4aac-11e6-80ca-a0dc3a566ebb.jpg)

Previously there was a "+" next to every existing line. But now that I have no lines... I can't do anything.

OT: I always found the "+" on the line confusing and would ha

[2016-07-15 16:52] nusnewob opened #738 "Unable to link Github account"
I have my github account linked to docker hub more than 1 year ago. When I tried to create a new automated build, it prompts me to link to github account, I follow the instruction and get error message,

"There was an error during the github account link. Please ensure, you do not have the same github account linked to another dockerhub account"

I've tried revoke OAuth application from my github

[2016-07-15 22:27] LongLiveCHIEF commented on #579
I'd rather see some sort of integration with github issues, rather than have them disabled.  But I don't see how that's possible with the current format of github issues threads.

The comments as they are on the hub page, really don't provide any value. Maybe get rid of comments all together, and instead display a list of issues titles and the metadata about each issue?

[2016-07-16 17:09] pthreads opened #739 "Password reset URL just forward to docker-hub home page."
1. On the form at this URL : https://hub.docker.com/reset-password/ I enter my email address that I used while creating the docker-hub account.
2. I receive a password-reset email.
3. When I click on the button link in the email it just takes me to hub.docker.com
4. This is the URL in the password-reset email button : https://hub.docker.com/account/password-reset-confirm/xxx/yyy/

[2016-07-17 02:03] pthreads commented on #739
This could be related to browser cache. It worked fine from another computer.

[2016-07-17 02:03] #739 closed

[2016-07-17 23:30] LongLiveCHIEF commented on #622
I opened a ticket by logging in using the [Docker ID Login](https://cloud.docker.com/login) page, and then [opening a support ticket](https://success.docker.com/Get_Help/Open_a_Support_Ticket) (🔐 ).

I hope to hear back from someone this week, but we'll see. I have spent more than an hour searching and digging through every nook and cranny, and I only found that "you should contact support" respon

[2016-07-18 09:19] Starefossen commented on #579
Keep it simple - remove comments (at least for official images) and link to the official issue tracker.

[2016-07-18 20:31] munhitsu commented on #358
2FA is a need

[2016-07-18 21:40] lukeorland commented on #729
Duplicate of #341, right?

[2016-07-19 10:14] mauricioklein commented on #313
:+1:

[2016-07-19 11:54] mauricioklein commented on #313
Just a question, please:

As far I've understood, Docker team is focusing efforts to evolve Docker Cloud instead Docker Hub.

However:
1. Docker Cloud is in beta mode;
2. I've many repos bought in Docker Hub;

My question is:
1. Is Docker Cloud fine to be used in production already, even in beta mode?
2. It says in Cloud that it's free while in beta mode. After that, what's going to happen? My pai

[2016-07-19 14:28] jasonmccallister opened #740 "Option to only build images when the Dockerfile changes"
We currently have one repository that builds our base images for developers. Each image is defined by a Dockerfile in a separate directory. However, when we setup the build settings to use those directories (see the image attached) every push to master auto builds each of the images.

It would be great if the builds only monitored the changes in the repository, or better yet - if this behavior cou

[2016-07-19 15:53] rafaelsoaresbr commented on #740
I have a similar setup, but I've disabled automated builds because the same reason and #500
I had to create another repository on Hub that uses the first image as a base.

[2016-07-19 23:03] friism opened #741 "404 page not found returns HTTP status code 200"
![image](https://cloud.githubusercontent.com/assets/126104/16966390/3c3e89d0-4db9-11e6-94e9-0d773462c5c9.png)

[2016-07-19 23:55] bcwalrus commented on #478
Looking into the issue of builds not triggering.

@antitree The branch/tag issue is a weird one since I see it auto-building for `master`.

[2016-07-20 07:37] gw0 opened #742 "Either allow or strip HTML tags"
Readme in Markdown should handle HTML tags appropriately, because Markdown is missing some things and this is the only way to get it to work. Either HTML tags should be allowed or stripped away (completely or with a whitelist), but never rendered as normal text.

See:

- https://hub.docker.com/r/gw000/keras/ (rendered as normal text - ugly)
- https://github.com/gw0/docker-keras (stripped away)
- h

[2016-07-20 15:32] bcwalrus commented on #737
Thanks for the report. Looking into it.

[2016-07-20 15:52] bcwalrus commented on #737
@stefanfoulis At a quick glance, I don't see anything wrong. I'm assuming that by "build triggers", you meant you can't create any build rules.

If this is a public repo, could you let me know the repo name? Or if it's a private repo, could you write to support@docker.com, and reference this GH issue? Thanks!

[2016-07-20 18:14] pkennedyr commented on #733
UPDATE: The Docker Hub automated build system has been updated to Docker version 1.11.2.

[2016-07-20 18:14] #733 closed

[2016-07-20 18:21] bcwalrus commented on #478
@antitree I see that your push to `release-0.2.8` etc today triggered builds automatically. But I have a hard time tracing what happened on July 10, since I don't know what the build rules were at that time. Did you modify the build configuration since?

[2016-07-20 18:55] bcwalrus commented on #478
@joschne On May 10, the build service had very high load, which caused delay in build submission, thus giving the impression that nothing happened. Builds seems to be triggering after that. I guess you noticed a similar issue on June 10, following an EC2 partial outage. Sorry about the bad user experience. We know that build reliability is super important, and our near-term focus is all about that

[2016-07-20 19:44] thasmo commented on #733
Awesome, thanks a lot!

[2016-07-21 00:08] philm opened #743 "Security scan incorrectly reporting libssh2 1.7.0 as vulnerable"
One of my Alpine private images is using libssh2 1.7.0. The scanner has marked the lib as a "major" vulnerability, linking it to https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-0787, which states the vulnerability existed prior to the 1.7.0 version.

Reference: https://www.libssh2.org/adv_20160223.html

[2016-07-21 08:29] starikovs commented on #466
I have the same issue:
45d2c9dcb786: Image already exists
4225c275f9fc: Image successfully pushed
f8c046f4703b: Image successfully pushed
341bb2600749: Image successfully pushed
1df16a3830a0: Image successfully pushed
7e94212dcb89: Image already exists
3dce0d3d0c81: Image already exists
41ef78fd36cd: Image push failed
Error pushing to registry: Head https://dseasb33srnrn.cloudfront.net/registry-v2

[2016-07-21 15:12] ajsmith commented on #621
+1 This would be very useful for those of us who use reStructuredText and Sphinx to build documentation.

[2016-07-21 15:26] ajsmith opened #744 "Allow the path to the file containing the full description to be configurable"
It would be great if the path to the file containing the full description was configurable, not always README.md where the Dockerfile is located.

It's useful to be able to show a different README on a Github repo than you would show on Docker Hub. However, if your Dockerfile is in the root of your repo, the same README file will be used for both.

This would also be useful in cases where you have

[2016-07-21 16:44] marcusmartins commented on #731
@caiges Can you contact support.docker.com and we can help you from there?

[2016-07-21 16:52] bcwalrus commented on #738
Are you `zmakki` on Docker Hub? You can go to your Hub user settings page -> Linked Accounts & Services, to unlike your GH account, in order to re-auth.

[2016-07-21 17:19] venalen commented on #743
@philm can you reference your hub image that's showing this vulnerability? I'll investigate and get back to you.

[2016-07-21 17:42] petemcw commented on #738
I can verify the problem as well. For months now I've not been able to link my Docker Hub and Github accounts. I have unlinked and re-authed numerous times and each time I get the same error mentioned above.

[2016-07-21 18:00] bcwalrus commented on #738
@petemcw Your problem might be different, since I don't see an existing link with the `petemcw` GH account. What is the Hub account you're trying to like to?

[2016-07-21 18:23] nusnewob commented on #738
@bcwalrus It's not my docker hub username, I don't recognise the username and it shouldn't linked to my GitHub account. Would you be able to unlink? Thanks.

[2016-07-21 19:21] petemcw commented on #738
@bcwalrus Both accounts are "petemcw".

[2016-07-21 20:19] philm commented on #743
@venalen - will do. I'm waiting for the scanner to kick in after pushing a new build this morning. If the problem continues to persist, I will let you know.

[2016-07-21 20:31] TheTwist76 commented on #687
I've had the same problem.

[2016-07-21 20:59] venalen commented on #743
@philm sounds good. I'll keep an eye on the thread for your response.

[2016-07-21 20:59] toli commented on #743
@philm - would it be possible to get the your `namespace/reponame`? we can do our own debugging while you wait for a new scan to pick up (we have some slowdown on the scanning, actively working on fixing that)

[2016-07-21 21:35] philm commented on #743
@venalen @toli - this private image rescanned recently:

https://hub.docker.com/r/healthcareblocks/backup_mysql/tags/latest/

The third layer has the libssh2 1.7.0 problem.

Thanks!

[2016-07-21 21:38] philm commented on #743
I noticed the same layer also has wget 1.18, which is being flagged as vulnerable to CVE-2016-4971, even though that represents the patched version.

[2016-07-21 21:43] toli commented on #743
Thanks for the details @philm , we are looking into the `false positive` issues in `libssh2` on `alpine`

[2016-07-21 23:06] bcwalrus commented on #738
@nusnewob Ok. Please try again.

[2016-07-21 23:11] bcwalrus commented on #738
@petemcw Your account status looks correct. I suspect browser caching issue. Could you try again in an incognito window, with the browser developer window open to keep an eye on any potential errors?

[2016-07-22 09:18] nusnewob commented on #738
@bcwalrus Working. Thanks so much!

[2016-07-22 15:52] bcwalrus commented on #313
There's been some misunderstanding here. Docker Cloud has GA'ed, and is being used for production. Some of our customers are running 100+ services in their clusters, doing auto redeploy with blue-green deployment. Would love to have you try it out and get your feedback. https://blog.docker.com/2016/03/announcing-docker-cloud/
https://docs.docker.com/docker-cloud/getting-started/

Cloud and Hub sha

[2016-07-22 16:44] jkurz opened #745 "not able to create a repo from an organizations namespace"
I am part of the turner organization in dockerhub. I am trying to create a repo under that namespace. It is not showing up in the dropdown for me, thus not allowing me to create it.

Is there a workaround I can use?
<img width="1544" alt="screen shot 2016-07-22 at 12 43 25 pm" src="https://cloud.githubusercontent.com/assets/10718991/17064317/0ccb557c-500a-11e6-9180-152a1a8d89c3.png">

[2016-07-22 16:44] jangorecki commented on #313
Going back to the current issue, is there any ETA for it, or we just shouldn't wait for that feature?

[2016-07-22 16:53] marcusmartins commented on #745
Currently only owners of an organization are able to create new repositories.

[2016-07-22 16:58] christianbundy commented on #313
I'm frustrated by the lack of communication regarding the future of Docker Hub, but it's becoming clear in this issue (and many others) that Docker Hub is being deprecated in favor of Docker Cloud. The responsible thing to do would be to close this issue as "wontfix" and telling people to migrate, but it sounds like the Docker team is using the phrase "this is available in Docker Cloud" and leavin

[2016-07-22 17:03] jkurz commented on #745
ok, so is it possible for the owner to make me an owner?

If not how can the owner give more than one person access to the organization?

[2016-07-22 17:06] jkurz commented on #745
ok looks like I have been made an owner. Thanks for commenting on this so quickly.

[2016-07-22 17:06] #745 closed

[2016-07-22 19:03] petemcw commented on #738
@bcwalrus Using an Incognito tab did the trick!

[2016-07-22 20:17] ncopa commented on #743
We are also working on an automated way to report which alpine packages that has backported security fixes, like wget-1.17.1-r1 which as the fix for CVE-2016-4971. But it will take some time get that fully in place.

[2016-07-22 20:24] #738 closed

[2016-07-22 20:37] philm commented on #743
Very nice - that will be useful. Will you start doing scans on public images at some point? Or, alternately, open sourcing the Nautilus machinery?

[2016-07-22 21:40] toli commented on #743
@philm - we will likely allow scan of public images at some point, once we figure out all the scalability and other issues (such as `false positives`) and get a better handle on functionality.

[2016-07-22 23:36] philm commented on #743
@toli - thanks for all that you do! These tools are fantastic.

[2016-07-23 16:31] stefanfoulis commented on #737
@bcwalrus it is a private repo. I'll send a message to support@docker.com.

[2016-07-24 03:16] iainhouston opened #746 "Weird forum login behaviour"
So I can log directly in to Docker Hub with my password just fine.

But I can't log into the Docker forum.

Here's what happens:
-  Forum login fails my usual Docker Hub user id & password
- I click on  "Forgot password?" and get logged into my Docker Hub account.
   But this does not give me write access to Docker (For Mac) forum.

Browser: Safari 9.1.1 OS X 10.11.5

[2016-07-24 21:06] stefanfoulis commented on #737
I can't reproduce the bug anymore. You guys seem to have fixed it :-)

[2016-07-24 21:06] #737 closed

[2016-07-25 10:26] Starefossen commented on #579
@marcusmartins I am sorry if you are not the right person to cc on this issue, but any chance we could get an official Docker Hub opinion regarding the possibility to disable comments for official Docker Images and instead linking to the official issue tracker for the image?

[2016-07-25 13:06] rhoerbe commented on #461
Now this appears on a local build using  Docker version 1.11.2, build b9f10c9/Linux 3.13.0-92-generic #139-Ubuntu SMP x86_64:

    docker run -it centos:centos7 bash
    yum -y install curl httpd

    Installing : httpd-2.4.6-40.el7.centos.4.x86_64         6/6
    Error unpacking rpm package httpd-2.4.6-40.el7.centos.4.x86_64
    error: unpacking of archive failed on file /usr/sbin/suexec: cpio: c

[2016-07-25 13:24] rhoerbe commented on #461
Update: If I run the same build on Centos7 instead of Ubuntu (Linux 3.10.0-327.el7.x86_64 #1 SMP x86_64), the probem does not occur.

[2016-07-25 13:27] jperrin commented on #461
What storage were you using on ubuntu? This is a known issue with AUFS.

[2016-07-25 13:55] rhoerbe commented on #461
Yes, the Ubuntu system exhibiting the problem uses aufs, the other on does not. What would be the remedy? The target system is not a production system yet, changes are easy.

[2016-07-25 13:58] rhoerbe commented on #461
I guess setting another storage drive would help?

[2016-07-25 14:07] jperrin commented on #461
Yeah, you'll need to use something other than AUFS

[2016-07-25 18:58] bcwalrus commented on #746
Does your login work on Docker Cloud or Docker Hub? And does forum login work with private browsing mode?

[2016-07-26 03:01] iainhouston commented on #746
I can log into https://hub.docker.com but when I go to https://forums.docker.com and click *Login* >>  *Login*  and the same user/password fails; so I click  *Forgotten password?* on fail page and am magically logged into https://hub.docker.com .... which is pretty weird I thought 😳  Anyway I can't log into the docker forums.

Actually the fail page url is this: https://hub.docker.com/account/logi

[2016-07-26 09:10] arriqaaq commented on #41
Can some please tell me the different statuses that could exist? I want to trigger my flow when the image has been created successfully. Any idea on that?

[2016-07-26 11:14] iainhouston commented on #746
FWIW I *can* log into Docker Forums as long as I use my email address (rather than my username) .... but otherwise still see weird behaviour

[2016-07-26 11:34] thaJeztah commented on #746
@iainhouston just some random thought; does your login have uppercase letters? I think Docker Hub automatically lowercases usernames, perhaps forums.docker.com doesn't

[2016-07-26 11:40] iainhouston commented on #746
@thaJeztah that could well be it! my username is `iainH`

[2016-07-26 11:44] thaJeztah commented on #746
@iainhouston Docker Hub usernames are always lowercase, so possibly using lowercase on the forum works

[2016-07-26 12:52] iainhouston commented on #746
Thanks @thaJeztah that works. I'll close this. Although it's a bit weird being forwarded from Forum "Forgotten password?" link to Docker Hub it's probably not worth bothering about.

[2016-07-26 12:52] #746 closed

[2016-07-26 12:55] thaJeztah commented on #746
@iainhouston good to hear; not sure about the "forgotten password" redirect (I'm not part of the Docker Hub team), but there may be an existing issue for that here

[2016-07-27 05:58] sstraus opened #747 "My docker package can't be downloaded"
The build has success, but download doesn't work with "docker pull sstraus/docker-spamassassin".
Any idea?

[2016-07-27 09:58] arjenvanderende commented on #194
And here's another: https://hub.docker.com/r/nodesource/trusty/tags/
For some reason the `Last Updated` field is the same for all tags in this repo. This causes several of the newest tags to be hidden. E.g. tags `4.4.6` and `5.1.0` are shown, but `4.4.7` is hidden, even though it exists. This is very confusing.

[2016-07-27 11:46] Ducatel commented on #731
I have also the same problem.
[code]
 It exist any workaround ?

[2016-07-27 17:54] bneigher commented on #11
+1

[2016-07-27 19:39] aatkinson-canopy commented on #395
Guys, need a 'Cancel' button. Thanks.

[2016-07-27 20:30] velvetcat commented on #407
Same issue. Deleted repository doesn't appear in the list at https://hub.docker.com/ but still accessible with `docker pull`.

[2016-07-28 08:16] pchico83 commented on #395
This is available in Docker Cloud. Docker Cloud is integrated with your Hub repositories, they are accessible from both platforms.

[2016-07-28 09:47] Jesterovskiy opened #748 "Docker Hub API"
Hello. Do you have for https://hub.docker.com API? If yes, where I can find latest documentation? Thank you =)

[2016-07-28 12:25] rafaelkallis commented on #11
+1

[2016-07-28 14:04] mlasalmo commented on #11
+1

[2016-07-28 15:50] leifg commented on #384
It seems like the user interface prohibits me from doing that:

Whenever I try to use the regexp capture groups I'll get the error:

`{\1}: Invalid 'name' field: Unknown variable '\1' at position 2Error Saving`

[2016-07-28 21:42] bcwalrus commented on #384
@leifg What is the regex you use? And it this in Hub or Cloud?

[2016-07-28 21:47] leifg commented on #384
This is hub. The regey is {\1}

[2016-07-28 22:32] bcwalrus commented on #384
@leifg The regex should be a regex you use to match a GitHub (or Bitbucket) branch/tag name. That's the "Name" field. That regex should contain a capture group. Then, you can use `{\1}` in the Docker Tag Name to construct the tag name that you want.

Jason provided an example above: https://github.com/docker/hub-feedback/issues/384#issuecomment-197478364

[2016-07-28 22:48] leifg commented on #384
Sorry, was confused. The regex I used was `erlang-([0-9\.]+)`. The `{\1}` was in the name field.

It does however not work, I actually used Jason's example. Doesn't matter which regex I use (even `(.*)`) there is no way I can save the configuration.

See Screenshot:

![screenshot 2016-07-29 00 42 53](https://cloud.githubusercontent.com/assets/110321/17232094/13b16c8e-5526-11e6-8c9a-9c80eb0c1fb9.pn

[2016-07-29 16:22] bcwalrus commented on #384
Could you try `\erlang-([0-9\.]+)\`? Without the surrounding backslashes `\`, the name is interpreted as a literal match.

[2016-07-29 16:33] leifg commented on #384
Changing the regex to `/erlang-([0-9\.]+)/` works.

The error message is confusing though. I assumed the whole time there is something wrong with the Docker Tag Name.

[2016-07-30 07:48] nivong commented on #687
yep same issue here, have any reported it to synology yet? I have done just now if everyone does it they may consider it

[2016-07-30 11:26] amancevice opened #749 "Automated Build raises "Unknown instruction: HEALTHCHECK""
I updated my Dockerfiles to use the HEALTHCHECK command but the automated builds do not succeed:

[code]

[2016-07-30 19:28] mvantellingen opened #750 "Webhook: Add support for custom headers"
I have created an API Gateway on AWS to automatically deploy images when they have finished building. To properly secure this I need to pass an x-api-key header to the POST endpoint.

It would be great if the webhook functionality is expanded to support custom header name / value combinations.

[2016-07-31 02:41] kevinobee opened #751 "Docker Hub link back to Docker site"
Small UX point. It would be nice to have a prominent link on [Docker Hub](https://hub.docker.com/) home page back to the main [Docker](https://www.docker.com/) site.

[2016-07-31 08:10] atishayshukla commented on #461
Hi Guys, This still doesnt work with ubuntu 14.04 LTS as host and docker in kitchen driver pulling centos 7.1 image. Please help.

`Running handlers complete
       [2016-07-31T08:05:01+00:00] ERROR: Exception handlers complete
       Chef Client failed. 1 resources updated in 31 seconds
       [2016-07-31T08:05:01+00:00] FATAL: Stacktrace dumped to /tmp/kitchen/cache/chef-stacktrace.out
       [2

[2016-07-31 16:14] sesceu commented on #531
+1
Would be nice to have a feeling about how long the build will take. This would also give people some data on where (which of his builds) to optimize, which in turn would lower the load on the docker hub.

[2016-07-31 16:36] chevdor commented on #687
I find Synology VERY unresponsive, especially when it comes to handling issues reported via their support system. I suggest, if you want a change as I do, is to use twitter. It seems that they don´t like the bad publicity and it is also much easier for people seeing your tweet to +1 or RT to add their voice publicly. This is unfortunate but seems to be how it is...
Here is my original Tweet, feel

[2016-08-01 02:05] marcusmartins commented on #749
@amancevice We're testing 1.12 support in our automated build infrastructure and we will update you when it's ready to be used.

[2016-08-01 09:01] wuliupo commented on #396
+1

[2016-08-01 15:53] nivong commented on #687
I got a respons from synology:
[code]

[2016-08-01 22:57] bcwalrus commented on #384
@leifg You're right. And thanks for the feedback. I'll see what I can do.

[2016-08-01 22:57] #384 closed

[2016-08-01 23:06] marcusmartins commented on #747
@sstraus I cannot reproduce the issue

[code]

Are you still experiencing the issue?

[2016-08-02 02:29] DazWilkin opened #752 "Documentation bug: Webhook 'comment_count' is int not string"
Looked but was unable to find a more direct way to submit documentation feedback.

On the page:

[code]

The JSON sample includes:

[code]

Having a play around with this today, I generated a sample POST using putsreq.com and the JSON includes:

[code]

NB both star_count and comment_count appears as ~integers (numbers) not strings.

Recommend revising the webhooks page and removing the quotes aro

[2016-08-02 06:17] kirinse commented on #283
@rrarunan i have met same issue with @joshuataylor, even in incognito mode.

[2016-08-02 07:44] chytreg commented on #416
@metal3d & @jyounus I've managed to configure the build properly without removing submodules.
GitHub doesn't allow to duplicate deploy keys across repositories. https://help.github.com/articles/error-key-already-in-use Instead of adding deploy keys to repository add them to the user keys. So first remove any `Docker Hub Registry Automated Builds` from https://github.com/ORG/REPO/settings/keys (mai

[2016-08-02 10:38] pchico83 commented on #702
@HariSekhon We use `m3.medium` EC2 instances, which should suffice in the majority of the cases. Would you able to increase that timeout?
We are also working on providing larger build instance types.

[2016-08-02 11:40] HariSekhon commented on #702
I don't think it's the instance size that's an issue... it's the fact that too many builds are running concurrently... I'm having several issues with DockerHub's builds, I get a lot of out of disk space build failures too, see #677.

I'm not sure if I can increase the timeout as it's a CPAN library and is pulled with that timeout setting embedded.

[2016-08-02 17:44] vielmetti opened #753 "unauthorized: incorrect username or password"
I am trying to build a Dockerfile and get this

[code]

This looks like a repeat of #630 which has been previously closed.

[2016-08-02 17:48] vielmetti commented on #753
and, like the issue for #630, this was solved by properly doing `docker login`. Closing.

[2016-08-02 17:48] #753 closed

[2016-08-02 18:32] jaikme commented on #11
+1

[2016-08-02 19:59] micahwedemeyer commented on #313
👍

[2016-08-03 16:45] StefanScherer opened #754 "Size of Windows docker images"
Today I've updated some Windows Docker images and pushed them to Docker Hub. For example swarm 1.2.4 for Windows.

The calculation of the new docker images based on `microsoft/windowsservercore:10.0.14300.1030` and `microsoft/nanoserver:10.0.14300.1030` are calculated with the base docker images. The previous uploads til version 1.2.3 are much smaller as they only show the size of the real applica

[2016-08-04 06:04] StefanScherer commented on #754
I think both calculations were and are correct.

The old windowsservercore/nanoserver base image couldn’t be pulled from Docker Hub, so it was not part of the calculation. So I got small image sizes 6MB / 23MB for a swarm.exe layer.

The new microsoft/windowsservercore:tag is now a pullable layer and therefore is part of the calculation. This leads to the big numbers 364MB / 3GB.

As there might b

[2016-08-04 06:04] #754 closed

[2016-08-04 11:51] jch254 commented on #606
Pls pls

[2016-08-04 17:02] marrobi opened #755 "docker search on Windows does not return correct results"
As per https://github.com/docker/docker/issues/25408 creating issue in hub-feedback.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Running Docker for Windows, connected to Nano server container host.

**Steps to reproduce the issue:**
1. Search for container images using `docker search searchst

[2016-08-05 01:08] twang2218 commented on #242
I got the same issue. Tag sizes in the Docker Hub are incorrect.

Use official Python image as a example,
<https://hub.docker.com/r/library/python/tags/>

<img width="721" alt="2016-08-05 10 50 25" src="https://cloud.githubusercontent.com/assets/6299096/17423068/036c3ffe-5afb-11e6-8609-fdb8e3725b45.png">

The size of `latest` tag shown on the Docker Hub page are `267MB`, however, when it's been pu

[2016-08-05 01:15] twang2218 commented on #259
As one year later, Aug 2016, they are still different.

And not only the size on the tag page, as the size in security scan report page as well.

[2016-08-05 13:34] roopeshku opened #756 "Connecting to docker container JVM from outside"
I have a requirement where i need to run the java byte code analyzer or jar analyzer from the host machine to the app server deployed code inside container. Can someone please guide me how to access the java byte code/  JVM from outside container.

[2016-08-05 18:35] bcwalrus commented on #242
`docker images` shows the uncompressed size. During a `docker push`, the engine compresses (gzip) the image before sending to the registry. The size shown in the Hub UI is the compressed size, and roughly represents how much work a fresh `docker pull` would need to do. The network transfer size is probably the more important number when deploying containers.

Point taken on the UI being unclear. I

[2016-08-05 18:36] rickalm opened #757 "Orgs with more than 25 teams do not display"
Our org has more than 25 teams defined and apparently it's a known UI bug that only 25 will show with no pagination.

I know internally we've been aware of it for 6+ months and were informed by an agent from hub.docker.com this was being dealt with but its aparently still an issue

What is the status and when will this be fixed ?

[2016-08-05 18:39] bcwalrus commented on #259
CLI is reporting the uncompressed size, while Hub reports the compressed size. It's a column labelling issue. Let's track it in https://github.com/docker/hub-feedback/issues/242#issuecomment-237928742.

[2016-08-05 18:39] #259 closed

[2016-08-05 18:41] bcwalrus commented on #755
Thanks for the report. It's now fixed. The search result was a hardcoded list.

Btw, we have plans to make the search result take OS/arch into account, to make it more relevant.

[2016-08-05 18:41] #755 closed

[2016-08-05 20:19] bcwalrus commented on #283
@joshuataylor @kirinse I can occasionally reproduce this. A workaround for me: in the new window that it opens (the one that looks like the same window), click on "Bitbucket" again. Hope that unblocks you.

[2016-08-06 09:16] GowrishankarGeek commented on #362
Hello,
what is procedure for SSO(single sing-on) with docker? please help me

[2016-08-07 21:32] thasmo commented on #708
Also the Docker Cloud is not able to do this but it is so much needed.

[2016-08-07 21:33] thasmo commented on #620
#708 is related.

[2016-08-08 10:29] edevil opened #758 "Support other variables when specifying tag names on automated builds"
Currently only ```sourceref``` is supported for the tag name, but other variables would also be useful such as the commit name and/or the short commit name. We use the commit name in our tags so that we don't accidentally use an older version of the image from the cache.

[2016-08-08 13:27] syepes commented on #749
+1 Would be a great addition!

[2016-08-08 16:40] akshayvyas commented on #757
@rickalm, apologies for the long delay in resolving this issue.  We are targeting a patch this week with an increase of the limit until we have pagination in place.  Thank you for your patience, I will update this ticket when it's ready for you.

[2016-08-09 14:16] twang2218 opened #759 "Dockerfile Location cannot support regex"
In my repo: https://github.com/twang2218/gitlab-ce-zh, I created subdirectory for each version branch, such as `./8.5`, `./8.6` and `./8.7`, which contains the `Dockerfile`, and use `tag` for each patch version update, so, there will be tags such as `v8.5.8`, `v8.6.7`, `v8.7.6`.

I expected the Dockerfile Location to support regex sourceref, so, I can use `/^v([0-9]+)\.([0-9]+)\.([0-9]+)$/` to par

[2016-08-09 15:13] ElusiveMind opened #760 "Unable To Connect BitBucket Account"
When click the option on the hub to connect my bitbucket account, all it does is refresh the page or white screen depending on the browser.  I have attached a link so you can see what happens.

http://screencast.com/t/NsA00Yryi

[2016-08-09 17:07] bcwalrus commented on #760
@ElusiveMind I've seen it occasionally as well. As a workaround, could you try click on the "Bitbucket" link again in the refreshed page?

[2016-08-09 17:11] bcwalrus commented on #759
@twang2218 Got some background question about your use case. Since the Dockerfile is version controlled, why do you create a subdirectory for every version? Why not just have one `/Dockerfile`, and update that as you create new versions? That way, regardless of which branch you're on, `docker build .` would just work.

[2016-08-09 17:16] bcwalrus commented on #758
@edevil That makes sense. When you wrote "commit name", do you mean the git hash?

[2016-08-09 17:18] ElusiveMind commented on #760
No. I did get it to work by connecting via Settings > Linked accounts, but trying from the Create Automated Build failed every time.

[2016-08-09 18:53] bcwalrus commented on #620
You can manually submit a build of any Git branch/tag using a build trigger. The source object will be evaluated according to the configured build rules, and kick off any matching ones: E.g.

    curl -H "Content-Type: application/json" --data '{"source_type": "Tag", "source_name": "v1.1"}' -X POST <trigger_url>

![triggers](https://cloud.githubusercontent.com/assets/171078/17529304/a0f53846-5e27-

[2016-08-09 18:55] bcwalrus commented on #708
The workaround is to use a build trigger, e.g.

    $ curl -H "Content-Type: application/json" --data '{"source_type": "Tag", "source_name": "v1.1"}' -X POST <trigger_url>

The specified source branch/tag will be evaluated according to the configured build rules, and kick off any matching ones.
![triggers](https://cloud.githubusercontent.com/assets/171078/17529451/21a0dea0-5e28-11e6-922a-d91dfcf4f

[2016-08-09 19:42] edevil commented on #758
Yes. :)

[2016-08-09 20:42] sagikazarmark commented on #520
@rrarunan I have a this issue too. Even if I push tags, the builds are not triggered. I have to add that I tried force pushing tags.

If I try the webhook with build: true (which should trigger all branches/tags according to the documentation) still the same: branches are triggered, tags are not. I have to trigger tags manually, but the webhook only accepts a call in 1-3 minutes, so I have to wait

[2016-08-09 20:42] sagikazarmark commented on #520
Talking about this repo BTW: https://github.com/webplates/docker-symfony-nginx

[2016-08-09 23:09] bcwalrus commented on #520
@sagikazarmark I see autobuilds getting kicked off as a result of git tags being updated (e.g. `1.10.1-alpine`, `1.10-alpine`, `1.10`).

Btw, when you use a build trigger, try specify the source type and the source name. Without them, it won't trigger the regex build rules, because it doesn't know what to evaluate. (And kicking off a build for each git tag you have is unreasonable.)

[2016-08-09 23:13] sagikazarmark commented on #520
@bcwalrus it seems to work when I don't update many tags at the same time. eg. updating 3-4 tags works, but updating all the ~10 simply does not trigger the builds.

About the webhook: I thought so, makes sense.

[2016-08-09 23:28] bcwalrus commented on #520
@sagikazarmark That is a GitHub limitation. https://developer.github.com/v3/activity/events/types/#createevent

[2016-08-09 23:29] keyscores commented on #727
@pkennedyr This issue is still occurring, even though I received an email from support saying it was closed.

The error I receive:
`tar: .meteor/packages/coffeescript/.1.2.3.m88qvm++os+web.browser+web.cordova: Directory renamed before its status could be extracted`

[2016-08-09 23:32] sagikazarmark commented on #520
@bcwalrus Oh, thanks for pointing.

[2016-08-10 01:26] twang2218 commented on #759
My use case is something similar to Docker official image git repo, such as, <https://github.com/docker-library/mysql/tree/master>

I used to create multiple branches for each minor version, Docker Hub can handle that, however, I found it's not a trivial job to sync some common files across the branches, such as `README.md`.

Every time I published a new version, I need to update the `README.md` f

[2016-08-10 04:04] #520 closed

[2016-08-10 16:09] akshayvyas commented on #650
@ve3 is this still broken for you?  For us, using Win 10, Firefox 45.x, the "Explore" link works properly and I can see the list.  Are you using any Ad Blockers by chance?  If yes, what vendor?

[2016-08-10 16:12] ve3 commented on #650
Yes, it works fine now.
Please notice that I was reported this issue since April 22.

[2016-08-10 16:12] #650 closed

[2016-08-10 16:15] akshayvyas commented on #650
@ve3 apologies for the extremely delayed response and action.  We are committed to address some of the long reported issues in the coming days and weeks.  Really appreciate your patience as we catch up.

[2016-08-10 16:19] ve3 commented on #650
:-) No problem.

Thank you for your response.

[2016-08-10 19:17] luoluo1987 opened #761 "No audit log[feature request]"
I am a security engineer in our company, we are using docker-hub to manager our cloud repo, we want to audit all the pull, push,delete and other activities related to our company repo for security monitoring.
We would like to have some API to retrieve these audit information and then feed into Elasticsearch.

[2016-08-10 21:03] thasmo commented on #620
@bcwalrus, how would that work for the Docker Cloud?

[2016-08-11 21:12] klingtnet commented on #478
The triggered build on pushes to the github repo has never worked for none my docker containers, either. I always have to trigger the manually.

[2016-08-11 23:19] YangLeoZhao commented on #645
@baibhavVishal do you have a repo on docker hub? i had the same issue. You need to create a repo first which will be in the format of <username>/<project_name> and then you need to name your image the same way.

Hopefully that fixes your problem

[2016-08-12 07:00] arslan88 commented on #310
Could any one share a related document how to add a docker file in private repo to run automated builds ?

[2016-08-12 11:13] kencochrane commented on #310
@arslan88 it is the same way as a public repo, no difference. Are you getting an error, or having an issue getting started?

[2016-08-12 11:26] arslan88 commented on #310
Hi again , i am trying to start and having issues . I want to crate automate build and automate test for bitbucket pipeline but i am unable to find a useful bitbucket-pipeline.yml. If you could share a document with step by step instructions it will be appreciated . Thanks in advance

Sent from my iPhone

[2016-08-12 11:59] kencochrane commented on #310
Here are the docs for creating an automated build on the hub. https://docs.docker.com/docker-hub/builds/

I don't know anything about bitbucket pipelines you will have to check with bitbucket for that.

[2016-08-12 13:28] arslan88 commented on #310
The repo i am trying to automate build for is a git repo ..

Sent from my iPhone

[2016-08-12 13:59] kencochrane commented on #310
It shouldn't matter, it will work for both git and mercurial

[2016-08-12 15:59] elcodedocle commented on #313
+1

[2016-08-12 17:07] xizhao commented on #619
Also have this issue, disabling ad blocker doesn't help.

[2016-08-12 18:08] Gurubol commented on #508
@pchico83 , Can you please provide me an example of how this hooks is used? Do we use the same docker file commands?
I tried with an example of setting an environment variable, which I later want to refer to in the Dockerfile, but it throws error

For example, in hooks/post_checkout, I added

ENV UI_BUILD x-1.2.2

But this throws me the following log.
"Executing post_checkout hook...
Unexpected er

[2016-08-12 19:24] nalipaz commented on #508
Yeah, a gist or example project would likely be helpful for this. I will see if I can find time to test and make one although I am not using this feature currently. I opted for using Travis CI to use a make file to pass in params to the build and then push the final image into docker hub.

[2016-08-12 19:56] RichardSGN commented on #313
+1

[2016-08-13 17:38] npearson72 opened #762 "Can't reset password"
For some reason I can't seem to login today. I tried to reset my password, but the link redirects back to the home page:

https://hub.docker.com/account/password-reset-confirm/

Anyone else having this issue?

[2016-08-15 18:40] bcwalrus commented on #762
@npearson72 Did you get the password reset email, and manage to reset your password?

[2016-08-15 19:28] npearson72 commented on #762
I did get the reset email, but clicking on the link redirected me to the
docker hub home page. Today however I tried using incognito and it worked.

On Mon, Aug 15, 2016 at 9:40 PM, bc Wong <notifications@github.com> wrote:

[2016-08-15 20:29] tescherm commented on #619
@devyn @jgoulah @xizhao can you contact support@docker.com describing the issue? They should be able to investigate further. You can include my gh handle (@tescherm) in the email.

[2016-08-15 20:32] bcwalrus commented on #478
@klingtnet Using https://github.com/klingtnet/docker-cherrymusic as an example, DockerHub has not been getting any webhook notifications about its pushes. Could you check the GH repo webhooks (or service hook integration) to see whether that is configured?

[2016-08-15 20:35] bcwalrus commented on #762
@npearson72 Thanks for the update. I usually run into that when I'm logged into Hub as another user. It's also possible that you have a stale cookie from a while back. Would recommend you clearing the browser cookies for *.docker.com.

[2016-08-15 20:35] #762 closed

[2016-08-15 20:39] pkennedyr commented on #620
@thasmo Build triggers is on the Docker Cloud roadmap and will be released later this year.

[2016-08-15 20:41] pkennedyr commented on #758
Thanks for the feedback, @edevil - we've added this to the roadmap for the Docker Automated Build service.

[2016-08-16 06:55] karalabe commented on #727
My repos started failing with this error about a month ago, then last week it seem to have worked a few times, then it started failing again. I'm extracting a simple tar file, nothing fancy.

[2016-08-16 07:36] klingtnet commented on #478
@bcwalrus This was my fault, I haven't setup the github service hook.
The *build settings* page on docker hub looked fine to me  so I wasn't aware that I had to add the docker webhook manually.
![hub](https://cloud.githubusercontent.com/assets/1538057/17691409/8c503928-6394-11e6-9928-94e24ab090eb.png)

[2016-08-16 08:17] sgalkina commented on #328
👍

[2016-08-16 17:25] bcwalrus commented on #478
@klingtnet Glad it's working!

[2016-08-16 17:25] #478 closed

[2016-08-17 12:27] vehsakul commented on #213
What if I'm not the owner of organization (so I cannot add deploy keys), it just granted me access on dockerhub?

[2016-08-17 12:34] pchico83 commented on #508
@Gurubol You are probably missing the `bash shebang` at the beginning of your hook.
This is an example project with hooks:
https://github.com/docker/dockercloud-events

[2016-08-17 17:25] ndegory commented on #749
I just tried an automated build with a HEALTHCHECK in the Dockerfile, it works for me now.
I see "Version: 1.12.0" in the build log indicating Docker 1.12, but I don't know if it has been rolled out for everybody.

[2016-08-17 20:02] victorgama opened #763 "Cannot leave organisation"
Currently, I'm part of an organisation in which I do not want to continue in. When clicking the remove button, the server responds with a 403 error. I'm not the organisation admin. Is this the expected behaviour?

[2016-08-17 21:25] marcusmartins commented on #749
We have upgraded our autobuild infrastructure to Docker 1.12.

[2016-08-17 21:25] #749 closed

[2016-08-17 21:28] marcusmartins commented on #756
@roopeshku You should ask your question on https://forums.docker.com as your question is a generic Docker question. You will get more eyes over there.

[2016-08-17 21:28] #756 closed

[2016-08-18 01:53] c33s commented on #334
would prefer to use docker.io with gitlabs registry.
but dockerhub should also support generic git repos

[2016-08-18 02:33] c33s opened #764 "Host & Edit Dockerfile directly on docker hub"
Removing the requirement of installing docker locally or creating a bitbucket&github account to create (automated) builds would be awesome.

would love if you add an option to uploading/copy and paste the dockerfile to docker hub. everytime i edit the file (online), a new build is triggered.

so if i want to use the gitlab-ci and don't find a perfect image for me, it cost nothing more than:

- cre

[2016-08-18 02:52] majinding opened #765 "如何查看镜像依赖的系统版本"
比如 在https://hub.docker.com/ 查询mysql
像 https://github.com/docker-library/mysql/blob/77f0a50ecd54edafe48ce3a2a328c22e9e7564a8/5.7/Dockerfile所编写的dockerfile
如何查看依赖的 FROM debian:jessie  这个镜像的系统版本。

近期从ubuntu14.04 迁移到16.04 就出现不兼容的问题。
麻烦有知道的大神帮忙指教下，谢谢。

[2016-08-18 03:43] andyneff commented on #508
Thanks to @pchico83 guidance, I was able to look around and discovered a number of useful pieces of information

1. The docker image used in docker hub to build dockers is called [docker/highland_builder](https://hub.docker.com/r/docker/highland_builder/tags/2.19.1_rc1/)
2. The majority of the hidden hooks features are come from the [builder.py](https://github.com/andyneff/highland_builder/blob/ma

[2016-08-18 11:32] netw0rm opened #766 "issues"
可否给hub增加issues功能。

can you add the function of issues to hub.

[2016-08-18 16:57] akshayvyas commented on #126
closing ticket.  highlight of tabs is working properly in both cases.

[2016-08-18 16:58] #126 closed

[2016-08-18 23:36] akshayvyas commented on #757
@rickalm can you confirm you can see all your teams now?

[2016-08-19 00:34] cioc commented on #727
Same issue impacting our builds : https://hub.docker.com/r/hammerlab/biokepi-run/builds/bz4d2t8qk2fttro8vdcfxpm/

[2016-08-19 00:45] F21 opened #767 "Automated builds not triggering"
I have this image set to automatically build every time a new tag is pushed: https://hub.docker.com/r/boostport/hbase-phoenix-all-in-one/

I just pushed a new tag to the corresponding git repo on github: https://github.com/Boostport/hbase-phoenix-all-in-one/releases, but the automated build does not trigger.

I tried deleting the tag on the remote and repushing it, but still no go.

[2016-08-19 01:13] F21 commented on #767
It appears to be building now. Not sure what was causing the issue previously.

[2016-08-19 01:13] #767 closed

[2016-08-19 14:17] iahmad-khan commented on #395
please add a cancel button , please

[2016-08-19 21:22] laneb commented on #610
Same problem here. I tried setting up a private link a couple of times with the same result. Github confirms that only public read access has been granted.

[2016-08-20 17:37] stefanmet commented on #513
@rrarunan Same here, I almost deleted existing users in order to test, but luckily found this issue page before doing so. This issue has been reported for a while - is there any fix in sight already? It would be much appreciated. Thanks!

[2016-08-22 05:49] lordloh commented on #187
I wanted to sort too and found the sort inadequate.

https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=dockerui&starCount=1

The repo with the maximum stars is 10 months old. The active repo is on # 2.

[2016-08-22 15:22] dciccale commented on #372
any news? I really need this. how can I help?

[2016-08-22 15:25] dciccale commented on #356
Now let's bring this to webhooks 😀  #372

[2016-08-22 17:07] schorsch3000 opened #768 "Login form at https://hub.docker.com/login/ incompatible with a lot of passwordmanagers"
Hi,
the login form at https://hub.docker.com/login/ is incompatible with a lot of passwordmanages:
I'm using: CKP - KeePass integration for Chrome™

The Passwordmanager is able to fill in the username and password to the 2 inputs,
but as soon as i hit the login button both input fields get cleared and both get a red message:
This field is required.

[2016-08-22 17:20] bcwalrus commented on #765
@majinding Your question is about inspecting the version of the `FROM` image. Right?

There are several ways to go about it:
- In your example, it says `debian:jessie`, so you know it's the Debian 8 "Jessie".
- Some Dockerfiles don't specify that. (Personally, I'd trust those images less.) But you could exec into the image and see for yourself.

In general, there is no good way to find out, and th

[2016-08-23 12:25] TeaSeaLancs opened #769 ""Machine user" fails as a deployment mechanism for private submodules"
I'm attempting to do an automated build which uses private git submodules.

I've been following the guide at https://github.com/programmerq/docker/blob/master/docs/sources/docker-hub/builds.md but it just doesn't work. Every build fails with the error:

[code]

[2016-08-23 16:22] kalain opened #770 "Paying for 10 Private Repositories, but can only use 5"
![image](https://cloud.githubusercontent.com/assets/19394215/17900170/2d1b63f4-692c-11e6-87d3-63c0ff88a1a3.png)

![image](https://cloud.githubusercontent.com/assets/19394215/17900224/6986ab5a-692c-11e6-85ce-9f1889f6600a.png)

[2016-08-24 00:57] marcusmartins commented on #770
Hi @kalain, can you contact support.docker.com and we will help you from there?

[2016-08-24 10:58] matt3224 opened #771 "Basic question on container stack"
Hi,

Sorry if this is a basic question im new to docker. I would like to know how to go about recreating my server environment, which is as follows:

- CentOS 7
- PHP 7
- MariaDB 10
- PHPMyAdmin
- WHM/cPanel

Im not sure if i get these all separate and install them or if i need a specific premade setup.

Any help or hand holding would be much appreciated!

Thanks,

[2016-08-24 12:19] kalain commented on #770
# Closing:

Issue was so if you have one user that was added to the team but he forgot to confirm after 2 days the whole account gets blocked.

[2016-08-24 19:09] zevarito opened #772 "Unlink Github account doesn't remove repository Deploy Key"
Hello,

I found that when I unlink the account it doesn't remove keys added to private repos.

Also I would like to know if the Public Key added by Hub at the moment of create an automated build is guarantee to be the same for each link/unlink of accounts.

Thanks.

[2016-08-25 04:12] ipp-docker-hub-client commented on #606
We seriously need it

[2016-08-25 04:13] damshenas commented on #606
With enterprises moving to docker hub/cloud, this feature is a becoming a MUST ...

[2016-08-25 04:16] kahhaw commented on #606
We are using Github Enterprise, but we can't link it to docker hub. Hopefully the options will be available soon.

[2016-08-25 04:17] Khanlari commented on #606
This is huge impact on our product delivery pipeline

[2016-08-25 07:01] michael-iproperty commented on #606
Would like to have this available soon

[2016-08-25 07:09] calwayne commented on #606
Best integrate with Selenium and JIRA

[2016-08-25 12:38] aliceminotto commented on #547
same problem here! https://hub.docker.com/r/cyverseuk/polymarker_wheat/builds/bdvn2mtrjnqdxzt5vemegyv/

[2016-08-25 16:38] mchaplin opened #773 "Unable to link Github account"
Tried multiple times within the last month to link  Docker/Github accounts :
- Get redirected from hub.docker.com to github
- Grant access
- Get redirected back to hub.docker, with message "There was an error during the github account link. Please ensure, you do not have the same github account linked to another dockerhub account"
- From hub.docker, i don't have access to Github link features, how

[2016-08-25 22:08] bcwalrus commented on #772
@zevarito The deploy key added is not tied to your GH account. If you create an autobuild in an organizational repo using your GH credentials, it'd be good to keep the autobuild working even after you've left the org. That's why unlinking doesn't remove the deploy keys.

The deploy key is added when the autobuild is created, not when the account gets linked/unlinked. And there is no guarantee that

[2016-08-26 03:50] kellenarb commented on #687
Just to share a workaround, you can SSH into your synology and run:

`docker pull <user/image>:latest`

This will grab the latest tag for the Image and it will show up under "Image" in the Docker GUI.

[2016-08-26 11:18] ghost opened #774 "Cannot convert account to organization"
Any ideas why?

![image](https://cloud.githubusercontent.com/assets/5337267/18003655/cd3f4838-6b97-11e6-8ca0-d499712e34aa.png)

[2016-08-26 12:29] zevarito commented on #772
It does, thanks.

2016-08-25 19:08 GMT-03:00 bc Wong <notifications@github.com>:

--
Alvaro

[2016-08-26 12:55] Herrad opened #775 "Empty title html tag on repository pages"
The title tag on repository pages is empty causing tabs to show the url instead of something more useful like the name of the repository.

![image](https://cloud.githubusercontent.com/assets/2590170/18005888/b4c1a9b6-6b94-11e6-8e3d-938a232da9ce.png)

Tested on:
Chrome 52.0.2743.116 m (64-bit)

[2016-08-26 12:59] Herrad commented on #775
Duplicate of #396

[2016-08-26 12:59] #775 closed

[2016-08-26 18:44] jslusher opened #776 "Are my docker pushes being rate-limited?"
Lately I have not been able to very easily push docker images to our private repo. I don't get an error, it just seems to hang indefinitely and eventually, if the image is small enough (< 10MB), it will complete. Uploading to other sources seems to work fine.

[2016-08-26 18:50] jslusher commented on #776
Restarting my docker daemon seems to have at least temporarily improved push performance.

[2016-08-27 02:47] fideloper commented on #776
Restarting Docker on Mac seems to help for me as well, wonder if it's related to the virtualization on the Mac client?

[2016-08-27 03:47] mghazizadeh commented on #776
Thanks for the feedback. The Docker for Mac team is aware of this issue and working to address it.

[2016-08-29 08:28] mattmcd commented on #727
Same issue with tar in my builds: https://hub.docker.com/r/mattmcd/naclbuildbase/builds/blfctp7gaqtlmgkeq3twjse/
Vaguely interesting that the previous unzip step worked fine in this build.

[2016-08-29 09:11] metal3d commented on #416
@chytreg thanks. I will try it !

[2016-08-29 17:25] #772 closed

[2016-08-29 17:41] taime opened #777 "pdate"

[2016-08-29 18:13] bcwalrus commented on #771
@matt3224 This is intended for Docker Hub feedback. Could you post general usage questions on https://forums.docker.com? Thanks!

[2016-08-29 18:13] #771 closed

[2016-08-29 18:44] marcusmartins commented on #777
@taime I am closing this issue as it doesn't contain any information.

[2016-08-29 18:44] #777 closed

[2016-08-29 18:45] marcusmartins commented on #774
Hi @eivantsov, can you contact https://support.docker.com and we will help you from there?

[2016-08-29 18:47] marcusmartins commented on #763
@victorgama it's not the expected behavior. Can you contact https://support.docker.com and we will help you from there?

[2016-08-29 18:48] victorgama commented on #763
@marcusmartins Sure thing. Should I close this issue?

[2016-08-29 18:51] bcwalrus commented on #767
@F21 Sorry you were having issues. Btw, make sure you don't push more than 3 tags at the same time. GH doesn't send out an event for that. https://developer.github.com/v3/activity/events/types/#createevent

[2016-08-29 18:55] bcwalrus commented on #213
@vehsakul If your GH/BB account is not authorized to add deploy keys, then Hub will still create the automated build, without the deploy key though. Builds will fail to clone your repo. The bottom of the build settings page has the key that somebody in your org can copy-n-paste into GH/BB.

[2016-08-29 18:55] zacharykane opened #778 "Unable to reset password?"
I recently tried to recover my account on Docker Hub but I can't get the reset to send me an email. I tried to re-signup but it tells me my address is already in use with an existing account. Please advise?

[2016-08-29 19:01] bcwalrus commented on #770
Actually, such users can still use the "can't login" -> "reset password" functionality to get a new confirmation email.

@kalain IIUC, you ran into a bug where there's an unconfirmed user in the owners team of the org, which has been fixed. Sorry about that.

[2016-08-29 19:01] #770 closed

[2016-08-29 19:06] bcwalrus commented on #778
@zacharykane Sorry about that. Could you email support@docker.com with your username, and mention me? We'll help you fix it.

[2016-08-29 19:12] pkennedyr commented on #395
Support for cancelling builds on Hub is on our roadmap and will be available later this year.

Note: This feature is currently available on Docker Cloud, which is where the majority of improvements and new features will be available: https://forums.docker.com/t/future-updates-on-docker-hub-docker-cloud/20498/2https://forums.docker.com/t/future-updates-on-docker-hub-docker-cloud/20498/2

[2016-08-29 19:12] vehsakul commented on #213
@bcwalrus I know but this is not very convenient. AFAIK there is no such thing as "add deploy key permission" on GH. Correct me if I'm mistaking.

[2016-08-29 19:23] bcwalrus commented on #213
@vehsakul A GH user with the admin role for a repo can add deploy key. https://help.github.com/articles/repository-permission-levels-for-an-organization/#changing-repository-settings

[2016-08-29 21:44] pchico83 commented on #769
Hi @TeaSeaLancs
We are working on updating the docs, you can configure an autobuild with private submodules by doing:
- Create a github machine user.
- Create a pair of private/public ssh keys
- Upload the public SSH key to the github machine user account.
- Add and environment variable in your autobuild called `SSH_PRIVATE` whose value is the private ssh key.

[2016-08-29 22:36] marcusmartins commented on #763
Closing it now. Thanks @victorgama

[2016-08-29 22:36] #763 closed

[2016-08-30 16:14] zacharykane commented on #778
Sent!

[2016-08-30 20:44] ekrupnik commented on #415
+1

[2016-08-31 01:13] majinding commented on #765
Thank you for your reply.
The reason I ask how to view the system version of the mirror, is that the system version of the problem caused by the start of the container, resulting in ubuntu16.04 can not work?
I have been very confused about the problem is that the ubuntu14.04 is built on the mirror can be normal operation, but then import into the 16.04 can not be normal operation, and this shows w

[2016-08-31 04:57] gear2000 opened #779 "dockerhub not building"
anybody experiencing dockerhub not building?  i hit the trigger button and it's been 3 hours and it's still just queued.

[2016-08-31 04:59] pkennedyr commented on #779
We are experiencing heavy usage of the autobuild service and are scaling up the service. For the latest updates, please refer to: http://status.docker.com

We apologize for the inconvenience.

[2016-08-31 05:49] gear2000 commented on #779
no worries.  i just wasn't sure if it was just my repo :)  thanks for the prompt response!

[2016-08-31 06:01] sacdallago commented on #395
@pkennedyr what about hanging builds? Is there a possibility to stop at least those or set a TTL for the build to finish via dockerfile? My auto-build is stuck since hours and spawning new builds won't solve the issue

[2016-08-31 09:07] TeaSeaLancs commented on #769
Hi @pchico83 thanks for the update.

Just to clarify (Although i'm sure i'll find this out during configuring this), this environment variable should be put into the dockerfile as an ENV statement?

[2016-08-31 11:11] pchico83 commented on #769
@TeaSeaLancs You don't need it in the dockefile, you need to add it in the Docker Cloud UI, as part of your autobuild configuration.

[2016-08-31 11:13] TeaSeaLancs commented on #769
And therein lies the issue: I was using Docker Hub autobuilds.

I've just switched to Docker Cloud so I will give that a shot and let you know.

[2016-08-31 11:27] pchico83 commented on #769
This could be interesting to you, talks about the future direction of Docker Cloud and Docker Hub:
https://forums.docker.com/t/future-updates-on-docker-hub-docker-cloud/20498

[2016-08-31 11:41] TeaSeaLancs commented on #769
Thanks for that, it looks like good reading.

Having followed your instructions above, unfortunately the build still fails with the same error message. I have ensured that the public key is attached to the machine user, the machine user has read & write access to the private repo `common` (Plus the actual private repo that we're building!), and added the private key as `SSH_PRIVATE` under the auto

[2016-08-31 12:42] TeaSeaLancs commented on #769
This is a screenshot of how it's set up, this all seems correct?

![No worky](https://cloud.githubusercontent.com/assets/3225866/18129022/b4e473de-6f80-11e6-8d27-c93daba49151.jpg)

[2016-08-31 13:28] TeaSeaLancs commented on #769
Also, does it matter if the machine user is the user that is linked to Github in Docker Cloud? (Mine currently is)

[2016-08-31 13:39] pchico83 commented on #769
@TeaSeaLancs No, it doesn't. But you will still need to add the `SSH_PRIVATE` env variable. This is because the same deploy key (which is what Docker Cloud use to clone repositories) can be only added to a single repo in github. The only way to clone several repositories using SSH is a user SSH key.

[2016-08-31 13:41] TeaSeaLancs commented on #769
Ok. I did that, as shown in the screenshot above, and it still doesn't work, so i'm at a loss as to what to do :)

[2016-08-31 14:22] pchico83 commented on #769
@TeaSeaLancs From the errors, looks like your git private submodules are using `https` instead of ssh.

[2016-08-31 14:36] TeaSeaLancs commented on #769
And that could explain a few things! Thanks for bearing with me on this, this could be a massive facepalm on my side here.

[2016-08-31 14:39] pchico83 commented on #769
I opened an internal issue to document all this. It is a recur-rely question how to set up private submodules, and we don't have it documented anywhere.

[2016-08-31 14:40] TeaSeaLancs commented on #769
Yeah I think mentioning the SSH thing in setting up the submodules could be a good idea as well, practically everyone just says to use the `https://` format when adding submodules when you google about it.

I swapped the format to be `git@github.com:organisation/repo` in the submodules and now it's working great, thanks so much for the help.

[2016-08-31 14:43] TeaSeaLancs commented on #769
One final question, is the `SSH_PRIVATE` mechanism exclusively for docker cloud, or is it possible to reuse this for manual builds?

[2016-08-31 14:43] pkennedyr commented on #779
The automated build service is operational as of Tues (8/30) 11:45pm (PT): http://status.docker.com

[2016-08-31 14:43] #779 closed

[2016-08-31 14:46] pchico83 commented on #769
By "manual" do you mean for local builds? As long as you are using SSH keys to clone git repos in your local environment, it will work locally too.
In a nutshell, Docker Cloud uses `SSH_PRIVATE` to clone your git repo and from there, it executes a `docker build` command the same way it is executed locally.

[2016-08-31 15:00] TeaSeaLancs commented on #769
Ah yes that makes sense.

I was thinking of a slightly different usecase: We also have git private submodules which are used as part of an `npm install` during the build process. I was wondering if there was any Docker best-practice regarding how to do that as well.

[2016-08-31 15:08] pchico83 commented on #769
You could use the instruction `ARG` in your dockerfile to pass the SSH keys, but this is not recommended since the SSH key will be kept in the layers of your image.
For these cases, I recommend a two-phase build. You can generate all the content (clone every git module) before executing `docker build` and use the `ADD` instruction to inject the content on your image without needing credentials or