[2015-08-12 23:12] mike-jumper commented on #124
Link processing appears to be broken for links which span multiple lines. If a newline character occurs anywhere between the square brackets denoting a link, the link is simply not rendered.

For example, take the following snippet of [our `README.md`](https://raw.githubusercontent.com/glyptodon/guacd-docker/master/README.md):

[code]

Rendering seems fine on [GitHub](https://github.com/glyptodon/

[2015-08-12 23:16] ChristopherBiscardi commented on #255
You can see the available tags here: https://hub.docker.com/r/library/python/tags/

It seems that what you want is

[code]

[2015-08-12 23:20] ChristopherBiscardi commented on #253
@eviltnan Is this a recurring issue or was it ephemeral? I've successfully hit the endpoint in the screenshot without issue.

[2015-08-12 23:42] rockyluke commented on #257
Me again... In fact I don't have the issue with debian squeeze, but with wheezy and jessie. I just uploaded the tree images but only one usable with docker pull. I think I need a little help.

Thanks.

[2015-08-12 23:57] rockyluke commented on #257
Informations about my setup :

[code]

[2015-08-13 01:37] nathanleclaire opened #264 ""The server hub.docker.com requires a username and password" popup"
<img width="1335" alt="screen shot 2015-08-12 at 6 34 20 pm" src="https://cloud.githubusercontent.com/assets/1476820/9240915/2e15fa64-4121-11e5-9bfe-53c2d8769c13.png">

Steps to reproduce:
1.  Go to https://hub.docker.com/search/?q=ngrok&page=1&isAutomated=0&isOfficial=0&starCount=0&pullCount=0
2.  Click on the first link to repo in results

Not sure what the popup is (somebody left lower env ngin

[2015-08-13 01:42] hirokiky commented on #188
I got same one, good luck :+1:

[2015-08-13 02:09] icecrime commented on #257
:kiss:

[2015-08-13 02:27] dmp42 commented on #257
@rockyluke do you have docker daemon logs? (preferably ran in debug mode)

Specifically, logs at the time you import / create your base images.

[2015-08-13 06:17] jakirkham opened #265 "Error pushing to registry: Server error: 400 trying to push ..."
Seems I am getting this error frequently.

[2015-08-13 06:55] jason-tian commented on #265
I'm getting this error frequently too. Who can help resolve it on dockerhub side?

[2015-08-13 07:13] lawitschka commented on #265
Same here, sometimes it just works, but in 90% of the time pushing fails

[2015-08-13 07:28] forhot2000 opened #266 "new UI is hard to find repository"
1. the newest repository is in the last page, we must goto the last page to open it, why not keep it in first page
2. the pager bar is too small, it only show at most 3 numbers as prev | current | next, we must click 4 times goto page 5, it is very terrible

![image](https://cloud.githubusercontent.com/assets/1013694/9244636/a81a0fa4-41cf-11e5-80a4-84e31c562d44.png)

[2015-08-13 08:23] godfriedmeesters commented on #229
Still experiencing the same problem

[2015-08-13 08:30] eviltnan commented on #253
Can't repeat it now also, time to close the issue.

[2015-08-13 08:34] eviltnan opened #267 "Linking Bitbutcket account to another account redirects to automated builds page without error"
1. Link a bitbucket account A to docker hub account X
2. Log in in anonymous session with docker hub account Y
3. Log in to bitbucket with the same account A
4. Link bitbucket account A to docker hub account Y

Expected:
- error message, that account already used or relinking to account Y

Current:
- linking redirects back to link account page without any erro message or similar

[2015-08-13 08:37] eviltnan opened #268 "Automated build dockerfile view is empty"
Dockerfile is empty in the automated build page.

I'm not sure if this can be influenced by the fact, that initially I've specified wrong path for the dockerfile. Nevertheless after fixing the dockerfile path, I trigger the build and it finishes successfully, but in Dockerfile tab and in build details view Dockerfile content remains empty.

Repo: tbeu/avousbackend

[2015-08-13 09:48] rockyluke commented on #257
[code]

[2015-08-13 11:00] kencochrane commented on #188
@hirokiky should be fixed, try again.

[2015-08-13 11:03] kencochrane commented on #247
@Jeff-Lewis @camallen this should be fixed, please confirm

[2015-08-13 11:04] hirokiky commented on #188
@kencochrane awesome! there's no problem. Thank you.

[2015-08-13 11:05] kencochrane commented on #188
The permanent fix should be pushed to prod at this point, so this issue should be resolved, if you are still seeing issues, please email support@docker.com because it might be related to something else.

[2015-08-13 11:05] kencochrane commented on #188
@hirokiky good news, you're welcome

[2015-08-13 11:27] pward123 commented on #68
+1

[2015-08-13 11:45] rockyluke commented on #257
According to the change log here : https://github.com/docker/docker/releases/tag/v1.8.1

I've updated to 1.8.1 but I have the exact same issue.

Thanks.

[2015-08-13 13:07] rrnewton opened #269 "Show more metadata: duration of build"
If I click on "Build Details" I can see the full log output, great!  But stats on build duration seem absent.

Also, even though the size in MB of the image can be found under "tags", it would be great to reproduce it on that same "Build Details" view to make that a comprehensive summary of the build.

[2015-08-13 13:52] camallen commented on #247
@kencochrane looks good to me, latest builds show up first in the list.

[2015-08-13 14:05] icecrime commented on #257
Reproduced on 1.8.1 with error:

   ERRO[0036] error copying from layer download progress reader: download canceled

Reproduced on 1.7.1 with error:

    ERRO[0029] Error from V2 registry: ApplyLayer exit status 1 stdout:  stderr: archive/tar: invalid tar header

Something seems wrong in the image. This is unrelated to Hub (it's a docker and/or distribution issue): moving the conversation to docke

[2015-08-13 14:05] #257 closed

[2015-08-13 14:12] Jeff-Lewis commented on #247
@kencochrane Yes, thank you. Will we be able to see full history at some point? (paging)

[2015-08-13 14:36] jakirkham opened #270 "Automated builds have "dirty" submodule repos"
If I insert a git repo into a container, as is done in some automated builds. I find that the repo appears to be dirty. In particular, I can reliably repeat the following.

[code]

Additionally, I tried to follow this ( https://tech.bellycard.com/blog/taming-git-for-docker ). However, it won't eliminate the dirty issue itself. When inspecting `.git`, it appears the git repo's index file is changed

[2015-08-13 15:54] deviantintegral opened #271 "Search for images FROM a specific image?"
Is there a way to search for images that source a specific image as it's base? For example, I'd like to find all images that are FROM phusion/baseimage so I can see options for http servers.

[2015-08-13 16:22] marcosalberto commented on #254
Thanks.

[2015-08-13 16:49] jakirkham commented on #270
Also, if I try running this in a container and commit it and run the committed image as a new container, the repo will appear dirty again afterwards.

[2015-08-13 17:49] jakirkham commented on #270
This appears to be caused by an issue with git ( http://stackoverflow.com/questions/16035240/why-is-git-describe-dirty-adding-a-dirty-suffix-when-describing-a-clean-ch ). It can also be addressed by running `git update-index -q --refresh`. However, it is surprising that that updating the index in this way does not persist in a committed image.

[2015-08-13 17:56] jakirkham commented on #270
It turns out simply running `touch .git/index` after will alleviate the commit issue. However, this seems to be a strange workaround as `git update-index -q --refresh` will already update the timestamp on that file.

[2015-08-13 18:07] ChristopherBiscardi commented on #253
Ok, I'll close now. Feel free to reopen if this pops up again.

[2015-08-13 18:07] #253 closed

[2015-08-13 19:04] dnegstad commented on #188
@kencochrane Thanks for the fix, it's working great!

[2015-08-13 19:48] jakirkham commented on #270
Surprisingly, this workaround ( https://github.com/docker/hub-beta-feedback/issues/270#issuecomment-130780354 ) does not help in an active build. It only works when committing a previously run container that already has the repo within.

[2015-08-13 21:32] dsampath opened #272 "Images with latest tag disappeared"
All of our (private) repos had an issue post-migration. The images with latest tag had 0 bytes.
Also, the size reported for an image on the hub does not match the size of the image that we see locally and it doesn't seem like a rounding off error.

[2015-08-13 21:35] dsampath opened #273 "Docker push to hub fails"
1. Checked the admin privileges of the users - OK (user has write permissions)
2. Checked the login creds on the machine locally - OK (able to pull from private repos indicating that I am logged in)

`docker push` managed to push a few layers before this message appears. This changes with each push, sometimes it is instantaneous, sometimes it's after pushing a few layers.

[code]

[2015-08-13 21:42] dsampath commented on #272
![pasted_image_at_2015_08_13_02_39_pm_360](https://cloud.githubusercontent.com/assets/1567374/9262382/71b0797c-41c9-11e5-9113-39425466f722.png)
![pasted_image_at_2015_08_13_02_40_pm_720](https://cloud.githubusercontent.com/assets/1567374/9262386/78ef26de-41c9-11e5-8b48-a9d251e330c6.png)

[2015-08-13 21:51] alsonkemp opened #274 "Can't Update Billing Info"
I'm trying to update an organization's billing info, but appear unable to do so.  Bits from the console:

Loading /u/someorg/dashboard/billing/:
GET https://hub.docker.com/v2/billing/account/someorg/transactions/ 500 (INTERNAL SERVER ERROR)

Click update billing info:
Various JS warnings.

@ /u/someorg/dashboard/billing/update-info/.  Update info.  Click Submit:
Web: crickets [no status, loading i

[2015-08-13 23:13] xavi- commented on #273
Seeing this too?  Any response from dockerhub?

[2015-08-14 03:03] jakirkham opened #275 "RSS/Atom Feed notification"
Instead of using email, it would be nice to have a feed setup for Docker Hub notifications.

[2015-08-14 03:47] mcandre opened #276 "New Docker Hub: Can't see mcandre/docker-jruby"
I uploaded a container to the new Docker Hub: mcandre/docker-jruby, but I cannot see it online. When I try to create a repo named mcandre/docker-jruby, Docker Hub complains that it already exists.

[2015-08-14 03:48] mcandre opened #277 "New Docker Hub: New repo Description text area won't let me type"
The new Docker Hub UI won't let me type in the description text area. Whenever I press a key, my cursor is repositioned to the very end of the text area.

Using latest stable Chrome on Mac OS X 10.10.4.

[2015-08-14 03:51] mcandre commented on #258
Same error on create new repo. The new Docker Hub is incredibly buggy.

[2015-08-14 04:35] gondor commented on #12
+1

[2015-08-14 06:06] dmp42 commented on #273
@dsampath @xavi- if you see this, then you are using docker 1.8.0 - which shipped with a bug on push.

We immediately shipped docker 1.8.1 to address the issue, and are now blocking 1.8.0 from pushing to the hub to prevent any damage.

The solution is simple: update to docker 1.8.1.

Let me know if that helps.

[2015-08-14 06:12] xavi- commented on #273
Definitely does.  We finally figured it out earlier this evening.  Thanks.

[2015-08-14 08:02] sparklyballs opened #278 "adding a build when you have multiple git repo accounts."
i am a member of an organisation with git as well as having my own personal repo, when i attempt to add a container from the organisation repo the name field reverts to my personal repo and it has to be changed to the orginisation repo before the build can progress.

When that's done, and with the build set to be automatically triggered i still have to trigger the first build, not like it used to

[2015-08-14 08:38] jrhouston opened #279 "Can't activate build triggers on an Automated Build."
When I click the 'activate' button under build triggers for any of my Automated Builds nothing happens. DevTools shows that the URI it's hitting is a 404:

[code]

[2015-08-14 09:37] Ducatel commented on #195
Same bug with link added like:
[code]

`https` links are added without trouble

[2015-08-14 11:59] rtxm commented on #229
When we click on the "Activate button" the browser's debugger says:

    Request URL:https://hub.docker.com/v2/repositories/:namespace/:name/buildtrigger/
    Request Method:GET
    Status Code:404 NOT FOUND

[2015-08-14 12:01] rtxm commented on #279
Same as #229

[2015-08-14 15:21] anaderi opened #280 "organization name restriction"
Hi,

at the moment I cannot create 3-letter organization name.
e.g. I'd like to create organization for the project 'Reproducible Experiment Platform' that is abbreviated by 'rep' and no 4-letter acronym seem to work.

Would it be difficult to allow it?

[2015-08-14 16:25] thiagozs commented on #68
+1

[2015-08-14 16:56] #273 closed

[2015-08-14 17:48] aptalca commented on #119
Fast forward a month and a half, the new website has been out for a couple of weeks and you still can't open the menu or login on a mobile device.

I thought docker raised hundreds of millions of dollars from VC's (over $160M as of April '15). Yet they can't even get the website right. Ouch!

[2015-08-14 18:40] mcandre commented on #276
I can now see mcanre/docker-jruby on Docker Hub. Maybe there was a delay?

[2015-08-14 18:48] nhsiehgit commented on #274
This was brought to our attention and we have a PR in staging to address this. Sorry and thanks for your patience!

[2015-08-14 20:21] AlexisMontagne opened #281 "Build status: dockerfile, what does that mean?"
Two of my automatic builds have the status `dockerfile`.

![screen shot 2015-08-14 at 13 16 27](https://cloud.githubusercontent.com/assets/1418979/9283229/e16ea8fc-4286-11e5-861e-912d8c6b4d42.png)

[2015-08-14 20:26] yveshwang commented on #68
+1

[2015-08-14 20:28] AlexisMontagne opened #282 "Automated build key/value table not understandable"
What does mean the field `error`? Is it the build status? And what about the field `readme_contents`? I have no clue!

Moreover, the formating of the dates is raw, could you make it more "human readable"?

![screen shot 2015-08-14 at 13 22 27](https://cloud.githubusercontent.com/assets/1418979/9283317/aa7c807a-4287-11e5-8c12-8f85ce5409c8.png)

[2015-08-15 10:33] philp opened #283 "Can't configure Bitbucket automated builds"
Trying to connect Bitbucket through the Docker Hub UI, but the option to link to Bitbucket does nothing.

[2015-08-15 15:54] hmatinho opened #284 "No way to remove account"
There's currently no way in the UI to delete my current account

[2015-08-15 16:57] include commented on #188
:+1:

[2015-08-15 16:57] #188 closed

[2015-08-15 18:11] itzg commented on #266
:+1:

[2015-08-15 18:12] itzg commented on #256
:+1:

[2015-08-15 18:52] pandrew commented on #279
I cant seem to activate the build triggers on the hub when the dockerfile is in a subdirectory using automated build. For example i have a repo called dockerfiles with subdirectories for each app and activating build triggers seem to have no effect. If the dockerfile is in the root of the folder there seem to be no issues.

[2015-08-15 19:38] jamesnetherton opened #285 "Format build details 'created at' and 'last updated' values"
The 'created at' and 'last updated' values displayed on the build details page are just the raw timestamps....

2015-08-15T19:23:30.060328Z

Probably best to format these values.

[2015-08-15 19:49] ahmetalpbalkan opened #286 "Search filter Official does not work"
![image](https://cloud.githubusercontent.com/assets/159209/9290530/1c51bd7c-434c-11e5-9d13-7e35eca92f31.png)

[2015-08-15 19:58] alunduil commented on #279
+1

[2015-08-16 00:41] ahmetalpbalkan opened #287 "Duckduckgo bang does not work anymore"
The `!dhub <query>` bag stopped working in the new design.

https://duckduckgo.com/bang

[2015-08-16 00:50] ahmetalpbalkan opened #288 ""Source Project" button opens the same page on a different tab"
https://hub.docker.com/r/mesoscloud/zookeeper/~/dockerfile/

This button just opens the same url. The issue #160 was reported before but it is not fixed. The repo is an automated repo in this case and the Hub should have access to its dockerfile and repo link.

[2015-08-16 00:51] ahmetalpbalkan commented on #160
@ChristopherBiscardi It doesn't work for automated build repos either. Reopening an issue at #288.

[2015-08-16 15:00] Meabed opened #289 "Github linking account doesn't work."
I try to link my github account to hub account but i always get redirected to the site with url
https://hub.docker.com/account/authorized-services/github/?code=XXXXXXXXX&state=XXXXX
but it never works.. I have this github account linked to another hub account before so it might be the issue.

[2015-08-16 16:59] saitheexplorer opened #290 "Changing billing email doesn't work"
Tried to change my billing email for our organization's account - had to re-input my billing info to make this change. I got a 400 Bad Request on my first attempt. I don't have a secondary address line, so I made it ' ' (empty space) and it seemed to succeed, but the reloaded page showed me an account summary with the free plan selected (could be a bug or it could have been showing my personal acc

[2015-08-16 17:19] rrarunan commented on #289
@Meabed Yes, that is indeed the issue. We are working on a better error message for this scenario of multiple hub accounts for the same github account.

[2015-08-16 17:22] rrarunan commented on #286
https://hub.docker.com/search/?q=ubuntu&page=1&isAutomated=0&isOfficial=1&pullCount=0&starCount=0 -> this works for me. Can you let me know what the query parameter was? If the query parameter was empty, the filters don't work at the moment. This is a known issue and we are working on a solution.

[2015-08-16 18:20] Meabed commented on #289
@rrarunan and if i want to have my account linked to multiple dockers ( one personal ) and on for the company i work for as an example? how can i do this ?

[2015-08-16 21:02] ChristopherBiscardi commented on #279
Closing as dupe of #229

[2015-08-16 21:02] #279 closed

[2015-08-17 10:11] kizbitz commented on #284
duplicate: https://github.com/docker/hub-beta-feedback/issues/11

[2015-08-17 12:54] hmatinho commented on #11
+1

[2015-08-17 14:09] stain opened #291 "Cursor keys don't work in hub registration text forms"
Using Firefox 40.0/Ubuntu 14.04 it is impossible to edit text in any description fields of the hub, e.g. when trying to adding a new repository. If I use cursor keys like left arrow or home, and type a letter, the first letter is added correctly, but the next letters are added at the end of the text field.

E.g. editing the Short Description

to "Mr. Fred"  by clicking Home and typing "Mr. " becom

[2015-08-17 14:10] stain commented on #291
This also happens if I position the cursor with the mouse.

[2015-08-17 15:08] gvangool opened #292 "Ability to specify Dockerfile (--file)"
Is it possible to add the ability to specify Dockerfile (the `--file` option on the cli)?

Currently I build with a Makefile, but since we're moving to production we want to switch to automated builds:

[code]

[2015-08-17 15:29] stooie90 opened #293 "Collaborative Private Repo Not Visible"
I cannot see private repos from my dashboard that I'm marked as a collaborator in. I'm still able to access the repo, I just needed to have access to the link and I can also star it to gain access. But as far as I can see there is no other way for me to be able to access that repo if I had no way of finding the link.

[2015-08-17 16:11] rrarunan commented on #293
@stooie90 Is the repository part of an organization or a user? i.e what is the `namespace` in `<namespace>/<repo_name>` ? A user or an organization?

[2015-08-17 17:23] ChristopherBiscardi commented on #292
To be clear, you are asking for the ability to separately specify the build context and the dockerfile in Automated Builds?

[2015-08-17 17:26] ChristopherBiscardi commented on #288
@ahmetalpbalkan Thanks for re-opening this.

[2015-08-17 17:27] ChristopherBiscardi commented on #271
This is not currently implemented on the Hub. Marking as feature request.

[2015-08-17 17:34] gvangool commented on #292
Yes indeed. In my case the context would be `/`, while the dockerfile is `_build/Dockerfile_httpd`. At this moment you can only specify the context.

[2015-08-17 17:42] ChristopherBiscardi commented on #292
It is not possible to do this in Automated Builds today. Marking as feature request.

[2015-08-17 17:51] ChristopherBiscardi opened #294 "Add Email settings form always clears input"
### Behavior
The ["Add Email" field](https://hub.docker.com/account/settings/) always clears after submission, even when there is an error in submission.

![screenshot 2015-08-17 10 47 25](https://cloud.githubusercontent.com/assets/551247/9311753/5dcc9858-44cd-11e5-829c-37b08a6cd297.png)

### Desired Behavior

When there is an error in the submission, keep the email in the input.

### Reasoning

I

[2015-08-17 17:53] ChristopherBiscardi commented on #27
This is fixed in prod. Closing.

[2015-08-17 17:53] #27 closed

[2015-08-17 18:02] ChristopherBiscardi commented on #33
Closing:

![website_url](https://cloud.githubusercontent.com/assets/551247/9312098/7d33dcc2-44cf-11e5-8cc2-42eec5b78bb2.gif)

[2015-08-17 18:02] #33 closed

[2015-08-17 18:05] #50 closed

[2015-08-17 18:07] ChristopherBiscardi commented on #58
Fixed in prod

[2015-08-17 18:07] #58 closed

[2015-08-17 18:09] ChristopherBiscardi commented on #71
Looks good in prod. Closing

[2015-08-17 18:09] #71 closed

[2015-08-17 18:09] #73 closed

[2015-08-17 18:10] #64 closed

[2015-08-17 20:41] clarksc opened #295 "Unable to change to a Medium size organization repository"
Hi ,
The submit button on the billing page does not allow you to update from the free trial to a multiple repository package.  I am trying to go to a Medium solution and the screen just sits there when I press the submit button.

Thanks,

[2015-08-17 22:14] fauzanariffin commented on #235
The **"private"** option is still visible under the **Organization > Create Repo** page.

![image](https://cloud.githubusercontent.com/assets/7702461/9317770/9f9d4cb2-44f2-11e5-9265-18acb5b4e216.png)

[2015-08-17 23:48] aventurella commented on #158
yup, I'm getting this exact same thing.

[2015-08-18 00:03] ChristopherBiscardi commented on #87
fixed in prod

[2015-08-18 00:03] #87 closed

[2015-08-18 08:25] stooie90 commented on #293
@rrarunan the repository belongs to another user, not an organisation.

[2015-08-18 13:29] ofir-petrushka opened #296 "Create repo under dashboad doesn't have an auto build option"
Example url:
https://hub.docker.com/u/rounds/dashboard/

Talking about the big blue button on the right with the "+"

[2015-08-18 16:49] kizbitz commented on #94
Could be merged with: https://github.com/docker/hub-beta-feedback/issues/17

[2015-08-18 18:01] rrarunan commented on #278
@sparklyballs Can you confirm what `namespace` you see in the URL query parameters when this happens?

[2015-08-18 18:13] ChristopherBiscardi commented on #287
Looks like duckduckgo is using:

[code]

Which is going to the registry hub domain that no longer exists. The redirect (on the hub side) doesn't look like it's redirecting from the old domain to the new url. Since this is offsite I'm marking it as an enhancement but I'm pulling it into our TODO pipeline.

[2015-08-18 18:19] ChristopherBiscardi commented on #291
Closing as duplicate of #93 since this will be solved globally

[2015-08-18 18:19] #291 closed

[2015-08-18 18:46] sparklyballs commented on #278
@rrarunan i video'd it as i'm not the most descriptive of people.
https://www.youtube.com/watch?v=5DAAt8uNC8w&

[2015-08-18 18:55] rrarunan commented on #278
ok, I see. If you see in the video, the `namespace query ` points to `linuxserver` which is the `docker org namespace` that is default, since you probably were on your organization dashboard when you started the automated build creation process. The list that you saw was the `github organization` and `github repositories` that you want to set up your automated build on. Since, both the docker hub

[2015-08-18 18:59] rrarunan commented on #296
Related to issue #261.

[2015-08-18 19:02] sparklyballs commented on #278
i understand your explanation, but it doesn't take away the frustration factor on what should be a relatively simple thing to sort.
i can't be the only user who has multiple repos to work with.
UX is key, it's your shop window.

[2015-08-18 19:05] rrarunan commented on #278
Thanks @sparklyballs We will work on this to make the flow better.

[2015-08-18 19:54] febbraro commented on #213
I had this problem and here is a workaround...

If the repo in BitBucket is private, you must create the Automated Build as private, then everything gets created correctly (deploy keys, etc). I then manually trigger the first build and the repo is cloned etc. I then change the Automated Build repo to public and the build will continue successfully.

Hope that helps.

[2015-08-18 20:12] markosamuli commented on #213
Thanks all, I eventually moved my repos to GitHub that solved the issue.

@kencochrane I tried to use the key from another repo with a working automated build, but after it failed I guessed it had to be unique per build.

Didn't know where to look for this before and struggled to find it. Looking again I can see the deploy key on the automated build I created before this issue, but I still can't s

[2015-08-18 20:14] markosamuli commented on #283
@philp does it look similar to the issue I had? See #213

[2015-08-18 20:19] markosamuli commented on #213
Oh well, the deploy key should not exist obviously as the new repos are public. I'll give BitBucket a go and see if it works now.

[2015-08-18 20:39] philp commented on #283
@markosamuli No, I can't even get to the point of creating an automated build. The UI won't let me even start the process of connecting my Bitbucket account — clicking on the link does absolutely nothing. Very frustrating.

[2015-08-18 21:03] rrarunan commented on #293
@stooie90 This is a bug. The dashboard should also show repos that you are collaborator on. We will fix it and provide an update here. Thanks for the report!

[2015-08-18 21:05] rrarunan commented on #283
@philp Can you please let us know if you see a popup being blocked by any chance, when you try to link to bitbucket? What browser and OS are you using?

[2015-08-18 21:07] rrarunan commented on #289
@Meabed  So, if the company you work for, is a `docker hub organization`.. You can still create repositories in that organization's namespace (provided you are in the `owners` team that is created by default). Does that answer your question?

[2015-08-18 21:10] philp commented on #283
@rrarunan Ah-ha — looks like that's what it was. I was trying this in Safari on OS X and it wasn't giving me any kind of indication that a popup was being blocked. Just tried in Chrome, and there was a notification about a blocked popup to Bitbucket. Granted permission, and it allowed me to get to connect accounts.

Thanks.

[2015-08-18 21:12] #262 closed

[2015-08-18 21:14] rrarunan commented on #283
@philp Glad it works! And sorry about the delay in the response. Closing this one.

[2015-08-18 21:14] #283 closed

[2015-08-18 21:28] rrarunan commented on #262
This fix was deployed.

[2015-08-18 21:30] nhsiehgit commented on #290
Currently there are issues with updating the billing account and even more so with updating an organizations billing account.

We've removed the ability to update your billing account for now but will work to re-implement this ability with the next deployment. If you need help changing this immediately, please contact our support team and they can help you update your account.

Sorry for the incon

[2015-08-18 21:30] rrarunan commented on #84
This has been addressed in later PRs. Closing.

[2015-08-18 21:30] #84 closed

[2015-08-18 21:31] nhsiehgit commented on #290
closing since this closely duplicates: https://github.com/docker/hub-beta-feedback/issues/274

[2015-08-18 21:31] #290 closed

[2015-08-18 21:33] rrarunan commented on #62
This no longer is reproducible. Closing. @William-Yeh Please reopen if you still cannot get to your build details and share details.

[2015-08-18 21:33] #62 closed

[2015-08-18 21:34] rrarunan commented on #94
Closing as dupe of #17

[2015-08-18 21:34] #94 closed

[2015-08-18 21:36] nhsiehgit commented on #295
Hi @clarksc,

There have been some issues with our billing pages the past week. We've recently deployed some changes to help pacify some of the current errors. Can you try again and let us know if you are still seeing issues?

[2015-08-18 21:39] nhsiehgit commented on #295
relates to: https://github.com/docker/hub-beta-feedback/issues/274

[2015-08-18 21:46] rrarunan commented on #101
Ok, this issue is fixed. There are other related minor issues: #288 that are still being tracked and addressed.

[2015-08-18 21:46] #101 closed

[2015-08-18 21:54] rrarunan commented on #102
This should be fixed as part of PR that went out yesterday.

[2015-08-18 21:54] #102 closed

[2015-08-18 21:58] #284 closed

[2015-08-18 22:00] rrarunan commented on #104
The issue of images not loading should be fixed. Although we have other markdown related issues, we are tracking and fixing: #225, #195, #164, #88, #124, #179.

[2015-08-18 22:00] #104 closed

[2015-08-18 22:06] rrarunan commented on #111
This is fixed now.

[2015-08-18 22:06] #111 closed

[2015-08-18 22:08] rrarunan commented on #112
I'm closing this, since the initial UX issue of showing `negative` image sizes isn't relevant anymore.

[2015-08-18 22:08] #112 closed

[2015-08-18 22:14] nhsiehgit commented on #276
Hi @mcandre I was able to find your repo here: https://hub.docker.com/r/mcandre/docker-jruby/

closing for now since this seems to be a non-issue. If you feel there is still an issue here feel free to reopen and elaborate.

[2015-08-18 22:14] #276 closed

[2015-08-18 22:15] rrarunan commented on #121
This issue is around beta, and we have added more information to the autobuilds pages since then.

[2015-08-18 22:15] #121 closed

[2015-08-18 22:15] rrarunan commented on #123
Fixed and deployed.

[2015-08-18 22:15] #123 closed

[2015-08-18 22:17] rrarunan commented on #129
Related to #36. Closing since, pagination is fixed for the repos list. We are working on improving filtering of repos #198 .

[2015-08-18 22:17] #129 closed

[2015-08-18 22:18] rrarunan commented on #132
Closing as dupe of #120

[2015-08-18 22:18] #132 closed

[2015-08-18 22:19] rrarunan commented on #133
Related to #120 .. Responsive design fixes are on our radar.

[2015-08-18 22:22] nhsiehgit commented on #272
hi @dsampath
This looked like it was an issue with regards to the docker 1.8 release which was resolved with 1.8.1.
If you're still on 1.8, could you try upgrading and letting us know if this is still an issue?

[2015-08-18 22:28] nhsiehgit commented on #270
Seems like you may have found your solution, but as this doesn't look like it pertains to docker hub i'm closing this ticket.

Thanks

[2015-08-18 22:34] jakirkham commented on #270
Actually, not totally true. The error is caused by git. However, the fix that works outside of a container does not seem to work in the automated build. It also doesn't seem to remain between commits. I think this is still worth investigating. That being said, I have done a fair bit of work to understand the issue.

[2015-08-18 23:24] dsampath commented on #272
Hey Nathan,

It went away with Docker 1.8.1.
You can go ahead and close this issue out.
Thanks  !

On Tue, Aug 18, 2015 at 3:22 PM, Nathan H <notifications@github.com> wrote:

--
--
Luminous beings we are, not this crude matter

[2015-08-18 23:40] nhsiehgit commented on #272
perfect

[2015-08-18 23:40] #272 closed

[2015-08-18 23:50] jsouth commented on #224
@ChristopherBiscardi -  Ok sounds good. Let's work it out.

[2015-08-18 23:52] ChristopherBiscardi commented on #270
Re-opening to triage.

@jakirkham Do you have a reproduction case for this issue? In the original filing I only see git commands.

[2015-08-18 23:53] nhsiehgit commented on #266
closing as this duplicates https://github.com/docker/hub-beta-feedback/issues/198

[2015-08-18 23:53] #266 closed

[2015-08-19 00:00] nhsiehgit commented on #296
closing this in favor of #261

[2015-08-19 00:00] #296 closed

[2015-08-19 00:03] itzg commented on #266
This doesn't seem to be a duplicate. This issue addresses the concern I have, as a repo owner, that my most popular and/or newer repos are showing up on page 2. They used to show most recent first, by default. From there users could sort by stars or number of downloads.

[2015-08-19 00:10] clarksc commented on #295
Hi Nathan,
 yes, I an still not able to submit from the billing page. The submit button now has a spinning image, but it still doesn't complete the transaction.
Scott

Sent from my Samsung device over Bell's LTE network.

-------- Original message --------
From: Nathan H <notifications@github.com>
Date: 08-18-2015 5:36 PM (GMT-05:00)
To: docker/hub-beta-feedback <hub-beta-feedback@noreply.github.c

[2015-08-19 00:17] nhsiehgit commented on #295
Thanks @clarksc
A few questions to help us debug the issue:
- Is this for updating your billing information or for creating a new subscription?
- Are you attempting to upgrade a user account or an organization?
- On submit, does the call ever complete or is the spinner just stuck on the page?

Thanks for the help!

[2015-08-19 00:27] clarksc commented on #295
1. We originally had one repository. We need the 20 repository plan for our dev team. I was added to our organization as a new owner so that I could pay for these 20 repos.
2.I'm trying to give the qlik organization (of which I am a new owner) the medium plan.
3. Yep. Sooner gets stuck on the page.

Btw, I also noticed that province or state is not part of the billing form. Does that not cause a p

[2015-08-19 00:32] btigit commented on #173
We have similar problems too.
In some automated repositories, I got an following error when click "Build Settings".

<img width="1440" alt="error" src="https://cloud.githubusercontent.com/assets/778316/9346183/c8cc5246-4654-11e5-9bda-31c3aa380277.png">

In my case, I could reproduce this issue and "Build Settings" never works well even if I logged out.

[2015-08-19 00:36] nhsiehgit commented on #295
Sorry for all the troubles!

Thanks for this information. Yes there's a handful of issues we're working through right now so this definitely helps pin point some of our issues.

For now, i'd suggest contacting our [support team](support.docker.com) to help set up the subscription if you need it asap. They'll be able to help you sort out the plan until we're able to get a fix up on prod.

Thanks fo

[2015-08-19 00:39] clarksc commented on #295
Could I ask you to send the request to them on my behalf?
If your support team is similar to ours, sometimes the link from the development team is quicker than the customer link.
:)
Just wondering.
Scott

Sent from my Samsung device over Bell's LTE network.

-------- Original message --------
From: Nathan <notifications@github.com>
Date: 08-18-2015 8:36 PM (GMT-05:00)
To: docker/hub-beta-feedback

[2015-08-19 00:42] nhsiehgit commented on #295
NP already sent the issue over to them so hopefully they will repsond sooner rather than later.
I'd still suggest creating a ticket for them to track as well though

[2015-08-19 00:42] fauzanariffin commented on #295
Hi @clarksc,

Can you please send an email to support@docker.com? Please include this page [URL](https://github.com/docker/hub-beta-feedback/issues/295) in the email so that we can track the history of the issue.

Thanks!

Regards,
Fauzan
Docker Support Team

[2015-08-19 00:44] clarksc commented on #295
Sounds good.
Support address is ...

Sent from my Samsung device over Bell's LTE network.

-------- Original message --------
From: Nathan <notifications@github.com>
Date: 08-18-2015 8:42 PM (GMT-05:00)
To: docker/hub-beta-feedback <hub-beta-feedback@noreply.github.com>
Cc: Scott Clark <Scott.Clark@qlik.com>
Subject: Re: [hub-beta-feedback] Unable to change to a Medium size organization repository

[2015-08-19 11:24] jvassev opened #298 "Not able to pull"
For the last week hub.docker.com is broken and cannot be accessed - all requests result in error 500:
curl registry-1.docker.io -v -L
* Rebuilt URL to: registry-1.docker.io/
* Hostname was NOT found in DNS cache
*   Trying 54.208.162.63...
* Connected to registry-1.docker.io (54.208.162.63) port 80 (#0)

* HTTP 1.0, assume close after body
< HTTP/1.0 500 Server Error
< Cache-Control: no-cache
< Co

[2015-08-19 11:25] jvassev commented on #298
Fixing the output of curl
[code]

[2015-08-19 14:00] jakirkham commented on #270
I have a private repo that suffers from this. I can try to come up with a simple public repo that reproduces this problem.

[2015-08-19 15:11] orlade opened #299 "Bitbucket repositories not listed for automated build"
I'm trying to create a private automated build from a private Bitbucket repository. I click "Create > Create automated build" which loads a page with GitHub and Bitbucket buttons. I click GitHub and my GitHub repos are listed. I click Bitbucket and nothing is listed, just an empty "Users/Organizations" list. I believe both are linked correctly.

Using Windows 10 and both Chrome and Firefox.

[2015-08-19 16:31] ChristopherBiscardi commented on #229
I've confirmed that build triggers are fixed in prod. Please let us know if you are still experiencing an issue.

![screenshot 2015-08-19 09 30 49](https://cloud.githubusercontent.com/assets/551247/9362388/007db40a-4655-11e5-8c84-28519032adb5.png)

[2015-08-19 16:31] #229 closed

[2015-08-19 16:32] ChristopherBiscardi commented on #298
@jvassev what version of docker are you using?

[2015-08-19 16:33] ChristopherBiscardi commented on #299
Thanks for reporting.

@rrarunan can you take a look at this?

[2015-08-19 16:33] bastianwegge commented on #229
It's working for me, thanks!

[2015-08-19 16:39] godfriedmeesters commented on #229
Thanks it's indeed ok now
On 19 Aug 2015 18:31, "Christopher Biscardi" <notifications@github.com>
wrote:

[2015-08-19 17:13] jvassev commented on #298
I'm using 1.7.1 and 1.8.0. I have no problem pulling and even curl-ing the hub from home. However when I try accessing it over my corporate network I get error 500. That's the same output I get from "docker  pull" (no http proxy involved).
I am suspecting some intermediary causes this, it's neither docker nor the hub itself.

[2015-08-19 17:56] nhsiehgit commented on #255
Is this still an issue or has this been resolved?

closing this ticket. if you feel it's been closed erroneously feel free to reopen and provide more context.

[2015-08-19 17:56] #255 closed

[2015-08-19 17:57] #254 closed

[2015-08-19 18:13] rrarunan commented on #299
@orlade We had an issue with bitbucket links when we GA'ed version 2 of the hub. Please let us know if this bitbucket link has always existed in your hub account. If so, can you revoke access from bitbucket, unlink your account from the docker hub and let us know if that fixes it. Also, can you please share your `hub username` in an email to `support@docker.com`.

[2015-08-19 18:38] nhsiehgit commented on #249
closing. This should be resolved now.

Thanks for the ticket!

[2015-08-19 18:38] #249 closed

[2015-08-19 18:40] nhsiehgit commented on #245
Hi @wblankenship

can you check and confirm whether this is still an issue or not?

[2015-08-19 18:57] nhsiehgit commented on #242
Hi @daniel-garcia
I know there was an issue with docker 1.8 causing the tag sizes to be incorrect. Can you verify what version of docker you were using?
If on 1.8, would you be able to upgrade to 1.8.1 and see if this is still an issue?

Thanks

[2015-08-19 19:27] daniel-garcia commented on #242
@nhsiehgit
[code]
Should I try with 1.8.1?

[2015-08-19 19:32] chambm commented on #281
:+1: See this myself. No idea what it means. Is it dockerspeak for "in progress"?

[2015-08-19 19:52] nhsiehgit commented on #242
Actually this may be a different issue.

Thanks for filing, we'll try to figure out where the discrepancy is

[2015-08-19 20:14] nhsiehgit commented on #161
@rrarunan has this fix been deployed?

[2015-08-19 20:23] nhsiehgit commented on #238
@kencochrane @ChristopherBiscardi has this fix been deployed?

[2015-08-19 20:27] nhsiehgit commented on #231
relates to https://github.com/docker/hub-beta-feedback/issues/189

updating 189 to reflect all autofill issues and closing this ticket

[2015-08-19 20:27] #231 closed

[2015-08-19 23:28] sebest commented on #68
+1

[2015-08-20 02:05] orlade commented on #299
The link had existed from v1, and unlinking and re-linking did indeed fix the problem. Thanks for that!

I know it's crufty, but maybe show a notification if Bitbucket repos fail to load?

[2015-08-20 02:05] #299 closed

[2015-08-20 03:42] rrarunan commented on #299
@orlade thanks for the update! Yes, that fix to provide feedback is slated for sometime this week.

[2015-08-20 13:07] klingtnet opened #300 "README not being parsed on build"
I have a README.md in every of my github repos but docker hub refuses to use them on automatic builds. Take my [prosody](https://hub.docker.com/r/klingtdotnet/prosody/) image for example, the _build details_ show that the `readme_contents` are empty but the [file](https://github.com/klingtnet/docker-prosody/blob/master/README.md) is in the same folder as the `Dockerfile`.

**UPDATE** I had made cu

[2015-08-20 14:51] michaelgruber commented on #68
+1

[2015-08-20 15:06] fxdgear commented on #238
@nhsiehgit Not yet. There's a PR under review for it.

[2015-08-20 16:23] ceecko commented on #213
+1
Works with private repos on dockerhub but not public

[2015-08-20 20:10] bgruening commented on #124
The TOC of this dockerhub page seems also not to be rendered correctly: https://registry.hub.docker.com/u/bgruening/galaxy-blast/

[2015-08-20 20:15] archit opened #301 "Last pushed: never"
I just created a public repository in my docker account `archit/pox`. I pushed some images from the CLI. The output showed like it succeeded. I'm able to `docker pull archit/pox:v1` from another machine.

However when I refresh the docker hub page, it says `last pushed: never`.

[2015-08-20 20:45] fauzanariffin commented on #12
+1

[2015-08-20 21:41] mig5 opened #302 "Can't push"
[code]

Any ideas?

[2015-08-20 21:44] dmp42 commented on #302
You are using docker 1.8.0, which has a known push bug.
Upgrading to 1.8.1 would fix this.

[2015-08-20 21:44] #302 closed

[2015-08-20 22:33] nhsiehgit commented on #247
closing since this looks like it's been resolved.

Yes paging should be a ticket item. if it's not feel free to create a new issue!

[2015-08-20 22:33] #247 closed

[2015-08-21 00:09] nhsiehgit commented on #220
Closing as this has been resolved

[2015-08-21 00:09] #220 closed

[2015-08-21 00:26] nhsiehgit commented on #147
No longer an issue. closing

[2015-08-21 00:26] #147 closed

[2015-08-21 03:19] oilbeater opened #303 "No web-hook for official library repositroies"
In the previous docker hub I can add web-hook  to library, so I can easily tracked when an official image changed and do something.

However in the new hub I can no longer add hooks to public repos. Is there any other method or API that can help tracking the change of official repos?

[2015-08-21 07:21] jcherqui commented on #287
+1

[2015-08-21 07:22] ahmetalpbalkan commented on #287
lol good to know I'm not the only one using duckduckgo in this universe.

[2015-08-21 10:24] pditommaso opened #304 "Not able to pull a Docker images"
Something odd is happening with this repository:

  https://hub.docker.com/r/cbcrg/make-peerj5515/

When I try to pull the image I get the following message:

    FATA[0002] Repository not found

Other repositories works fine. This is the version of Docker I'm using

	$ docker -v
	Docker version 1.6.2, build 7c8fca2

	$ docker info
	Containers: 0
	Images: 101
	Storage Driver: aufs
	 Root Dir: /var

[2015-08-21 10:46] anarcher commented on #301
Me too.  `docker push`  with tag was successful. But In hub.docker.com, I can't see this push's tags and last pushed isn't updated.

[2015-08-21 11:52] mnylen commented on #301
Me too. I first pushed a new image from command line to my organization's account and that succeeded but nothing showed up on the Docker Hub page.

I tried waiting for a while and then created a new repository with the same name using the web interface (and set it to private) and pushed again, and now it shows `Last pushed: never`.

Using Docker 1.7.1.

[2015-08-21 15:49] nhsiehgit commented on #205
closing as this doesn't seem to be an issue anymore

[2015-08-21 15:49] #205 closed

[2015-08-21 16:16] nhsiehgit commented on #213
Thanks for filing & helping out all - has this been resolved?

I'm going to mark this as triaged for now. If there's still an issue please let us know.

[2015-08-21 16:34] jakirkham commented on #180
Ok, this has gotten significantly worse than a rounding error. I have made a build today, which shows up as 3 days old.

![screen shot 2015-08-21 at 12 33 35](https://cloud.githubusercontent.com/assets/3019665/9413616/e7d81c44-4800-11e5-9170-2ae2ea61c99d.png)

[2015-08-21 16:51] referup-amontero commented on #213
The problem still exists if you are trying to create a new automated build on behalf of an organization, since you cannot create new private repos (I supose that this is because organizations do not have free private repo).
Unless there is a way to transfer ownership of an automated build from a user to an organization, any workaround above would work for these cases.

[2015-08-21 19:38] timlinux commented on #249
Thanks for the fix!

Regards

Tim

[2015-08-21 19:43] jaxgeller opened #305 "Cache Repo Info and Tags"
Every time you click between the repo info and tags theres a fetch to get the content. So if you ever have to toggle back and forth between the two, there is a noticeable lag between switching.

Now the ajax request doesnt take too long
![image](https://cloud.githubusercontent.com/assets/4494509/9417555/53281f66-481b-11e5-8da7-bf5eb10266ea.png)

But for the total scripting and repaint times, you d

[2015-08-21 20:21] nhsiehgit commented on #301
Thanks for your comments everyone.

Looks like there may be an issue with what version docker you're using and whether you created the repo via hub or cli. Needs more digging

related: https://github.com/docker/hub-beta-feedback/issues/180

[2015-08-21 20:31] nhsiehgit commented on #184
immediate feedback for build-settings pages has been updated and fixed.
changing label from `bug` to `needs improvement` since this is definitely something that can still be improved.

[2015-08-21 20:37] #294 closed

[2015-08-21 20:37] #274 closed

[2015-08-21 20:41] nhsiehgit commented on #173
hi @btigit,

Would you be able to check and see if this is still an issue? we deployed changes to fix this so hopefully it is resolved now

[2015-08-21 20:42] nhsiehgit commented on #274
Closing as this should now be resolved! If you're still having issues please feel free to reopen with any additional information

[2015-08-21 20:44] nhsiehgit commented on #295
hi @clarksc The billing pages should be up to date now. If you still haven't been helped would you be able to confirm whether the billing pages now work for you?

Thanks!

[2015-08-21 20:48] clarksc commented on #295
Nope – Still can’t see province when I Click on Canada.

Scott Clark
Director, Product Area Architect – Quality Engineering

Mobile: +1 613-355-4104
Skype: scottottawa
Email:  Scott.Clark@qlik.com

Qlik

qlik.com<http://www.qlik.com/>
[qlik.com]<http://www.qlik.com/us/explore/products/sense?SourceID1=Corporate_Email_Signature>

The information transmitted is intended only for the person or entity

[2015-08-21 20:59] archit commented on #301
@nhsiehgit I'm using Docker CLI `1.7.1` `786b29d`

[2015-08-21 21:01] nhsiehgit commented on #295
Woops sorry i misspoke. We'll be deploying prod ETA 3pm PST. Sorry again for the wait.

[2015-08-21 21:09] nhsiehgit commented on #305
Thanks for the feedback!

Definitely something worth looking into

[2015-08-21 22:11] nhsiehgit commented on #295
Sorry, once more @clarksc

Didn't realize we hadn't actually deployed to production yet, but just confirmed it's up and the state input should be included in the billing form now.

Thanks again,

[2015-08-21 22:32] pditommaso commented on #304
It turns out that the image was in an inconsistent state. I fixed it re-uploading the image.

[2015-08-21 22:32] #304 closed

[2015-08-21 22:42] fauzanariffin commented on #301
@nhsiehgit I was able to replicate it.

**Docker Version:**
[code]

**Docker Push:**
[code]

My repo link:
https://hub.docker.com/r/fauzanariffin/docker-whale/

[2015-08-21 22:50] jawaid opened #306 "Image not visible on DockerHub"
I can do push and pull of image on the Dockerhub but when I go to Dockerhub UI, then that image is not visible.

username: jawaid
docker image:  jawaid/radar-www2:master.16
docker image:  jawaid/radar-www2:master.17

[2015-08-21 22:56] rrarunan commented on #289
deployed a fix to inform users of failures during linking.

[2015-08-21 22:56] #289 closed

[2015-08-21 22:56] rrarunan commented on #267
A fix has been deployed.

[2015-08-21 22:56] #267 closed

[2015-08-21 23:22] rrarunan commented on #197
#188 is closed now and, this should be fixed now. Closing, until someone reopens with an issue regarding this.

[2015-08-21 23:22] #197 closed

[2015-08-21 23:23] ChristopherBiscardi commented on #171
words in prod

[2015-08-21 23:23] #171 closed

[2015-08-21 23:29] jawaid commented on #301
I have same issue +1

[2015-08-21 23:52] adamryman commented on #301
Same issue +1

[2015-08-22 01:04] hharnisc commented on #301
I've got docker CLI Docker version `1.8.1, build d12ea79`

I have a new image that looks like it pushed successfully but I don't see it in hub.docker.com

[code]

I was expecting it to show up at https://hub.docker.com/r/hharnisc/elasticsearch/ but does not exist.

[2015-08-22 02:04] ahmetalpbalkan opened #307 "docker push succeeds but image never shows up on Docker Hub"
1. `docker push`ing to a non-existing repo succeeds (why?)
2. `docker push`ing to a repo succeeds, too. But the build never shows up on Docker Hub.

Is there a livesite issue going on?

----

## Repro steps

#### 1. Create Repository on Docker Hub

#### 2. `docker push` image

[code]

#### 3. Go to “Tags” tab, nothing shows up...

-------

cc: @garimakhulbe

[2015-08-22 02:21] ahmetalpbalkan opened #308 "Cannot edit tags of a repo"
Right now I'm editing tags of a repo (`microsoft/azure-cli`) of an organization I administer.

Hitting **SAVE** button below absolutely does not do anything.

### Repro steps:

0. I went to https://hub.docker.com/r/microsoft/azure-cli/~/settings/automated-builds/
0. Changed latest to 0.9.6 --> 0.9.8
0. Added last two rows (0.9.7, 0.9.8)
0. Click "Save"
0. Nothing is happening, I'm still on the sam

[2015-08-22 02:25] ahmetalpbalkan opened #309 "Email CSS is sad"
The styling of this email is pretty sad. I suggest just sending a plain text with the hyperlink with no styling at all.
- my 2c.

![image](https://cloud.githubusercontent.com/assets/159209/9422087/556653e6-483a-11e5-8475-26a15a748d77.png)

[2015-08-22 02:33] rrarunan commented on #307
@ahmetalpbalkan we are looking into this.

[2015-08-22 02:33] ahmetalpbalkan commented on #307
@rrarunan thanks, please keep us updated.

[2015-08-22 03:41] ahmetalpbalkan commented on #119
Folks please fix this.

This is making the website useless on mobile.

If you actually try to log in to Docker Hub from iOS right now
1. You can't login because no login form is shown
2. Hamburger button doesnt work
3. You gotta guess the url. (Luckily /login)

And now I'm in an emergency situation and could not add a member to my organization.

 Clearly someone tried to implement responsive desig

[2015-08-22 05:21] dmp42 commented on #307
@ahmetalpbalkan see linked issue on docker

[2015-08-22 05:22] ahmetalpbalkan commented on #307
@dmp42 thanks for the update.

[2015-08-22 12:01] thaJeztah commented on #307
@ahmetalpbalkan can you check if this has been resolved?

[2015-08-22 16:38] hharnisc commented on #301
This morning when I checked the images seem to be there.

[2015-08-22 18:10] ahmetalpbalkan commented on #307
@thaJeztah yes, looks like it's working now. Thanks.

[2015-08-22 18:10] #307 closed

[2015-08-22 18:51] rrarunan commented on #306
Closing, since #307 also seems resolved. @jawaid Please reopen if you find issues.

[2015-08-22 18:51] #306 closed

[2015-08-23 12:41] djmaze commented on #300
Same here with [an image of mine](https://hub.docker.com/r/mazzolino/phantomjs-static/).

[2015-08-24 07:45] tjdett commented on #281
:+1: It appears Docker Hub updates the Dockerfile, but that really doesn't help define where the build is in the cycle.

[2015-08-24 17:29] nhsiehgit commented on #226
I've reproduced this.

We need to update the second email to be a notice that your password has changed, rather than another 'reset your password' email

[2015-08-24 18:42] mc388 commented on #307
I have the same issue since a few days unit now.

[2015-08-24 18:46] mc388 opened #310 "Automated build with private bitbucket repo not working"
Hi,

I connected my bitbucket account with docker hub. Then I created a new automated build repo and select a private repo from bitbucket.

If I trigger the build process I always get an error

[code]

If I switch the bitbucket repro from private to public, it works fine.

[2015-08-24 18:49] thaJeztah commented on #307
@mc388 I think last time this was caused by a longer than usual queue in Docker Hub. Could you open a ticket via https://support.docker.com, the support team there should be better able to look into your case.

[2015-08-24 18:54] mc388 commented on #307
@thaJeztah ok thanks

[2015-08-24 19:07] mc388 commented on #301
Same issue +1

[2015-08-25 01:39] btigit commented on #173
hi @nhsiehgit
LGTM! thanks!

[2015-08-25 03:23] anyei commented on #301
It looks like it takes a while to reflect the last pushed wording, i was about to +1 but then i saw the little verbiage refreshed that says "Last pushed: 3 minutes ago".

[2015-08-25 09:34] kizbitz opened #311 "Unable to update/change associated billing email address"
After the initial subscription/sign-up there is no way to modify the entered billing email address. (Just the user account email)

User must send a ticket into support@docker.com and request to have it manually changed.

[2015-08-25 16:13] nhsiehgit commented on #173
Awesome! :)

[2015-08-25 16:13] #173 closed

[2015-08-25 18:40] nhsiehgit commented on #295
Closing as this should be fixed now

[2015-08-25 18:40] #295 closed

[2015-08-25 21:23] nhsiehgit commented on #190
Column width has been fixed. updating ticket to reflect other changes that can be improved

[2015-08-25 21:29] nhsiehgit commented on #308
Sorry, agreed this can be more clear.

If you notice, we _do_ add the subtle green outline to the table showing that a successful save has occured, but it can definitely be more obvious.

[2015-08-25 21:30] ahmetalpbalkan commented on #308
haha totally not noticed that. I would've if `border-size: 20px`.

[2015-08-25 21:31] ahmetb opened #312 "Bad spacing around code blocks in image README"
Notice how space after the code block is less than before the code block. Hurts my eyes, sort of. :)

https://hub.docker.com/r/ahmetalpbalkan/registry-benchmark/

![image](https://cloud.githubusercontent.com/assets/159209/9480108/f621498c-4b35-11e5-9cb0-2ce2be28a37f.png)

[2015-08-25 22:20] freeformz opened #313 "No way to change source project for automated build"
For whatever reason (there are several) [heroku/cedar](https://hub.docker.com/r/heroku/cedar/) is setup to build from [tt/stack-images](https://github.com/tt/stack-images). We'd like to be able to change the source project to [heroku/stack-images](https://github.com/heroku/stack-images) instead w/o having to nuke the automated build / project and break everyone's links.

[2015-08-25 23:05] nhsiehgit commented on #280
Hi @anaderi, sorry for the late response.

So this was a discussion point a while back and the decision was to disallow user/organization names less than < 3 characters. I can't remember the reasoning behind this so i'll try to ping the appropriate individuals to get this discussion back on track.

At this moment it's not a high priority fix though.

@metalivedev @kencochrane @ChristopherBiscardi

[2015-08-26 04:52] ChristopherBiscardi commented on #298
Closing this since it seems network related. If you feel this is a docker engine issue, please file at docker/docker.

[2015-08-26 04:54] ChristopherBiscardi commented on #194
Closing since we bumped the limi to 100

![screenshot 2015-08-25 21 53 53](https://cloud.githubusercontent.com/assets/551247/9485814/ced036f2-4b73-11e5-8117-460d24d4921e.png)

[2015-08-26 04:55] ChristopherBiscardi commented on #265
Can anyone confirm this is still occurring for them?

[2015-08-26 05:00] ChristopherBiscardi commented on #119
@ahmetalpbalkan We have raised the priority of this since it was first reported. Doing this site-wide will take some time though. It is a priority in my current sprint.

ping @jsouth We should talk about this tomorrow.

[2015-08-26 05:02] ChristopherBiscardi commented on #226
thanks @nhsiehgit I've assigned you on this ticket.

[2015-08-26 05:06] ChristopherBiscardi commented on #281
There are a series of ~10 statuses a build can be in aside from error. (I thought it was in the docs but I can't find it right now). We are working on ensuring the meanings of these statuses are easily discoverable but it is not our top priority right now since they all essentially mean "in-progress".

[2015-08-26 05:19] jakirkham commented on #265
It's an intermittent error. However, I haven't seen it recently.

[2015-08-26 05:22] jakirkham commented on #265
Sometime I have seen an `exception` where it states "Log unrecoverable.". I wonder if they share a common cause.

[2015-08-26 07:46] ivant opened #314 "Strange "Access denied: ... is a private image" error"
I'm trying to push an image that I built based on `phusion/baseimage:0.9.17` and I get an error message that neither I, nor the owner of `phusion/baseimage:0.9.17` can explain:

[code]

This problem is easily reproducible with the following `Dockerfile`:

[code]

If I change the version of the baseimage to 0.9.16, everything works fine and I can push my built image.

The owner says that this is a

[2015-08-26 08:45] Quetzacoalt91 commented on #194
Thanks for your help @ChristopherBiscardi :+1:

[2015-08-26 14:37] twinge commented on #265
I'm still having this issue fairly frequently (maybe 1 in 5 or so pushes)

[2015-08-26 17:39] NOX73 commented on #310
Same problem

[2015-08-26 17:45] jvassev commented on #298
It's definitely not a docker issue as I am able to pull from my laptop from different networks. An error 500 however cannot be returned by a misconfigured router or sth like that, most probably its a bad vhost configuration somewhere. If that's the problem where should I re-file this?

[2015-08-26 18:52] ChristopherBiscardi commented on #298
ok, re-opening since this hasn't been definitively closed.

[2015-08-26 18:56] ChristopherBiscardi commented on #265
@twinge Can you provide docker version and any other information about your current setup that may be relevant?

@jakirkham Are you saying that this issue only shows up in Automated Builds? or was this originally a push from your local computer/server.

[2015-08-26 18:56] kencochrane commented on #298
@jvassev if you run a dig, ping, curl from the place that works and doesn't work do you get the same IP addresses? I wonder if you have a stale DNS record somewhere and it is sending you to a server that isn't ours. If you can run it again, and let me know the IP's I'll check to see if any of those are ours.

[2015-08-26 19:06] jakirkham commented on #265
@ChristopherBiscardi, I almost only use automated builds. So, I can't say that it wouldn't have shown up otherwise. All I can say, is this was the context, in which this error arose for me.

[2015-08-26 19:07] ChristopherBiscardi commented on #314
I was unable to reproduce with the example Dockerfile (you can see the layer `f21b69028ac0` in the logs)

[code]

### History

[code]

[2015-08-26 19:08] twinge commented on #265
Docker version 1.6.2, build 7c8fca2

$ docker push cruglobal/missionhub

time="2015-08-26T16:01:50Z" level=fatal msg="Error pushing to registry: Server error: 400 trying to push cruglobal/missionhub:a0faca59614daeb0c016686424b6ce47d3f6733b-466 manifest"

[2015-08-26 19:10] ChristopherBiscardi commented on #208
This should be fixed in prod

[2015-08-26 19:10] #208 closed

[2015-08-26 19:14] ahmetalpbalkan opened #315 "Can't see repo tags on mobile"
There's not a link displayed on mobile at all to view other pages related to the repo.

[2015-08-27 00:04] ivant commented on #314
Using [Google Container Registry](http://gcr.io) instead of Docker Hub seems to work, so likely there's some bug in the Hub code.

[2015-08-27 00:07] ivant commented on #314
Any suggestions on how to get more debugging information?

[2015-08-27 05:12] jgkamat commented on #68
+1

[2015-08-27 09:00] jvassev commented on #298
Hi @kencochrane, I'm attaching dump of curl and dig
[code]

[code]

[2015-08-27 13:34] cpuguy83 opened #316 "tag list not well sorted or easy to find in large list"
The tag list, especially with many tags, is not sorted very well (especially with version strings such as 1.2.0, 2.0.1, etc).
The list is also very hard to read in general with a long list.

Here's a screenshot from the official registry image tag list:

![screen shot 2015-08-27 at 9 31 39 am](https://cloud.githubusercontent.com/assets/799078/9521762/b3e27914-4c9e-11e5-9809-622e24768149.png)

[2015-08-27 13:46] kencochrane commented on #298
@jvassev thanks for sending that over, your dig results look good, I get the same when I run locally.

I can't reproduce the curl command, it works for me. I have an older version of curl, 7.30.0 but that shouldn't matter.

do you get the same error when you use wget, links, lynx, or any other text or web based browser?

You said you are not behind a proxy, so not sure what else it could be beside

[2015-08-27 15:09] jvassev commented on #298
Here is the curl with date -R:
[code]

And the traceroute:
[code]

[2015-08-27 17:48] jvassev commented on #298
If it'a clue, none of get.docker.com, hub.docker.com, registry-1.docker.io works.

[2015-08-27 18:06] kencochrane commented on #298
@jvassev  thanks.

@avinson @xbglowx any ideas?

[2015-08-27 18:32] boyanbonev commented on #298
Hi,
I have to report the same issue as jvassev. I see the same symptoms as he does.

[2015-08-27 19:32] kencochrane commented on #298
@jvassev @boyanbonev  what is the IP address you are connecting from?

[2015-08-27 20:14] jvassev commented on #298
http://www.whatismypublicip.com/ reports 85.91.140.124

[2015-08-27 21:13] xbglowx commented on #298
@jvassev your IP was in our blacklist. I removed it. Please try again and let me know if things are working now.

[2015-08-27 21:20] jvassev commented on #298
Everything is working now :)
Thanks, closing this issue.

[2015-08-27 21:20] #298 closed

[2015-08-27 21:56] jakirkham commented on #265
So, this happened to me again. A couple hours before the disruption occurred.

[2015-08-28 07:25] sansusan commented on #310
fucked docker hub

[2015-08-28 07:51] trombka opened #317 "No way to change company name in the billing info"
I made a typo in the company name when entering the billing info. It seems there is no way to change it.

[2015-08-28 08:02] trombka opened #318 "upgrade plan confirmation"
It would be nice to be asked for a confirmation when clicking the upgrade plan link. I have just paid $7 just for checking if I would be able to alter the company name when making new payment.

[2015-08-28 11:36] macnibblet opened #319 "Automated docker build fails with exception"
I have a private automated build that should compile ffmpeg, but on each attempt it ends with `exception` and that's just about all i know.

[2015-08-28 13:41] jcherqui commented on #287
https://duckduckgo.com/newbang

[2015-08-28 14:45] kunickiaj commented on #68
Seems like some older tags are being automatically wiped out? Is there some undocumented limit? Since it's still not possible to manage your own tags this is a huge problem.

[2015-08-28 16:21] rrarunan commented on #68
@kunickiaj See #194. We show only 100 tags at a time in the web interface. Is the assumption of older tags not available coming from just the UI or does your pull not work for example with the older tags? And, this should discussed in a different issue, if #194 is not the case for you.

[2015-08-28 16:32] md5 commented on #288
I believe this only happens when the user is not logged in.

[2015-08-28 16:39] posita commented on #194
How does this fix the issue? Bumping them to 100 merely makes the issue appear later? If one cannot page through to the second, third, etc. block of 100 and/or delete tags (see #68) so that you can keep the number under 100, the issue still exists. Please consider reopening as not yet fixed.

[2015-08-28 17:05] ChristopherBiscardi commented on #194
@posita we're listening. Can you provide a use case for >100 tags besides just knowing that they haven't been deleted (which was brought up in a different issue). I have at least two ideas for the implementation of the interface but would appreciate a concrete use case so I can prioritize the implementation that enables the right access patterns.

[2015-08-28 17:07] kunickiaj commented on #194
@ChristopherBiscardi I don't think we really need >100 tags except that we want to publish nightly builds in some cases. The fact that you cannot delete older tags today is how we ended up with > 100 tags.

[2015-08-28 17:35] posita commented on #194
I don't have one personally. I'm sure I could invent or speculate on some, but that would be a poor source for influencing priorities. :grin: I just wanted to make the point that this issue seems to be about user data that exists, but which can become invisible to the user. And it's *possible* that problem isn't necessarily solved by forcing users to delete some of their more recent data.

Actuall

[2015-08-28 18:13] ahmetalpbalkan commented on #287
@jcherqui I just submitted a request, let's see if it happens.

[2015-08-28 21:31] nhsiehgit commented on #318
Agreed, upgrading/downgrading/changing subscriptions should not be an immediate response and should require confirmation.

bumping priority on this one.

[2015-08-28 21:54] nhsiehgit commented on #318
@trombka btw sorry, you should now have an extra $7 credit on your account. Currently we are working on a way for users to update their billing email/company etc. If you want to update your billing account information for now you can contact our support team.

Sorry there isn't any easier way at the moment but we will hopefully have that ability available soon!

[2015-08-28 22:58] schmunk42 commented on #68
+1 - very important feature

[2015-08-30 07:01] nathan-osman commented on #300
Same here with [one of my images](https://hub.docker.com/r/nathanosman/docker-go-cannon/) as well.

[2015-08-31 05:26] ChristopherBiscardi commented on #194
Marking this for pagination implementation. (FYI @rrarunan)

[2015-08-31 05:30] ChristopherBiscardi commented on #241
The Automated Build limits are currently:

* 2 hours maximum build time
* 2 GB RAM
* 1 CPU
* 30 GB Disk Space

Please contact support support@docker.com if this issue persists.

[2015-08-31 05:30] #241 closed

[2015-08-31 05:32] ChristopherBiscardi commented on #310
ping @rrarunan

[2015-08-31 05:40] ChristopherBiscardi commented on #263
Links look like they've been fixed. closing

[2015-08-31 05:40] #263 closed

[2015-08-31 05:46] ChristopherBiscardi commented on #317
@trombka Please contact support@docker.com for account renaming.

[2015-08-31 05:48] ChristopherBiscardi opened #320 "Markdown"
- [x] code blocks
  - #312
  - https://github.com/docker/hub-beta-feedback/issues/124#issuecomment-127434597
- [ ] tables
  - #88
- [x] font sizes for headings doesn't match up with h1-h6
  - #225
- [x] http links are not rendered
  - #195

[2015-08-31 05:59] ChristopherBiscardi commented on #319
@macnibblet Please contact support@docker.com who will ask you for more information (repo name, build id, etc).

For reference the automated build limits are:

* 2 hours maximum build time
* 2 GB RAM
* 1 CPU
* 30 GB Disk Space

[2015-08-31 05:59] #319 closed

[2015-08-31 06:00] ChristopherBiscardi commented on #317
ah, I think I misread this. ping @nhsiehgit re: billing info Company Name.

[2015-08-31 06:03] ChristopherBiscardi commented on #163
Closing in favor of #300

[2015-08-31 06:03] #163 closed

[2015-08-31 06:06] ChristopherBiscardi commented on #300
@kencochrane Can you take a look at the APIs here? the `readme_contents` are coming back `null`.

[2015-08-31 06:46] ChristopherBiscardi commented on #305
@jaxgeller Thanks for filing. We're planning on doing a round of checks/optimization after some other, larger items. A cursory look at this particular issue shows some funkiness with the active state of our subnav:

![paint-rectangles](https://cloud.githubusercontent.com/assets/551247/9573322/f9296a18-4f6f-11e5-83ac-ace79ac42c85.gif)

[2015-08-31 06:56] ahmetalpbalkan opened #321 "Support shorter (1-3 character) usernames"
As of Docker 1.8.0, Docker supports "one character repository names". This probably can mean the same can be allowed on Docker Hub.

[2015-08-31 11:55] klingtnet commented on #300
For me the problem **seems to be fixed**, all descriptions are containing the `README.md` content. If this is the case for @nathan-osman and @djmaze, then I will close the issue.

[2015-08-31 12:28] djmaze commented on #300
Yes, the README is present now. But now "Source Project" links to the Docker Hub page itself..?

[2015-08-31 16:13] nhsiehgit commented on #317
related to #311

[2015-08-31 16:32] FrenchBen commented on #263
:+1:

[2015-08-31 17:10] nhsiehgit commented on #154
updated title to reflect issue better.

[2015-08-31 17:17] pedroxs commented on #303
+1 I like that feature too.

[2015-08-31 17:21] pedroxs commented on #288
I can confirm this happened to me. While not logged the "Source Project" just opens the same page on new tab, but after logging in it started working fine.

[2015-08-31 17:23] kencochrane commented on #213
Confirmed this is an API issue, I have assigned to myself to fix.

[2015-08-31 18:06] kencochrane commented on #300
@ChristopherBiscardi are they coming back null for everyone, or just some select projects?

[2015-08-31 19:38] tedyoung opened #322 "Syntax coloring of formatted blocks are wrong"
On GitHub, formatted blocks (i.e., those surrounded by ```) are not colored correctly, making it hard to read. Docker Hub should follow the GitHub Flavored Markdown syntax coloring in these cases, e.g., from the _nginx_ image:

Here's the source in GitHub:

---

[code]

---

Here's the formatted output as seen on GitHub:

![githubformat](https://cloud.githubusercontent.com/assets/382660/9588245/0e

[2015-08-31 19:40] tedyoung commented on #169
This is a pretty big bug, it means that people won't see the latest comments unless they **know** that the ordering is oldest first, which is different from most other systems.

[2015-08-31 19:44] tedyoung commented on #36
Not sure why this is closed: today I encountered this (looking at https://hub.docker.com/r/library/nginx/):

![paging-p1](https://cloud.githubusercontent.com/assets/382660/9588521/bb8d692a-4fdd-11e5-85f9-07435e398b7d.png)

So I'm thinking: "oh, only one more page", so I click on the [2], and then I'm surprised to see:

![paging-p2](https://cloud.githubusercontent.com/assets/382660/9588554/e7bb0c96

[2015-08-31 20:19] mcandre opened #323 "Dollar signs don't line up in PRE-formatted Markdown description"
I entered a fairly typical Markdown PRE-formatted code snippet, a command line trace, into my DockerHub description, but DockerHub's Markdown renderer somehow fails at displaying it properly.

https://hub.docker.com/r/mcandre/docker-pxe/

Why don't those dollar signs line up?

[2015-09-01 02:01] dnephin commented on #289
I guess I'm hitting this as well.

I'd like to use automated builds for my github account, but I links failed, I guess because I'm part of the docker organization on the hub?

I could push to the docker account on the hub I guess, but I don't really want to do that for projects that aren't directly related to docker.

Is there an issue I can follow for supporting this?

[2015-09-01 02:04] dnephin commented on #165
+1 I would use this feature (for probably every image)

It looks like gliderlabs has found a way to handle it from a client https://hub.docker.com/r/gliderlabs/dockerhub-tag/

[2015-09-01 02:13] dnephin commented on #57
More related compose issues: https://github.com/docker/compose/issues/318, https://github.com/docker/compose/issues/1818

The way I see it working would be something like this:

* `docker-compose publish` uses the already available `~/.docker/config.json` for auth, and pushes a `yaml` file to the hub
* the hub has a profile page similar to what it has for images (but probably a lot simpler because

[2015-09-01 03:54] jakirkham opened #324 "Ability to check version of docker used for automated builds, etc."
Maybe this already somewhere, in which case it could be a little more obvious. Somewhere we need to be able to see what version of `docker` is being used on the hub for various task. For example, building.... Currently, the best I can do is run `docker inspect` on an image recently built and hosted on Docker Hub.

[2015-09-01 10:04] ypid commented on #320
Also, Docker Hub should ignore HTML comments in Markdown: https://hub.docker.com/r/jchaney/owncloud/

[2015-09-01 15:21] alunduil opened #325 "Stop Overwriting Custom Descriptions with READMEs"
When managing an automated build, everytime I push the custom description I've setup for the docker image is overwritten by the code base's README file.  If I set a custom description I would like that to not be overwritten by the README as the README is for the code project not the docker image.

[2015-09-01 15:38] jaxgeller commented on #305
I'm not sure of the issue above, but I was able to get rid of the entire page repaint when the repo info was hovered on by adding `transform: translateZ(0)` to every nav item. This puts the nav items in their own layer, isolating the painting into their own element and not the page.

Again not sure if this was what you were getting at, but overall its a nice micro optimization nonetheless.

On a s

[2015-09-02 02:43] wzymaster commented on #124
I noticed that you guys upgrade Docker Hub and then found that description of my repo is totally disordered and all original markdown-based description is totally mis-formatted.

Can you advise me what type of markdown or related languages are used for Docker Hub Description in my repo by default now ?

Here is my repo:

https://hub.docker.com/r/bigdatauniversity/spark/~/settings/

[2015-09-02 08:41] stooie90 commented on #292
+1 for this. I use that style for separating out my dev and production environments.

[2015-09-02 12:46] jmkgreen opened #326 "Team-level trust with third party services"
I am a member of a team on Docker Hub, and on BitBucket. In order to create an "automated build" project on Docker Hub I need to link my Docker Hub account with my BitBucket account. If I leave, those projects  should continue but the established trust will be broken.

More sensible is to establish the trust between the team on Docker Hub and the team on BitBucket thus the projects continue buildi

[2015-09-02 12:47] klingtnet commented on #300
@djmaze I can confirm that *Source Project* links to the Docker Hub page itself.

[2015-09-02 14:34] kencochrane commented on #300
OK I was able to reproduce if I was not logged in and looking at my own automated build. If I'm logged in, it is working. It looks like when you are not logged in, or you are trying to look at someone else's automated build page the API for getting the automated build details is returning a 401 and since it is failing it can't get the source URL, and thus it is empty. When it is empty the browser

[2015-09-02 15:37] aayore commented on #68
+1

[2015-09-02 15:37] aayore commented on #250
+1

[2015-09-02 17:55] stevelacy opened #327 "Changing a user account to an org does not allow repo creation"
I changed a user account to a org account and added my personal account as owner in the wizard.
Once created I am unable to create a new repository under the new org's name from my personal account as the org is not listed in the dropdown.
![screenshot from 2015-09-02 10 51 39](https://cloud.githubusercontent.com/assets/5648999/9639471/086c0b46-5161-11e5-9352-0f04987e184d.png)

[2015-09-02 18:00] stevelacy commented on #327
Ah, after waiting a few minutes it now works well.

[2015-09-02 18:00] #327 closed

[2015-09-02 18:00] ChristopherBiscardi commented on #320
@ypid Can you be more specific about the behavior you're suggesting?

[2015-09-02 18:04] ypid commented on #320
Sure.

[code]

is a valid HTML comment. Most Markdown programs ignore this so the browser also ignores it later. But the Docker Markdown translate somehow escapes it to HTML entities so that it is not a HTML comment anymore and is displayed to the user. (I updated the Docker image README so there is no comment anymore).

[2015-09-02 18:35] psftw commented on #238
Confirmed the fix is deployed and allows 25,000 characters or less.  :cat2:

cc @tianon @yosifkit

[2015-09-02 18:38] ChristopherBiscardi commented on #323
This issue is currently covered in #124 under code blocks. (so I'm going to close this specific ticket in favor of the other one)

Mainly, we aren't getting the right results from non-language specified code blocks.

The top example in the screenshot is using:

the bottom is using

<img width="781" alt="screenshot 2015-09-02 11 27 13" src="https://cloud.githubusercontent.com/assets/551247/9640287/

[2015-09-02 18:38] #323 closed

[2015-09-02 19:56] rrarunan commented on #293
@stooie90 Fix was deployed. You should see the repositories you are collaborator on in the `Contributed` section in the dashboard.

[2015-09-02 19:56] #293 closed

[2015-09-02 19:59] rrarunan commented on #309
fix deployed.

[2015-09-02 19:59] #309 closed

[2015-09-02 21:09] ChristopherBiscardi commented on #325
This is currently the stated behavior for Automated Builds. We've marked this as a possible enhancement to the service.

[2015-09-02 21:36] md5 opened #328 "Add the ability to transfer a repository between users/organizations"
Similar to how GitHub supports repository transfers, I'd like to be able to move repositories on Docker Hub without disrupting users. In particular, I'd like to transfer `mdillon/postgis` to `appropriate/postgis`. I would expect this to put in place some sort of "redirect", similar to what GitHub does, to allow users to continue pulling `mdillon/postgis`.

This is sort of related to the ability to

[2015-09-02 21:38] md5 commented on #321
I'd love to have `@md5` over there to match GitHub instead of `@mdillon`. That being said, the lack of repository redirects means that users of my existing images will likely not know if I start publishing images under the `md5` namespace. I think this is related to #11 (*Add ability to rename/delete user accounts*).

[2015-09-02 21:42] ahmetalpbalkan commented on #321
Makes sense.

[2015-09-02 21:59] prologic commented on #300
Experiencing the same issue with [crux/python](https://hub.docker.com/r/crux/python/)

[2015-09-02 22:00] ChristopherBiscardi commented on #300
@kencochrane @fxdgear Last time I checked, the API was returning `null` in the readme field for every repo mentioned. The Source Project is a separate issue, which it looks like we have to update our SDK for logged-out users.

[2015-09-02 22:41] alunduil commented on #325
Sweet!  Thank you!  Even if it's a togglable that defaults to the current behavior I'd be super happy.

[2015-09-02 22:45] adrianhowchin opened #329 "Build Details page lacking information"
Currently when viewing the "Build Details" page, you have no idea which build corresponds to which Dockerfile you are building. Therefore, you have no way to know whether your build has succeeded or failed without going in to every single automated build page - painful even with a handful of builds.

To fix this, please add a new column called "Docker_Tag" which is based on the Docker tag (docker_

[2015-09-03 08:03] mfoll opened #330 "Build Triggers sending POST with curl always trigger all tags/branchs"
Hi,

I have 4 builds in my repo: https://hub.docker.com/r/mfoll/robust-regression-caller. Each time I try to trigger a build by docker tag name or by source branch, it triggers the build for all the 4, and not only the one I ask in the curl command.

Thanks for your help,

Matthieu

[2015-09-03 13:52] kencochrane commented on #300
@prologic

I can confirm that https://hub.docker.com/r/crux/python/ is empty, digging backwards, I also confirm the API is returning null, and that is because the database has a null value. Looking at a recent build for this one.  https://hub.docker.com/r/crux/python/builds/bxsyjdueynmuargvwzbsdui/ it is looking into /python (https://github.com/cruxlinux/python/tree/master/python) for the dockerfi

[2015-09-03 14:02] prologic commented on #300
@kencochrane Thanks for looking into this; I'll *move* the ``README.md`` again :) -- I think the hub was seeing some issues the past few days and it would "sometimes" not pick up the README.

[2015-09-03 14:07] prologic commented on #300
@kencochrane Confirmed; that's worked finally!

[2015-09-03 14:35] kencochrane commented on #213
This should be fixed in production, if anyone still sees and issue, please let me know.

[2015-09-03 15:05] wzymaster commented on #124
@ChristopherBiscardi  my main page of repo still looks odd , any solution ?

The title starting with "#" to indicate headline type doesn't work for me at all !

#   ...
##  ...
### ...

The Markdown syntax format like the above looks really bad on my home page !

[2015-09-03 15:42] ChristopherBiscardi commented on #124
@wzymaster If you include a space after the hashes the headings are properly parsed. (This is how GitHub handles headings as well).

for example:

[code]

would become

[code]

[2015-09-03 15:48] jakirkham commented on #124
You mean like this one ( https://github.com/jakirkham/docker_centos_drmaa_conda )? It still doesn't look right when it gets parsed ( https://hub.docker.com/r/jakirkham/centos_drmaa_conda ).

[2015-09-03 15:49] jakirkham commented on #124
@wzymaster, it looks like you linked your settings by accident.

[2015-09-03 15:51] wzymaster commented on #124
@ChristopherBiscardi yes, I just add one more space in my headings, however, the font sizes show no difference among "#", "##", "###" , why ?  The key question is that my old description looks different and format is missing.

[2015-09-03 15:51] wzymaster commented on #124
@jakirkham Yeah, sorry, it's typo and just correct it !

[2015-09-03 16:02] ChristopherBiscardi commented on #124
@wzymaster The heading tags are a different issue since they were redefined using some global style overrides and we are eliminating global styles in the near future (<1mo from now). Still an issue, but not a Markdown parsing issue

[2015-09-03 16:09] wzymaster commented on #124
@ChristopherBiscardi  what I am looking for here is very simple, can you tell me what I can do to make the description of my repo work as before ? Since Docker Hub upgrade, it can't be displayed in good format properly any more !

[2015-09-03 16:28] kizbitz commented on #10
duplicate: https://github.com/docker/hub-beta-feedback/issues/168

[2015-09-03 16:28] kizbitz commented on #168
Duplicate: https://github.com/docker/hub-beta-feedback/issues/10

[2015-09-03 18:04] ahmetb opened #331 "Official image sizes in Docker Hub are 3x off"
| Tag | Size |
| --- | --- |
| 1.5 | 212 MB |
| 1.4 | 171 MB |

![image](https://cloud.githubusercontent.com/assets/159209/9666517/6e3b18e8-522b-11e5-81cd-1a42c192a20f.png)

---

![image](https://cloud.githubusercontent.com/assets/159209/9666527/773521d2-522b-11e5-89ed-35d617933e2b.png)

[2015-09-03 18:27] ahmetalpbalkan opened #332 "No stars/downloads count on the repos?"
I can't see them on the repos?!

![image](https://cloud.githubusercontent.com/assets/159209/9667082/a68ab69c-522e-11e5-851e-c20d4b185258.png)

[2015-09-03 19:25] jakirkham commented on #324
So, I notice that the version info was recently included in the build log. This is definitely a nice and useful addition. It would still be good to have a link somewhere that says "status", "about", or "versions", which one could click on to see the current version of "docker", etc.

[2015-09-04 05:28] rrarunan commented on #288
Ok, I have reproduced this in only one scenario (when a page is loaded from a link, when not being logged in).. if you search for `zookeeper` for example and click on it.. it will work fine. Looking into a fix.

[2015-09-04 08:30] zz opened #333 "Build log display success, but build status on build history page show excption?"
https://hub.docker.com/r/zhuzhu/docker-sharelatex/builds/

What had happend?

[2015-09-04 17:28] thozza opened #334 "Please integrate with GitLab.com"
Hi.

Since Gitlab already provides their hosted service for git repositories it would be great to have Docker Hub being integrated with Gitlab.com. Right now I have to mirror my repo with Dockerfile on Github or Bitbucket to be able to have automated builds.

[2015-09-04 17:32] kencochrane commented on #334
It is already in progress :)

[2015-09-04 18:35] thozza commented on #334
@kencochrane great! Thanks for the info. :wink:

[2015-09-04 18:51] nathan-osman commented on #300
It's still not working for [this repository](https://hub.docker.com/r/nathanosman/docker-go-cannon/). New builds aren't updating the description from the `README.md`.

[2015-09-04 18:53] dnephin commented on #300
I had this issue with https://hub.docker.com/r/dnephin/docker-zookeeper/ as well (I had to edit the description manually after the builds finished and it didn't update).

[2015-09-05 15:12] armstrongli opened #335 "failed to edit mounted file"
Docker cantainer cannot edit the file mount with parameter when starting up:
-v ****_a.file: ***_**a.file
The runner can't edit the file.

[2015-09-06 02:34] richburdon opened #336 "Webhooks UI still having problems."
1. The History button doesn't do anything that is apparent.
2. After pressing Edit, the red "X" button generates the following JS error:
   DELETE https://hub.docker.com/v2/repositories/alienlabs/nx-frontend/webhooks/5021/hooks/7045/ 404 (NOT FOUND)
3. The Save button does nothing.
4. The Delete Pipeline button generates the following error:
   DELETE https://hub.docker.com/v2/repositories/alienla

[2015-09-06 20:33] spiddy commented on #310
same problem for me too.

[2015-09-07 21:39] danlamanna commented on #313
+1

[2015-09-08 04:04] jakirkham opened #337 "ENH: Option for notification on success"
Currently, we get notifications on build failure. This is obviously a great and important feature. However, notifications for successful builds are useful too. Here are some cases where they are useful.

1. When waiting to pull a new container for local use.
2. Triggering manual portions of a build pipeline.
3. Noting upstream changes (docker images we start `FROM`).

[2015-09-08 08:57] vicamo commented on #194
https://hub.docker.com/r/vicamo/debian/tags/ here is an use case if you really want to know. But I don't really think that's the point though. Just don't assume there is an upper limit for the service.

[2015-09-08 18:38] kristiehoward commented on #286
An empty query (as shown in your screenshot @ahmetalpbalkan) no longer returns any results. The 'official' filter works on non-empty queries, so this is no longer an issue.

[2015-09-08 18:38] #286 closed

[2015-09-08 20:23] nigelpoulton opened #338 "Activate Autobuild setting being ignored"
When creating a new Automated Build repo on Docker Hub, the `When Active, new pushes will trigger automatic builds` is not passed through to the repo upon creation.

In the image below the checkbox is un-checked/disabled

![hub-image-1](https://cloud.githubusercontent.com/assets/10812787/9746354/6e28c718-566f-11e5-9337-40d50955f997.png)

But when the repo is created, the Build Settings tab shows i

[2015-09-08 20:45] ahmetalpbalkan commented on #286
hmm why doesn't it work on empty queries? I don't think this is intuitive. There are only a handful list of official images, you could've just listed them all in the empty query case.

[2015-09-09 01:43] granvilleschmidt commented on #213
Hi @kencochrane we're still experiencing this issue. Going to try some of the recommendations mentioned above, and will relay our findings.

[2015-09-09 10:48] suchja commented on #300
I have the same issue with [suchja/ea-lite](https://hub.docker.com/r/suchja/ea-lite/). I'm logged in. Is there an workaround? Really like to have this fixes.

[2015-09-09 11:54] tkrille commented on #330
@mfoll This is because of wrong `curl` commands on the "Build Settings" page. The correct commands, depending on whether you want to trigger by branch, tag or Docker tag, would be:

**By Docker Tag**

[code]

**By Branch**

[code]

**By Tag**

[code]

**Note:** the `$XYZ` tokens are not meant to be environment variables but simple placeholders for the purpose of this comment.

This way, only a sin

[2015-09-09 12:29] mfoll commented on #330
Right, thanks for your help.
So the difference with what is written on the "build setting" page are:
- Replace `&#123;` with `{`
- Replace `&#125;` with `}`
- To build by docker tag, replace `docker_tag_name`with `docker_tag`
I have to admit I was thinking the first two were on purpose... I tried again and indeed I confirm it works (only) with these three changes. Any error in the data will trigge

[2015-09-09 16:57] kencochrane commented on #300
@nathan-osman @dnephin @suchja I have confirmed that your config is correct, we are looking into what might be causing the build service from picking up the README.

ping @dustinlacewell @caervs

[2015-09-09 17:53] kameshsampath opened #339 "Timezone Settings"
Ability to have hub show the timezones with user specific settings

[2015-09-09 17:55] kameshsampath opened #340 "Build Indicators"
it will be nice to have some kind of indicators in the dashboard showing the build status, clicking on the same will take the user to build logs.

[2015-09-09 21:04] nathan-osman commented on #300
@kencochrane it seems to be working for me now.

[2015-09-09 22:09] nhsiehgit commented on #317
Sorry for the late response, but this should now be resolved.
@trombka would you be able to confirm?

[2015-09-09 22:10] nhsiehgit commented on #311
closing as this should now be resolved.

[2015-09-09 22:10] #311 closed

[2015-09-09 22:26] nhsiehgit commented on #338
Yup this should be fixed.

@nigelpoulton can you confirm - when you uncheck the activate auto-build in the settings page that it does in fact deactivate?

Should also double check to see if all new autobuilds are defaulting to activated or not.

marking as bug and triaging

[2015-09-09 22:34] nhsiehgit commented on #330
Sorry, indeed a bug. will update

[2015-09-09 23:06] nigelpoulton commented on #338
Yes, I can confirm that when I uncheck the activate auto-build in the settings page is does in fact deactivate.

I can also confirm that when I uncheck during repo creation, it still shows as checked in the actual repo and it does autobuild when I push to Github.

So it appears that from within the repo (after its been created) the option works correctly.  The issue appears to be that the setting

[2015-09-10 02:35] aulizko commented on #213
Hi @kencochrane problem still exist. Build fails with error:
[code]
I have private bitbucket repo and I tried to create both private and public automated builds - no one has set deployment keys for bitbucket repo.

[2015-09-10 14:20] suchja commented on #300
@kencochrane seems to work for me as well.

[2015-09-10 17:19] klingtnet commented on #300
Same for me, I will close this issue.

[2015-09-10 17:27] kencochrane commented on #213
@aulizko Can you give me the docker repo name that isn't working so I can take a look at what might be causing the problem.

[2015-09-10 17:35] aulizko commented on #213
@kencochrane I've deleted it yesterday, so right now I created a new one and it seems that the problem remains. Repository: `aulizko/front-vezdehod`.

[2015-09-10 20:00] kencochrane commented on #213
@aulizko Thanks for that, I can see the issue, and I'll let you know when it is fixed, so you can test again.

[2015-09-10 20:05] aulizko commented on #213
@kencochrane Thanks! I hope it would be simple fix :)

[2015-09-10 22:33] ahmetalpbalkan commented on #332
Seriously this is annoying. Came here to report this again... As a user I care about how popular an image is before pulling it.

![image](https://cloud.githubusercontent.com/assets/159209/9802693/2a24731a-57d1-11e5-8e08-21a957782c8e.png)

[2015-09-11 05:24] md5 commented on #288
I just ran across this problem when I was logged in. Going directly to https://hub.docker.com/r/mdillon/postgis/builds/ in a new tab makes the "Source Project" button not work. If I then click on "Repo Info", the "Source Project" button starts working again.

[2015-09-11 08:32] tt commented on #313
:+1:

[2015-09-11 10:29] yagilm commented on #199
+1 filtering or searching through the private repositories is a must have. (I have to go through all the pages to find the correct repo)

[2015-09-11 10:30] yagilm commented on #32
+1

[2015-09-11 14:23] Kaixhin opened #341 "Specify multiple tags per build"
As per comments in https://github.com/docker/docker/issues/4768, it would be handy to specify multiple tags for a specific build. For example, the most common case would be assigning both a version number (e.g. "7.5") and the "latest" tag. Another use case, as seen with [Ubuntu images](https://hub.docker.com/_/ubuntu/), is to have version numbers and names.

[2015-09-11 14:54] kencochrane commented on #199
@rrarunan do you have an ETA on when filtering will get to production?

[2015-09-11 15:13] AllYourBase commented on #189
My experience is identical to thomassnielsen's shown in his video above.

[2015-09-11 15:22] kencochrane commented on #213
@aulizko The fix went into prod last night, please try creating an automated build on bitbucket now, and see if it fixes your issue.

Just to let you know what the issue was, for some reason we were not allowed to add the deploy-key to the bitbucket repo via the API. Either an API or permissions issue. This happens some times, but it shouldn't prevent the deploy key from getting created on our sid

[2015-09-11 17:49] aulizko commented on #213
@kencochrane Hooray!

I was able to create automated build that works and here are the details about how it went:

1. When I clicked to create automated build and chose appropriate repo on the next step, new automated build has been created successfully. It gave back green message (before there was a red one).
2. I clicked "trigger build" and it's status became `pending`. It laster at least 10 min

[2015-09-11 18:55] nhsiehgit commented on #226
Closing as this should now be fixed!

[2015-09-11 18:55] #226 closed

[2015-09-11 20:02] kencochrane commented on #213
@aulizko thanks for the update, I'm glad it worked. I'm not sure why we were not able to create the deployment key via the API, but I'm glad you were able to add it manually. Let us know if you need anything else.

[2015-09-11 22:08] wzymaster commented on #124
In fact,  Heading tag is just one problem in Markdown based descrpition.

 URL doesn't work unless I hardcoded  "https" leading URL :

[Large Scale Analytics with R](http://bigdatauniversity.com/bdu-wp/bdu-course/large-scale-analytics-with-r/)  --  doesn't work

[Large Scale Analytics with R](https://bigdatauniversity.com/bdu-wp/bdu-course/large-scale-analytics-with-r/)  -- works !

why does it li

[2015-09-12 11:14] mkjsix commented on #195
This bug is still present and **very annoying**, as my project's description is full of holes. I can edit the description by hand but when an automated build is triggered my description gets overwritten.

Half of the links are not rendered at all, so people is not able to read the documentation properly unless they move to the original Github's README file. Honestly, this is unaceptable:

![scherm

[2015-09-12 13:33] suchja commented on #195
I can confirm that it is still an issue. This http-link `[EA](http://www.sparxsystems.com/products/ea/index.html)` is **not** working while `[suchja/wine](https://hub.docker.com/r/suchja/wine/)` works without problems.

[2015-09-13 03:34] stain commented on #195
Any progress on this? It's quite common for good documentation to have hyperlinks, and this bug makes those descriptions unreadable.  I'll add some of mine as another examples:

https://hub.docker.com/r/stain/jena-fuseki/
https://hub.docker.com/r/openphacts/identitymappingservice/
https://hub.docker.com/r/stain/virtuoso/

Some of these only suffer spurious newlines.

[2015-09-13 07:18] arnau commented on #68
+1

[2015-09-13 15:22] Kaixhin commented on #25
Apart from the obvious (sort by name, stars and pulls), it would also be useful to sort by build time (see https://github.com/docker/hub-feedback/issues/141).

[2015-09-14 15:05] wzymaster opened #342 "Email URL doesn't show up properly in Hub 2.0"
After Docker hub upgraded, my description format looks messed up and email url doesn't work, but it works fine before.

My source markdown description text is like below :

"
....please send us an email (imcloud@ca.ibm.com) to be ....
"

However, it doesn't work any more and no email url clickable link display. Please check my repo at https://hub.docker.com/r/ibmcom/db2express-c/

[2015-09-14 18:27] spikecurtis commented on #195
+1

[2015-09-14 19:17] janeczku commented on #195
+1

[2015-09-14 19:25] theshadowx opened #343 "Add preview in Description field"
Could you please add Preview field as in the github in the description of the image ?

[2015-09-14 20:43] nhsiehgit commented on #342
Looks like this is an issue with the Markdown generator.
@ChristopherBiscardi will assign to you

[2015-09-14 22:05] ahmetalpbalkan commented on #288
yup still happens.

[2015-09-14 22:11] n0mer opened #344 "provide per-label (tag) JSON for "docker inspect""
Hi,

i use several labels in my repository (not "automated build", i build images on my own).

But, the only thing i can see for now is just image tag and image size:

![image](https://cloud.githubusercontent.com/assets/1862997/9863190/228e3b84-5b3e-11e5-9ef6-6f7e61fd8f9c.png)

Please allow somehow to see more image details. Ideally - everything that is visible from

[code]

command.

At minimum -

[2015-09-15 08:58] Kolyunya opened #345 "Is it possible to delete an organization?"
I would not able to find an option of deleting the organization.
Is it implemented yet?

[2015-09-15 13:43] cpuguy83 opened #346 "Fail when repo doesn't exist on push"
See docker/docker#5237

Basically, push always creates a new, public repo if one does not exist.
This can be dangerous.
It would be good to have a way to make sure either a repo isn't automatically created or is created as a private repo.
Maybe gated by a setting on the hub account/org?
New accounts can have this on by default for greater protection w/o breaking existing workflows for older users.

[2015-09-16 16:16] akerl commented on #260
no_scope should be sufficient for listing the repositories that a user has access to. Without any auth at all, you can get a list of a user's public orgs: https://api.github.com/users/akerl/orgs and then a list of those org's repos: https://api.github.com/orgs/dock0/repos

[2015-09-16 20:26] ahmetalpbalkan opened #347 "Can't browse popular repos anymore"
I was able to browse through most downloaded / most starred repos in the past. But now I totally can, the experience is changed with the new Docker Hub Beta to prevent that.

I think one of my repos is 3rd or 4th most starred non-official repo but I can't see that anymore and it is just sad... You're hiding information. I am not sure what you're achieving by disabling empty search query.

[2015-09-16 20:33] ahmetalpbalkan opened #348 "Repos users contributed is removed from profile page"
The old profile page used to have "Repositories contributed to" and now that's gone. For instance my profile (https://hub.docker.com/u/ahmet) used to list some exciting stuff like:

* https://hub.docker.com/r/microsoft/aspnet/
* https://hub.docker.com/r/microsoft/azure-cli/

and now it looks totally dumb and there's no clue anywhere I contributed to those repos. I wonder why this is removed.

[2015-09-16 20:34] ahmetalpbalkan commented on #346
+1, I realized this during #307 as well.

[2015-09-16 20:36] ahmetalpbalkan opened #349 "Bad markdown rendering in repo descriptions"
This one is from https://hub.docker.com/r/microsoft/aspnet/:

![image](https://cloud.githubusercontent.com/assets/159209/9917674/d6effd80-5c77-11e5-8cc9-a18cc8c49346.png)

and this one is from GitHub:

The badge images are listed on separate lines. So that's not exactly GFM.

[2015-09-16 20:39] ahmetalpbalkan opened #350 "My comments do not use my gravatar"
I have a comment here: https://hub.docker.com/r/microsoft/aspnet/

Although my profile has an avatar, it's not used:

Bug?

[2015-09-16 20:40] ahmetalpbalkan opened #351 "relation between "Contributed" tab and Repo Collaborators tab unclear"
If I go to https://hub.docker.com/contributed/

![image](https://cloud.githubusercontent.com/assets/159209/9917792/6dcaa6f6-5c78-11e5-9900-dfbd32a172dc.png)

I am contributor on at least 2 repositories when I go to my org dashboard (https://hub.docker.com/u/microsoft/dashboard/)

but they're not listed here. Why?

[2015-09-16 20:44] ahmetalpbalkan opened #352 "Cannot discover community images"
Related to #347... If I go to docker hub, unless I put a search keyword in all I see is Docker Official Repositories and nothing else. There is no way to explore community images. This is sad.

[2015-09-16 22:25] djsly commented on #281
:+1: Same here, I was waiting for a triggered build and saw it stuck with a status: dockerfile, I issued a second triggered and they are now both stuck at dockerfile.

It should be good to know that they are indeed in progress.

Maybe have a progress bar, expected available time ?

[2015-09-16 22:26] orlade opened #353 "500 internal server error updating billing details"
I'm trying to change the card details associated with my account, and when I submit the form I receive the error:

[code]

[2015-09-17 01:08] ChristopherBiscardi commented on #353
Thanks for reporting!

ping @nhsiehgit

[2015-09-17 01:11] ChristopherBiscardi commented on #350
This was merged earlier today and is pending deploy

[2015-09-17 01:27] nhsiehgit commented on #353
Thanks, was able to repro and are working on a fix!

[2015-09-17 04:50] n0mer commented on #68
+1

[2015-09-17 04:51] n0mer commented on #139
generalized version of this ticket #344

[2015-09-17 05:50] jmillerdesign opened #354 "Webhook should be called in the event of an automated build error"
Is there a reason for limiting webhooks to only successful builds? It seems helpful to notify the webhook when a build fails also.

[2015-09-17 07:43] Kaixhin commented on #319
Is it possible to get automated information, or even the logs, when an `exception` appears as the status? Until I was aware of the automated build limits I tried redoing builds thinking that it was a temporary issue.

[2015-09-17 07:51] Kaixhin opened #355 "Manually kill an automated build"
There is currently no way to stop an ongoing build, which may have been triggered by accident, or deemed unnecessary for some other reason. The functionality for manually killing a build exists already, but is only for internal use at the moment.

[2015-09-17 12:55] Kaixhin opened #356 "Trigger a Build for a specific tag"
The web interface's "Trigger a Build" button triggers builds for all tags - in the Build Settings tab it would be useful to be able to build a specific Docker tag rather than all of them. This would fit into the existing UI and be more convenient than sending a POST when debugging a specific build.

[2015-09-17 16:04] dnephin commented on #331
I've noticed this as well, it seems to be a problem for every repo

[2015-09-17 17:23] nhsiehgit commented on #332
agreed, triaging and adding todo

[2015-09-17 17:28] nhsiehgit commented on #339
There's been some discussion on displaying user specific timezones vs. just UTC and updates have been put in place.

Specifically Hub display settings would be a further feature request that would be up for discussion.

[2015-09-17 17:31] nhsiehgit opened #357 "Hub Display settings"
Add ability for users to change settings on how their hub displays information.

ie. Settings page for things like:
- [ ] Timezone
- [ ] color schema
  etc.

[2015-09-17 17:35] thaJeztah commented on #331
Is it only accounting for the last layer, and not the intermediate images?

[2015-09-17 17:46] dnephin commented on #331
@thaJeztah that was my initial guess as well, but it doesn't appear to be the case. https://hub.docker.com/r/dnephin/docker-custodian/tags/ shows 20Mb, but here's the `docker history` of that image:

[code]

I can't really see any correlation between the layers and the reported size.

[2015-09-17 18:02] xorbit commented on #195
Seriously, there are many good, working Markdown parsers.  Why does this problem even exist?  It should be possible to fix this within an hour.

[2015-09-17 19:18] adamnovak commented on #195
I can confirm that this is still broken.

[2015-09-17 22:13] nhsiehgit commented on #351
hey @ahmetalpbalkan

So the contributors tab is populated when you've been added as a collaborator to a repository (via collaborators tab). So it's independent of whether you've built/pushed a repo or not.

I'm going to update this ticket to reflect that this flow is currently unclear.

[2015-09-17 22:16] nhsiehgit commented on #353
hey @orlade would you be able to confirm whether this is still an issue for you?

[2015-09-17 22:22] nhsiehgit commented on #317
Closing this issue now

[2015-09-17 22:22] #317 closed

[2015-09-17 22:26] #152 closed

[2015-09-17 22:26] nhsiehgit commented on #245
closing this issue now. If there's still a problem please reopen with any relevant information

[2015-09-17 22:26] #245 closed

[2015-09-17 22:42] nhsiehgit commented on #17
Looks like this has been fixed. closing

[2015-09-17 22:42] #17 closed

[2015-09-17 22:49] rrarunan commented on #310
Could be related to https://github.com/docker/hub-feedback/issues/213 .. @kencochrane Can you please see if this is related? Doesn't seem like an issue with linking the repo.

[2015-09-17 22:58] nhsiehgit commented on #189
@AllYourBase Can you elaborate what browser you're using?

We've since removed the fancy input fields and i'm not able to reproduce this issue anymore.

[2015-09-17 23:03] ahmetalpbalkan commented on #351
@nhsiehgit I'm added as a collaborator, but if I go to the Contributors tab, I don't see these repos. That's still not clear to me.

[2015-09-18 00:16] nhsiehgit commented on #330
Just deployed to production, this should be fixed now. closing

[2015-09-18 00:16] #330 closed

[2015-09-18 00:17] nhsiehgit commented on #209
This should be resolved now. closing

[2015-09-18 00:17] #209 closed

[2015-09-18 00:17] nhsiehgit commented on #190
this should be resolved now. closing

[2015-09-18 00:17] #190 closed

[2015-09-18 00:17] nhsiehgit commented on #318
this should be resolved now, closing.

[2015-09-18 00:17] #318 closed

[2015-09-18 01:01] dnephin commented on #331
I think the issue is that the size is being calculated from the `content-length` header of the v2 registry, but that is not the same size as reported by the docker engine api. The layer in the registry is a `.tar.gz` so it's the compressed size.  I'm not sure what docker engine api size refers to.

[2015-09-18 02:47] orlade commented on #353
Yep. It doesn't highlight any errors in the form, the whole thing just goes red. The error message is "There was an error updating your contact information. Please check your information and try again." All my details are fine. I am in Australia, if that affects anything.

[2015-09-18 06:51] sserrano44 opened #358 "two-factor authentication"
Please add two-factor authentication people is using your service for deploying to production in continuos integration scenarios like Amazon EC2 Container Service.

[2015-09-18 17:11] kencochrane commented on #310
@mc388 @NOX73 @spiddy are you still seeing this issue if you create a new automated build today using a private repo from bitbucket?

[2015-09-18 17:13] mc388 commented on #310
For me it works now. Thanks

[2015-09-18 17:13] #310 closed

[2015-09-18 17:22] kristiehoward commented on #350
Closing as this has been fixed in production. Thanks for catching this @ahmetalpbalkan

[2015-09-18 17:22] #350 closed

[2015-09-18 17:24] nhsiehgit commented on #145
slightly related: https://github.com/docker/hub-feedback/issues/351

[2015-09-18 17:25] kristiehoward commented on #168
Closed as this has been fixed in production.

[2015-09-18 17:25] #168 closed

[2015-09-18 17:25] kristiehoward commented on #10
Closed as this has been fixed in production.

[2015-09-18 17:25] #10 closed

[2015-09-18 17:47] jawaid commented on #250
+1

[2015-09-18 17:48] jawaid commented on #68
+1

[2015-09-18 18:57] ahmetalpbalkan commented on #350
@kristiehoward avatars are not loaded under iOS Ad Blocker Peace.. I suggest taking a look.
![image](https://cloud.githubusercontent.com/assets/159209/9968274/6203258e-5dfc-11e5-8fe6-d11be1241fc9.png)

[2015-09-18 19:26] thaJeztah commented on #331
@dnephin ah, that would make sense, that it reports the compressed size. The "virtual size" reported by `docker images` is the combined size of all the images that make up the final image (so the tagged image, and all intermediate layers/images).

IMO, *ideally*, Docker Hub should report both, so that (as a user), I can see how much that will have to be *downloaded*, and how much disk space the im

[2015-09-18 19:40] kristiehoward commented on #350
@ahmetalpbalkan are you able to see your avatar in the repo description page, or is that blocked too?

![image](https://cloud.githubusercontent.com/assets/7132362/9969271/59e644c0-5e02-11e5-8248-2d27127d1944.png)

[2015-09-18 19:42] ahmetalpbalkan commented on #350
@kristiehoward I can't tell. That username is not clickable and your UI navigation just doesnt exist on mobile. I can't even go to my profile without knowing the URL. I reported related issues to this, nav on mobile isn't bad, it just doesn't exist.

[2015-09-20 05:14] vannakpanha commented on #213
Make sure your ssh is working

$ ssh -T git@bitbucket.org

[2015-09-20 13:09] bluszcz commented on #281
Experiencing same issue here:https://hub.docker.com/r/bluszcz/plone5/builds/ also getting unexpected errors...

[2015-09-21 01:10] turboMaCk opened #359 "Trigger a Build runs build twice"
Triggering build via button on web runs two builds for me every time I've used it. This is a project: [turbomack/ember-test-container](https://hub.docker.com/r/turbomack/ember-test-container/)

[2015-09-21 11:58] ineu commented on #182
It doesn't work with LastPass as of August 21

[2015-09-21 17:26] sauloal commented on #359
+1

[2015-09-21 17:30] #238 closed

[2015-09-21 17:30] #172 closed

[2015-09-21 17:37] yosifkit commented on #238
Will there be an update to the page to let users know the new limit?  It still says "Limit 5000 Characters", even though the limit is 25k.

[2015-09-22 05:34] yurtaev commented on #356
:+1:

[2015-09-22 05:40] Leopere opened #360 "Sometimes the Create button on hub.docker.com fails to work."
In certain browsers namely Safari Version 8.0.8 (10600.8.9) and google chrome Version 45.0.2454.93 (64 bit) the Create button fails to be clickable.

![http://i.imgur.com/ayiJMih.png](http://i.imgur.com/ayiJMih.png)

[2015-09-22 14:01] sjoeboo commented on #206
+1 , same issue.

[2015-09-22 14:17] sjoeboo commented on #360
+1, having this issue currently, i've tried chrome, safari and firefox. all end up returning a 403 when i look with dev-tools upon clicking.

[2015-09-22 16:42] kristiehoward commented on #238
Yes, @yosifkit we will be updating the repo description page with the new limit shortly

[2015-09-22 17:07] chamunks commented on #360
Mine is just not letting me click it at all.  I basically have to kind of play with spamming TAB and then ENTER until it works.  Launch it inside of "Private Browsing Mode" and try there etc.

[2015-09-22 19:05] hennumjr commented on #41
Any progress/news on this?

Big +1 to include at least the git commit reference. Trying to integrate Docker hub with our CI environment and knowing which commit an image is built on would be very useful information.

[2015-09-22 20:43] nhsiehgit commented on #360
Intersting. Thanks for reporting this. we will take a look and see what could be causing this.

[2015-09-22 20:49] dhermanns commented on #195
Same problem for me. +1 for being able to use links in documentation ;) Maybe this is of some help for someone: HTTPS-Links are working fine...

[2015-09-23 12:16] kizbitz opened #361 "Missing Tags"
The 'Tags' tab is not displaying all existing tags. (Can pull all tags with CLI)
Live example: https://hub.docker.com/r/fiware/orion/

Build settings:
<img width="1003" alt="screen shot 2015-09-23 at 8 14 08 am" src="https://cloud.githubusercontent.com/assets/201920/10044741/47d85314-61cb-11e5-8a4f-e38c5f1b10ff.png">

Tags Tab:
<img width="355" alt="screen shot 2015-09-23 at 8 14 31 am" src="https

[2015-09-23 14:21] Pysis868 opened #362 "Unable to link Docker Hub and GitHub accounts via oAuth "authorize""
I wanted to set-up account access for the Ducker Hub to automatically interact with my repositories requesting automated builds, and ran into a problem where I was unable to proceed with linking my accounts.

Here are the pages I went through:
 - https://docs.docker.com/docker-hub/builds/
 - https://docs.docker.com/docker-hub/github/
 - https://hub.docker.com/account/authorized-services/github-per

[2015-09-23 19:30] leo-from-spb commented on #11
+1 to ability to rename a user account

[2015-09-23 19:30] leo-from-spb commented on #11
Is there a workaround now?

[2015-09-23 20:06] fostertheweb commented on #349
+1 and for fenced code blocks it doesn't add space below the code block like GitHub does.

Docker Hub:
<img width="170" alt="screen shot 2015-09-23 at 4 04 18 pm" src="https://cloud.githubusercontent.com/assets/969506/10057174/ce643362-620c-11e5-8962-c7e6e4a390ae.png">

and on GitHub, much cleaner
<img width="157" alt="screen shot 2015-09-23 at 4 04 58 pm" src="https://cloud.githubusercontent.com/

[2015-09-23 20:48] paynerc commented on #281
:+1:

[2015-09-23 20:54] robertoandrade commented on #281
more like :-1: :)

[2015-09-23 20:58] chambm commented on #281
Nah, the status is: "thumb"

[2015-09-23 21:19] rrarunan commented on #362
@Pysis868 Try this: https://hub.docker.com/account/authorized-services/

Use that page and then click on `Link Github` button and see if that works for you.

[2015-09-23 22:34] rrarunan commented on #199
@f-wong @ymote @yagilm @kencochrane @andymotta There is a way now to filter your private repositories on demand in the dashboard. You will see all your repos and can filter by name when you decide to use the filter. Let me know if you have any questions.

[2015-09-23 22:34] #199 closed

[2015-09-24 05:06] n3bulous commented on #12
+1

[2015-09-24 08:28] jitakirin opened #363 "cannot link to repository and tag"
It would be useful to be able to link automatic builds to a `repo:tag`, i.e. so that only if particular tag (instead of any tag) is pushed it triggers a rebuild of your image.

Currently if you put a `repo:tag` in the _Repository Full Name_ field it shows an error _Repository was not found in Docker Hub_, as in the screenshot attached.

![dkr-hub-bug-link-repo-with-tag](https://cloud.githubusercon

[2015-09-24 14:39] Pysis868 commented on #362
I have now successfully linked GitHub with my account now. Thanks!

[2015-09-24 14:40] #362 closed

[2015-09-24 15:37] M4urice opened #364 "Docker Hub comment pagination with many comments broken?"
1. The Docker Hub comment pagination only allows to jump to the next page of comments and starts at the oldest comment. For a popular image it means I would have to click **very** often to reach the newest comments.
2. The pagination never stops (see the screenshot, 66 comments but comment page 100).

Example:
https://hub.docker.com/r/library/postgres/
![screenshot 2015-09-24 17 32 31](https://clo

[2015-09-24 16:10] cpttripzz commented on #281
status seems more like:
....................../´¯/)
....................,/¯../
.................../..../
............./´¯/'...'/´¯¯`·¸
........../'/.../..../......./¨¯\
........('(...´...´.... ¯~/'...')
.........\.................'...../
..........''...\.......... _.·´
............\..............(
..............\.............\...

[2015-09-24 16:39] rrarunan commented on #364
Related to https://github.com/docker/hub-feedback/issues/169.

[2015-09-24 23:53] jakirkham commented on #292
+1 also would really like to see the option to specify build context and `Dockerfile` separately. This is incredibly useful if several docker images rely on many of the same components and hence are in the same repo, but at a higher directory level than the `Dockerfile`s.

[2015-09-25 09:31] Hildebrand opened #365 "'Link Bitbucket' link broken"
When trying to setup an automated build from Bitbucket, and consequently clicking on 'Link Bitbucket' on the 'Linked Accounts & Services' page, a new tab opens with a blank page (about:blank) instead of the expected link setup page.

![image](https://cloud.githubusercontent.com/assets/302236/10097411/2b2ad2d2-6379-11e5-94c7-d92cf42387d8.png)

Operating system: Windows 8.1
Browser and Browser versi

[2015-09-25 18:05] johnw opened #366 "Automated build option: Detect and build all branches of a git repo [feature-request]"
# Story

I have a git repo with branches master and develop.  I create a new automated build and link it to this git repo, indicating that I'd like to use the build-all-branches feature.  At automated build creation, two images would be created for each branch and tagged with the branch name.   Later on if I add a WIP_FEATURE1 branch and commit to it, the commit would be picked up by hub, and a ne

[2015-09-25 18:36] tomdee opened #367 "Automatic builds broken (for a month)"
The calico/node image has not been building automatically even though it's been configured to.

There have been plenty of commits - https://github.com/projectcalico/calico-docker/commits/master

[2015-09-25 18:38] tomdee commented on #331
+1 - I see this as an issue too

[2015-09-26 10:21] sb-minimal commented on #195
+1

[2015-09-27 05:52] ahmetalpbalkan commented on #288
I genuinely wonder how hard is it to fix this.

[2015-09-27 05:56] ahmetalpbalkan opened #368 "No UI to remove tags excluded by automated build repos"
Repo: https://hub.docker.com/r/microsoft/aspnet/tags/
Aforementioned tag: `nightly`

I removed this tag on Apr 30, 2015 (149 days ago): https://github.com/aspnet/aspnet-docker/pull/52

As you can see below it's not even in our build list (and we had builds ever since):

Fast-forward 5 months, this tag is still listed in the new Docker Hub (I think it wasn't there in the old one). **This is confusi

[2015-09-27 06:19] nathan-osman commented on #341
:+1: I'd love to see this as well

[2015-09-28 02:36] orlade commented on #353
FYI this appears to be fixed now. Resubscribed!

[2015-09-28 02:36] #353 closed

[2015-09-28 13:32] siavashs opened #369 "Unable to pull docker images in Iran"
I recently noticed that it's not possible to pull any docker images in Iran.

This is the output from my Mac, using latest docker toolbox:

[code]

This message is confusing, but after trying to pull the image on our production server which has been running docker for some time, I got a better error message:

[code]

At first I thought that the government telecom has made a mistake and filtered th

[2015-09-29 12:45] na3r commented on #369
I have the same issue

This is the output from runnig docker pull command on linux

[code]

[2015-09-29 13:07] hg-jt commented on #313
+1

[2015-09-29 15:46] geoah commented on #292
+1 Currently have a repo that produces multiple containers. Would be very useful to allow container repos to specify dockerfiles and not just their context paths.

[2015-09-29 16:39] Alonkad commented on #165
+1 asap

[2015-09-29 16:55] drora commented on #165
+1 ASAP also here.. any ruff ETAs on this?

[2015-09-29 17:58] kencochrane commented on #368
@ahmetalpbalkan when you said you removed it, did you remove just from the build settings, or did you delete the tag from the hub UI?

[2015-09-29 18:00] ahmetalpbalkan commented on #368
@kencochrane I am not sure what deleting tag from the Hub UI means. Can you delete tags without removing them from build settings? The screenshots above should be explaining the issue, something that's not in the build settings list is still listed among the tags.

[2015-09-29 18:09] kencochrane commented on #368
@ahmetalpbalkan on the old hub there was a way to delete the docker tag, not sure if we have it on the new hub ( @ChristopherBiscardi ?). If you remove them from the build settings, it doesn't delete the docker tags, it just stops new builds from happening and pushing to those tags.

[2015-09-29 18:11] ahmetalpbalkan commented on #368
I see no such option to delete the tag in the web interface (I've never seen it in the old Hub either). :|

[2015-09-29 18:16] kencochrane commented on #368
@ahmetalpbalkan I know it was there in the old hub (I worked on it :) ) but it was pretty hidden, so not surprised you didn't see it. I'll ping @ChristopherBiscardi to find out where it is in the new hub, if it is there, if not, when it will be added.

Looks like there is another issue for deleting tags here: https://github.com/docker/hub-feedback/issues/68

[2015-09-29 18:16] sbasyal commented on #368
@ahmetalpbalkan @kencochrane There was this option to delete the tags in Non-Automated Repositories but not in Repositories with Automated Builds in Old Hub. In the new Hub, currently we don't have an option to delete the tags at all.

[2015-09-29 18:17] kencochrane commented on #368
@sbasyal thank you for the clarification.

[2015-09-29 18:33] ahmetalpbalkan commented on #368
I should note that this repo has always been an automated repo.

[2015-09-30 00:37] fabianomenegidio opened #370 "Error Occurred"
![aaaaaa](https://cloud.githubusercontent.com/assets/8346806/10181758/74d82066-66f2-11e5-8647-b3ea3126e9fc.PNG)

I visualized the Error Occurred message when I try to do a pull docker. The error is repeated for any attempt in any repository that I create.

[2015-09-30 09:49] dciccale commented on #281
i have the same question.

the statuses that i have seen are:

pending (which i understand of building...)
error
done
dockerfile (is this the limbo?)

[2015-09-30 09:56] dciccale opened #371 "specify Dockerfile name not only location"
would be really useful to be able to specify the file (not only the location) from where to build the image.

now you can only specify the directory on where the Dockerfile is located.

however using docker cli you can pass `-f whatever`

in my repo i have `Dockerfile` `Dockerfile-staging` and `Dockerfile-dev` and without this feature i am forced to create a `Dockerfile-staging` directory and thro

[2015-09-30 10:06] dciccale opened #372 "webhook per branch"
dockerhub is able to build images from multiple branches, however i would like to be able to run a webhook when a specific branch is built.

case:

branch: master
branch: dev

1) push to github/dev branch, trigger docker build from github with
 `'{"source_type": "Branch", "source_name": "dev"}'`
2) **only after dev branch** image build is done, trigger webhook `dev-webhook`

i am not aware if this

[2015-09-30 10:56] paddy-hack opened #373 "Allow hyphenated usernames and organization names"
As you can see, I have a hyphenated username on GitHub.  Same thing on GitLab.  I also use hyphenated organization names with both services.  Not being able to use the same names on Docker Hub is confusing at best.  It would be really nice if the user/organization naming rules for the various services you want to integrate with are the same.

[2015-09-30 11:36] jakirkham commented on #328
+1 Also interested in being able to transfer repos. In particular, interested in this in the case of automated builds.

[2015-09-30 11:38] jakirkham opened #374 "Resync GitHub and Bitbucket repos"
It would be really nice to be able to forcibly resync GitHub and Bitbucket repos. Currently, I have transferred some GitHub repos and would like to be able to recreate them under the appropriate org on Docker Hub. However, I seem unable to do that as Docker does not notice the change.

[2015-09-30 11:47] jakirkham commented on #374
Related https://github.com/docker/hub-feedback/issues/328

[2015-09-30 17:50] lbjay opened #375 "Description of all build trigger params"
Is there a list of all the possible params accepted by the build trigger endpoints, as well as a description clarifying their use? I mean, it's mostly intuitive, but still would be nice. For example, why do I sometimes need {"build": "true"} but not always? Don't I always want a build?

Also, there is a minor disagreement between the examples in the docs at https://docs.docker.com/docker-hub/build

[2015-09-30 23:51] ThomasRedstone commented on #365
Is it possible to get the URL that this link leads to?
The GitHub goes to:
https://hub.docker.com/account/authorized-services/github-permissions/
But changing github to bitbucket in the URL doesn't work.

[2015-10-01 13:18] bboreham opened #376 "My URL has disappeared"
In https://hub.docker.com/r/weaveworks/weave/, the URL "http://weave.works" is there in the Full Description source, but not in the rendered output.

Is there some prohibition on http URLs?  I couldn't find any docs stating what is acceptable in that field.

[2015-10-01 17:40] isntall commented on #292
+1 I have pretty much the same use case.

[2015-10-01 22:27] ThomasRedstone commented on #365
It seems the path you follow to link Docker Hub and Bitbucket is important.
If you go to Settings, Linked Accounts and Settings, then click Link Bitbucket, it works fine.
But if you go via Create, Create Automatic Build, and then attempt to link Bitbucket, it links to about:blank.

[2015-10-01 22:30] donpark opened #377 "Create Repository: Editing text field moves cursor to end of text"
Steps to reproduce:

1. Open "Create Repository+" dialog.
2. Enter some text into any text field.
3. Select anywhere in the middle of any text field and start typing some characters.
4. Notice that only first character got inserted in the middle and that the rest ended up at the end of the text field.

[2015-10-02 00:08] n8io commented on #354
+1

[2015-10-02 00:08] n8io commented on #372
+1

[2015-10-02 04:10] shadowbq commented on #281
:8ball: Tell me my status..

[2015-10-02 07:09] modius commented on #371
+1

[2015-10-02 17:15] ahmetalpbalkan commented on #368
@sbaysal my emails to support@ are getting lost. Sending again:

Can you please delete the following tags

- nightly
- vs-1.0.0-beta4
- coreclr-1.0.0-beta5-11624

[2015-10-02 19:46] FunThomas424242 commented on #250
+1

[2015-10-03 06:53] stepanic opened #378 "Private repos limit"
I think that you have bug at Docker HUB, if private repos limit is used in web app, example 1/1 for free plan.
Anyone can create another free private repos with `docker push`.
How?
Example:
Existing repo name available in web dashboard `username/myrepo001` and 1/1 free plan is full.
Just push non existing repo with `docker push username/mynewrepo` and private repo will be created and with free acc

[2015-10-03 10:34] labkode opened #379 "Field created_at reports wrong date"
The created_at field at the build details reports a wrong timestamp.

The timestamp is 2 hours older that the actual time.

[2015-10-03 17:52] sserrano44 opened #380 "feedback password strength to the user"
Read: https://blogs.dropbox.com/tech/2012/04/zxcvbn-realistic-password-strength-estimation/

[2015-10-04 07:22] zarezadeh commented on #369
Same problem here, it seems docker hub banned all ips from iran. Why is that?

[2015-10-04 07:57] mro commented on #189
similar issue here, Brwoser doesn't fill in anything.

Safari Version 7.1.8 (9537.85.17.9.1), OSX 10.9.5

[2015-10-04 18:21] parhamdoustdar commented on #369
Same here. This seems to have happened recently?

[2015-10-04 19:43] scottdraves commented on #195
:broken_heart:

[2015-10-04 19:52] pointbit commented on #377
Happens on Ubuntu and Windows using Firefox 41.0.1

[2015-10-04 21:02] jawnsy commented on #369
On the mailing list (https://goo.gl/52fp8W), Solomon @shykes notes that this is a result of a legal restriction given that:

a) Docker Inc. is a US-based company; and
b) Trade with Iran is restricted according to US Law

It's understandable that Docker must abide by the laws of the United States, however, perhaps a more detailed/descriptive error message would help here.

[2015-10-05 01:06] SebOnAir commented on #369
Hello :)

France also apparently blocked ?

http://stackoverflow.com/questions/32824213/docker-pull-generate-403-error-message-on-latest-version/32937896#32937896

[2015-10-05 02:01] janeczku commented on #195
:grimacing:

[2015-10-05 02:35] richburdon opened #381 "REST API"
It would be useful to have a REST API, for example, to list repos, check build status, last build timestamp, etc.

Similar one exist for Github, CircleCI, Tutum, DigitalOcean and all other parts of our production pipeline.

[2015-10-05 02:54] jakirkham opened #382 "BUG: Worker aborted the build due to build timeout"
Seeing this on some of my automated builds.

[2015-10-05 09:18] siavashs commented on #369
@jawnsy thanks for clarifying this issue.

@shykes I think these restriction are wrong for following reasons:

1. Docker is an open source project and this move is against the spirit driving the open source community.
2. Docker hub is a repository, I'm not a lawyer but I think Docker Inc. does not own the docker images, it only hosts them.
3. You are not trading the docker images with Iranians.
4.

[2015-10-05 10:41] jawnsy commented on #369
Siavash @siavashs,

Probably none of us here are attorneys, hence why we're the wrong people to be making this sort of call. While this is certainly inconvenient, there's no reason to believe that Docker Inc was acting in bad faith when it chose to impose this restriction: perhaps a lawyer has advised them to make this change, or maybe they've made the change to err on the safe side while they dis

[2015-10-05 10:58] ashkang commented on #369
I think there is a revised version of General License D issued by Treasury Department’s Office of Foreign Assets Control, according to which such sanctions and restrictions are lifted. I can't be sure of this matter, but this is what one understands from the text itself (section a3): http://www.treasury.gov/resource-center/sanctions/Programs/Documents/iran_gld1.pdf

[2015-10-05 14:14] behnam-marandi commented on #369
Please reconsider this decision. It is not fair.

[2015-10-05 14:24] siavashs commented on #369
As I checked you have also blocked access to https://hub.docker.com/ website too.
The website was reachable when I opened this issue last week.
Not cool.

[2015-10-05 16:53] remohammadi commented on #369
This is a legal issue, and like @ashkang, I beleive it should be solved when the legal team of docker review the General License D document. I believe the legal team doesn't check github!

Can a project collaborator please link us to the legal team, and also ask them about a more descriptive reason on this blockage? There are different sanction acts, and most of them are related to financial trans

[2015-10-05 17:35] kristiehoward commented on #376
This has to do with our markdown rendering, and the fix is pending deploy.

[2015-10-05 19:02] SebOnAir commented on #369
Hello :)

I have the same problem (Ubuntu 14.04 LTS) wanting to download an image ...

    Pulling repository docker.io/library/ubuntu Error: Status 403 trying to pull repository library/ubuntu: "<html><body><h1>403 Forbidden</h1>\nRequest forbidden by administrative rules.\n</body></html>\n\n"

Client:
Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:

[2015-10-05 22:59] ChristopherBiscardi commented on #195
Thanks everyone for hanging in there. This is pending a deploy.

[2015-10-05 23:01] ChristopherBiscardi commented on #367
@tomdee Please send an email to support@docker.com for this.

[2015-10-05 23:01] #367 closed

[2015-10-06 00:43] ahmetalpbalkan commented on #352
Can someone please communicate about this, this is annoying.

[2015-10-06 01:06] tdanielcox opened #383 "Country/State/Zip missing labels/buggy"
In Chrome, the checkout page Country/State/Zip section is missing labels and buggy

[2015-10-06 01:55] shadowbq opened #384 "Bugfix - Trigger Wildcard Matches for Tags in Automated Builds"
For automated builds, we should be able to create a REGEX pattern and define, that if a GITHUB / BITBUCKET tag matches the REGEX in the BUILD Settings, it should BUILD and create a docker tag that matches the REGEX pattern

Search: `/v([0-9]+\.[0-9]+\.[0-9]+)/`   Create: `docker-$1`

So if I TAG v1.4.5 in github, I would get in hub.docker `docker-1.4.5` as a build.

http://picpaste.com/pics/Screen

[2015-10-06 06:21] ChristopherBiscardi commented on #383
ping @nhsiehgit

[2015-10-06 06:22] ChristopherBiscardi commented on #376
Deployed.

<img width="846" alt="screenshot 2015-10-05 23 22 04" src="https://cloud.githubusercontent.com/assets/551247/10301505/ef525a40-6bb7-11e5-89e8-ab80bd4bc968.png">

[2015-10-06 06:22] #376 closed

[2015-10-06 06:26] ChristopherBiscardi commented on #225
This has been deployed.

[2015-10-06 06:26] #225 closed

[2015-10-06 06:26] ChristopherBiscardi commented on #195
This is deployed. Please let us know if you are still experiencing issues.

[2015-10-06 06:26] #195 closed

[2015-10-06 06:30] ChristopherBiscardi commented on #124
These fixes have been deployed. Thanks everyone for taking the time here!

[2015-10-06 06:30] #124 closed

[2015-10-06 06:30] ChristopherBiscardi commented on #93
inputs are no longer "special", closing

[2015-10-06 06:30] #93 closed

[2015-10-06 06:42] mike-jumper opened #385 "Newlines in Markdown are rendered as <br>"
@pedantic-git noted the following in the creation of #124:

Though other problems mentioned within #124 appear resolved as of the latest deploy, the issue with newlines continues. Newlines within Markdown source are converted to `<br>`, leading to strangely formatted paragraphs.

[2015-10-06 11:52] phemmer commented on #93
This still doesn't work with things like the chrome built-in password manager (dunno about lastpass).

[2015-10-06 11:54] mbentley commented on #93
I haven't tried Chrome's password manager but I can at least confirm LastPass works (used it yesterday).

[2015-10-06 12:09] phemmer opened #386 "login password autofill does not work with chrome"
Since we seem to be tracking the login autofill issues separately for each browser/password manager, I'm creating one for chrome. The others are #93 (lastpass), #182 (1password), #189 (safari).

In the current state, Chrome does not even offer to save the username/password on login.
Tested with Chrome versions 42.0.2311.90 and 45.0.2454.85

[2015-10-06 12:11] phemmer commented on #93
It looks like we're tracking each browser/password manager separately (found a few issues created after this one was). Opened one to track chrome at #386

[2015-10-06 13:23] jakirkham commented on #124
Missing badge ( https://hub.docker.com/r/jakirkham/ubuntu_drmaa_conda/ ). Should have two, but only shows one.

[2015-10-06 14:03] jakirkham commented on #124
Now appears fixed.

[2015-10-06 14:13] jakirkham commented on #124
Should add images (e.g. badges) appear to be stacked in DockerHub even if they were placed on one line in Markdown. This seems pretty minor though.

[2015-10-06 14:18] jakirkham opened #387 "Fetch short description from GitHub"
Would be nice if the short description was simply the one provided on GitHub. Admittedly, this is a bit tricky as that description seems to be web based and I don't believe it honors `.git/description`. ( http://stackoverflow.com/a/15406525 )

[2015-10-06 14:45] jakirkham commented on #142
It looks like something was done on this front and it looks nice.

<img width="441" alt="screen shot 2015-10-06 at 10 44 03" src="https://cloud.githubusercontent.com/assets/3019665/10311995/35c24dfa-6c17-11e5-8624-addefd19dae8.png">

Was this react.js?

[2015-10-06 15:30] cusspvz opened #388 "Are build details and tags suffering a limit on data fetch?"
I've set lot of tags (approx. 315) for my [node](https://hub.docker.com/r/cusspvz/node) repo.
Problem is that I'm not seeing most recent build details, and tags aren't displayed correctly, since I can fetch some tags that aren't present.

This is a high priority issue since most users do a Tag checking instead of reading the hole repo description.

Although I've added them to repo description.

[2015-10-06 15:31] chali commented on #195
It works. Thank you. Documentation looks much better now.

[2015-10-06 15:45] nhsiehgit commented on #383
Hi @tdanielcox thanks for reporting. Can you elaborate on the bugginess or provide a screen shot of what you're seeing?

[2015-10-06 16:05] yosifkit commented on #124
Markdown is still a little broken, one block followed by another (fenced, by non-fenced) displays as one continuous block.  It should just be a css fix as they are rendered as separate code tags on the page. It looks like code blocks could use margins, since they have whitespace issues when followed by a paragraph or header.

Also, indented code block in a list does not work.  Styling of inline co

[2015-10-06 17:38] eogiles commented on #251
+1 I was just going to submit this same suggestion. It would be a big help.

[2015-10-06 18:59] scottdraves commented on #195
:dolphin:

[2015-10-06 23:24] nhsiehgit opened #389 "Account Information - No error validations"
When account information errors out - there's no validation errors showing something has failed.

[2015-10-07 01:34] jamieshulman commented on #12
+1

[2015-10-07 09:10] akoi commented on #292
+1 Would be great to be able to keep the dockerfiles out of the project/repo root.

[2015-10-07 12:24] jakirkham commented on #356
:+1:

[2015-10-07 12:25] jakirkham commented on #359
Sounds like dup of this ( https://github.com/docker/hub-feedback/issues/356 ).

[2015-10-07 12:27] jakirkham opened #390 ""Trigger a Build" button on build details page"
I was pretty sure this was a thing, but it appears to not be there. Could we have the "Trigger a Build" button on the build details page? Thanks.

[2015-10-07 12:29] jakirkham commented on #363
:+1:

[2015-10-07 12:30] jakirkham commented on #363
Related ( https://github.com/docker/hub-feedback/issues/356 ).

[2015-10-07 12:31] jakirkham commented on #372
:+1: Would be nice to see this for tags too. Also, related ( https://github.com/docker/hub-feedback/issues/356 ).

[2015-10-07 17:04] jakirkham commented on #143
:+1:

[2015-10-07 17:05] jakirkham opened #391 "See who starred"
It would be nice to see who stared a repo. This way we know who likes or is using a particular repo.

[2015-10-07 17:36] Crispy1975 commented on #315
Logging in to Docker Hub on mobile does not work at all, just get redirected to the sign up page.

[2015-10-07 20:42] mariusGundersen commented on #336
1. The history button opens a list, where each item has an id, clicking the id opens another list. No matter which id is clicked, the same list is opened. This is confusing
2. The red X changes to "Deleted" when clicked, and clicking the "Deleted" button changes it back to an X. Clicking the X again flashes "Deleting", but it returns to an X again. This is confusing
3. The save button does nothing

[2015-10-08 13:47] feedthefire commented on #68
+1

[2015-10-08 18:17] arangamani commented on #68
+1

[2015-10-09 01:46] kenny1986 commented on #377
verified on Chrome, Firefox and Safari

[2015-10-09 21:18] danderson opened #392 "Automated docker build fails with exception, docker client/server API version mismatch"
The automated builds for Pixiecore (https://hub.docker.com/r/danderson/pixiecore/) have been failing for 3 days now, throwing an exception that seems to be about client/server API version mismatch. The only log text I get is:

[code]

AFAICT, there's nothing I can do about this, it looks like an incomplete rollout to the hub infrastructure.

[2015-10-09 22:17] dustinlacewell commented on #392
We identified the issue as being caused by a decoding error when processing your README file which contains a non-utf character. We'll be rolling out a change to better handle that in the future but for now you can mitigate by removing that character from your README.

[2015-10-09 23:34] jakirkham opened #393 "Use GitHub status API (for automated builds)"
It would be nice to have information about whether a branch is building/built/broken.

[2015-10-09 23:37] jakirkham commented on #41
Also, would love to see this.

[2015-10-09 23:39] jakirkham opened #394 "Building Pull Requests (automated builds)"
It would be really great if pull requests to an automated build repo were built. This would be useful in testing and further manual validation and/or collaboration on an image. Primarily, I am thinking of GitHub here, but I suppose it would be nice to extend to other services.

[2015-10-10 19:24] AdieSutcliffe commented on #135
I don't see this fixed.  Am brand new to Docker Hub today and am trying to create an AB for a github repo and am experiencing this very problem.

Now being new to this I might be doing something wrong, however I tried to create an AB for a github repo with hyphens in the name and was presented with the error message.  I then changed the name within the AB to have zero non alpha chars and still rec

[2015-10-10 23:00] jtgasper3 commented on #12
+1

[2015-10-11 00:30] rrarunan commented on #135
@AdieSutcliffe can you please tell us what name you tried to create the autobuild with, so we can help you further?

[2015-10-11 18:03] audreyr opened #395 "No way to cancel build"
It would be nice to have a button to click to cancel a build. A [Cancel] button would save a lot of time and unneeded processing.

[2015-10-12 07:06] AdieSutcliffe commented on #135
Hi,

Yes I'm trying to base the build on a GiHub repo named PluralsightDockerCI and am naming the build the same.  Hopefully the screenshot will have attached.

I also tried with a GitHub repo named EMC and again the create build page failed with the same message.

As an aside, I also experience a quirk typing into either the Name or Description text boxes, in that if I have the caret midway throu

[2015-10-12 17:05] kristiehoward commented on #142
Closing as this is in production.

Clicking on the input automatically selects the entire field. Clicking on the `copy` icon copies the command (in supported browsers like Chrome and Firefox 41+) and selects the entire command (if copying is not available) for easier manual copy/pasting if the browser does not support it. No Flash used :+1:

[2015-10-12 17:05] #142 closed

[2015-10-12 19:23] phil-lgr commented on #12
+1

[2015-10-12 22:15] edcottrell opened #396 "Title tags on hub.docker.com need to be more descriptive"
When viewing a repo on Docker Hub, the `<title>` tag is always just "Docker Hub." This is not very helpful, especially if a user has more than one browser tab open to Docker Hub at a time. It would be much more useful to have the name of the repo in the `<title>` tag, as in "Docker Hub - somebody/somerepo."

[2015-10-13 01:39] ahmetalpbalkan commented on #368
Can somebody please help out here? We're stuck with the ancient tags and this is limiting us from deprecating certain tags from the existing repo as well... Are we ever going to have this Delete Tags feature back on Docker Hub? Any updates are appreciated.

[2015-10-13 02:33] sbasyal commented on #368
@ahmetalpbalkan Sorry your message got lost. Following tags are deleted:
microsoft/aspnet:nightly
microsoft/aspnet:vs-1.0.0-beta4
microsoft/aspnet:coreclr-1.0.0-beta5-11624

If you want to delete more tags, send an email to support@docker.com.

[2015-10-13 02:56] jkingyens opened #397 "Can't access my namespace"
I think i own the repo namespace "substrait" but I cannot seem to access it as an organization from my primary account. I have another substrait.com emial which It might be registered under, but when I try to reset the password I don't receive an account. Is there any way I can claim this namespace back?

[2015-10-13 04:06] ahmetalpbalkan commented on #368
thanks @sbasyal.

[2015-10-13 09:06] jason-tian opened #398 "Could not reach any registry endpoint"
I always get the error "Could not reach any registry endpoint" when I'm trying to pull images from my private registry. But pull public images is normal. Could anyone from dockerhub team help it?

[2015-10-13 09:19] jeham commented on #398
+1

[2015-10-13 09:48] mariusgrigaitis commented on #398
+1

[2015-10-13 09:49] petrpokorny-home24 commented on #398
+1

[2015-10-13 09:51] cagataygurturk commented on #398
+1

[2015-10-13 15:04] markoshust opened #399 "Change/update automated source/build repo"
I currently have my Docker Hub automated build source repositories on BitBucket. I'd like to change the source repositories to GitHub for better user involvement. How can one go about doing this?

[2015-10-13 17:40] benjaminjosephw commented on #379
I'm getting this too, though I'm 1 hour out.

I think it's showing UTC instead of my local time (BST).

[2015-10-13 17:47] ChristopherBiscardi commented on #336
There are fixes coming down the pipeline for this interface.

[2015-10-13 19:34] DBarney commented on #371
I have multiple Dockerfiles in one repo for different versions of a program. Being able to choose one of them would extremely useful, as right now I can do it with the cli, but can't use the automated build because of this missing feature.

+1

[2015-10-14 18:08] nhuray commented on #371
+1

[2015-10-14 18:10] MathieuLescure commented on #371
+1

[2015-10-14 19:16] eyal-rounds opened #400 "cannot get complete android sdk"
my docker repo is here: https://hub.docker.com/r/poohtbear/android_build_docker/
I cannot seem to be able to build a repo for android build system.
i constantly get "no space left on device"
i tried splitting the build into image with oracle java, image with base sdk and images and then add more images (system images)  and that's before i even add NDK.
what's going on here ?

[2015-10-14 20:01] carlitux opened #401 "Can't create automated build"
on dev tools csv_repo_name: "This field is required." and default values are not being set I have to change values if not I am having errors.

[2015-10-14 20:14] rrarunan commented on #401
@carlitux can you let me know if it is a bitbucket or a github repo.. and if its a public repo share the actual link, so I can take a look? Thanks!

[2015-10-14 20:16] carlitux commented on #401
It is a public github
https://github.com/linkux-it/strider-docker-slave-node

On Wed, Oct 14, 2015, 4:14 PM Arunan <notifications@github.com> wrote:

[2015-10-14 21:01] rrarunan commented on #401
@carlitux I'm trying to repro this, and cannot. Can you please share a screenshot of what you are entering in the form so, we can debug further? And also, the screenshot of the 400/error message you see in the devtools will be great. Thank you!

[2015-10-14 21:27] carlitux commented on #401
First is 400 is about the cvs_repo_name as I put previously... But first
there are others if I don't select my username... All data is the default
filled... If you need any other please let me know and I will do when I am
on the computer.

On Wed, Oct 14, 2015, 5:01 PM Arunan <notifications@github.com> wrote:

[2015-10-14 23:49] knickers opened #402 "Display README from "latest" tag"
Every once in a while, the content in the Full Description and the Dockerfile page will be from an old release tag.

Old Dockerfile, notice version 0.20.0 for mongo-express:
![Old Dockerfile](https://cloud.githubusercontent.com/assets/1203575/10501087/191357aa-729b-11e5-9aef-a338d6197831.png)

Available tags, contains newer versions:
![Available tags](https://cloud.githubusercontent.com/assets/120

[2015-10-15 00:21] carlitux commented on #401
I followed on chrome from list of organization and worked but I refresh the page doesn't

[2015-10-15 00:31] rrarunan commented on #401
Ok, the first case where you follow it from the list of organization is what is supported. If you can create a build that way, I would recommend doing it.

But, to understand your other case: refreshing the page, which page are you trying to refresh and create the build? The form itself?

[2015-10-15 00:41] carlitux commented on #401
Well I followed from organizations (github)... to test (hub docket) I created two organizations on hub but on form is selected my username, repo-name, master branch.

1.- Click on create (don't show errors but server respond with 403, I noticed this after refresh)
2.- Here is when I refreshed
3.- Open dev tools (Here I noticed the 403)
4.- Change to one organization (hub) then again to my username

[2015-10-15 00:47] rrarunan commented on #401
ok, @carlitux Thanks for the report, I will try to reproduce this when I get a chance.

[2015-10-15 08:11] oryband commented on #109
:+1: this is 2015

[2015-10-15 08:11] oryband commented on #32
:+1:

[2015-10-15 08:12] oryband commented on #149
possible duplicated by #149 ?

[2015-10-15 09:51] kencochrane commented on #149
@oryband this is number 149, maybe you mean another issue?

[2015-10-15 09:59] picoded opened #403 "automated build option: only on dockerfile change (instead of relying only on git push)"
# TLDR;

Add an additional option to automated builds, where it "triggers only on dockerfile changes". This check for file change will only occur after detecting git push.
# Full Backstory

Currently i have all my various docker files grouped into a (single repository)[https://github.com/picoded/dockerfiles].

This is mainly to avoid populating my main project space with a long list of docker git

[2015-10-15 11:34] dciccale commented on #281
what i found out, is that if you wait some minutes, the status actually changes to done or error.

i think dockerfile means "executing dockerfile instructions"

[2015-10-15 13:09] oryband commented on #149
edited

[2015-10-15 14:18] yoanisgil commented on #68
Who many +1 it takes before we get at least an initial feedback? Anyhow:

+1

[2015-10-15 14:21] jakirkham commented on #68
I think this is the relevant issue for implementing this feature ( https://github.com/docker/distribution/issues/422 ).

[2015-10-15 14:35] yoanisgil commented on #68
@jakirkham docker/distribution#461 and docker/distribution#462 are the actual issues to keep track of progress. Still I think it would be nice if there is feedback from hub-*feedback* :)

[2015-10-15 14:37] jakirkham commented on #68
I lifted that from this comment here ( https://github.com/docker/docker/issues/8759#issuecomment-103963545 ). I assumed he knew what he meant.

[2015-10-15 17:59] kristiehoward commented on #377
Closing as this is fixed in production

[2015-10-15 17:59] #377 closed

[2015-10-15 18:07] kristiehoward commented on #288
Closing as this is fixed in production

[2015-10-15 18:07] #288 closed

[2015-10-15 18:10] MohammadsM commented on #369
Same for me :(
I'm using docker on ubuntu snappy
it's a bout few days my apps on docker are not working
"...Since Docker is a US company, we must comply with us export control regulations. In an effort to comply with these, we now block all IP addresses that are located in Cuba, Iran, North Korea, Sudan, and Syria. ..."
I'm a developer, not a terrorist or even a soldier
Hope this madness soon get

[2015-10-15 18:20] na3r commented on #369
Hi mohammad

you can setup your own registery on a server outside of iran and mirror it
to hub.docker.io
its easy to setup :)

On Thu, Oct 15, 2015 at 9:40 PM, Mohammad Moradi <notifications@github.com>
wrote:

--
Best Regards
Naser Kholghi
http://kholghi67.blog.ir

[2015-10-15 19:32] MohammadsM commented on #369
Hi Naser
Thanks for the replay
But is there any way to run local apps?
:(

[2015-10-15 19:34] na3r commented on #369
what do you mean by local apps?

On Thu, Oct 15, 2015 at 11:02 PM, Mohammad Moradi <notifications@github.com>
wrote:

--
Best Regards
Naser Kholghi
http://kholghi67.blog.ir

[2015-10-15 19:53] MohammadsM commented on #369
I have owncloud image in my ubuntu
but docker will not run it

[2015-10-15 23:44] jakirkham commented on #370
What OS are you using?

[2015-10-15 23:48] jakirkham commented on #403
Personally, based on your code and what you are trying to do, IMHO it is just another case of this issue ( https://github.com/docker/hub-feedback/issues/292 ).

[2015-10-15 23:49] jakirkham commented on #403
Also, may want to clean up your link it is pointing to your settings, which I believe is unintended.

[2015-10-15 23:52] jakirkham commented on #399
At present, I think the answer is no. See this related issue ( https://github.com/docker/hub-feedback/issues/313 ). However, you could delete and then recreate the build if you aren't too attached to it in its current form.

[2015-10-15 23:55] jakirkham commented on #225
So, glad to have this fix. :+1:

[2015-10-16 00:03] jakirkham commented on #124
Missing badge problem is now back. ( https://github.com/docker/hub-feedback/issues/124#issuecomment-145854684 )

[2015-10-16 00:18] jakirkham commented on #179
Not being the OP and given the somewhat subjective nature of this issue I can't say for sure, but I think Markdown rendering has seen some massive improvements over the last few months. IMHO this and any additional issues I raised here are resolved.

[2015-10-16 03:13] markoshust commented on #313
:+1:

[2015-10-16 03:14] markoshust commented on #399
Thanks, I'll close this as a dupe of https://github.com/docker/hub-feedback/issues/313

[2015-10-16 03:14] #399 closed

[2015-10-16 07:11] onizo commented on #68
+1

[2015-10-16 10:01] mzedeler commented on #386
:+1: I'm surprised how this can be out of beta when it isn't working. Sorry if I sound blunt, but not letting users log in with site specific passwords is pretty basic.

[2015-10-16 11:38] ebonharme opened #404 "Show build duration on build details page"
We are trying to speed up our builds and I'm finding it near enough impossible to get a good idea of how long a build takes.

For a specific build, it would be really useful to get the length of time a build took, from the point where it was triggered to the point where the image was available.

We already have the Created and Last Updated but that shows as an 'ago' time which loses its granularit

[2015-10-16 11:40] hvpareja commented on #404
+1

[2015-10-16 14:31] Kaixhin commented on #395
FYI, duplicate of https://github.com/docker/hub-feedback/issues/355.

[2015-10-16 16:33] pik opened #405 "Min. char 4 usernames on Docker Hub incompatible with Github names"
Hello - not sure if this is the right place for this feedback (redirected from site-link) -- but I find that the account creation insists on minimum 4 character length user-names quite problematic, since it means I cannot easily maintain the same identity from github to dockerhub (which really should be easily associated with each other). Thanks.

[2015-10-16 17:47] ruffsl commented on #179
I'd argue the light blue blockquoted text that is currently rendered as light blue remains taxing to read at length. I know we're shooting for a consistent/ minimal color palette here, but I think the blockquotes should be of a separate color than that all the hyperlinks. Perhaps the darker hue of blue for the subtitles would suitable compromise?

[2015-10-16 17:48] jakirkham commented on #179
Yeah, ok. I guess the links are still a bit bright too.

[2015-10-16 22:59] adambiggs commented on #68
+1

[2015-10-17 00:18] StudioEtrange commented on #68
+1

[2015-10-19 08:10] vdemeester opened #406 "Issues link on Help pages"
The link for _Issues_ in the help pages (https://hub.docker.com/help/) links to https://github.com/docker/docker/. It probrably should point to this repository instead, right ? :wink:

[2015-10-19 11:27] hbenbenishti opened #407 "After deleting an image from private repository it still remains"
Hi,

I have for example an image: coalmineadmin/docker_server_agent with only 1 tag.
I have deleted this repository.
Then i have created a new image with a different tag successfully.
When i am using the REST API as follows:

curl -s -H "Authorization: Token $token" https://$endpoint/v1/repositories/coalmineadmin/docker_server_agent/tags

it responds with a list of old tags, that i have deleted be

[2015-10-19 12:15] mattpatey opened #408 "Enterprise sign-up country selector is limited to Canada and U.S. only"
When [signing up for a server license](https://hub.docker.com/enterprise/server-starter/) I am unable to select a country other than Canada or the U.S.:

![screen shot 2015-10-19 at 14 16 03](https://cloud.githubusercontent.com/assets/554109/10577518/30aa8bd4-766c-11e5-80ea-2a1c13316c90.png)

[2015-10-19 15:13] farolfo opened #409 "Cannot login from the command line"
I have an organisation where I put the repos we used at work and I'm always able to login using

[code]

but today that is not working anymore and I'm getting

[code]

Has anything change and I need to make some changes in my docker setup? Thanks !

[2015-10-19 15:31] farolfo commented on #409
I was just able to login with the command line using a different password than the one I use to login via the hub.docker.com website.
I was able to login via the command line with an old pass that I have changed by clicking 'Can't login' a few days ago.

[2015-10-19 20:17] ahmetalpbalkan commented on #368
@sbasyal we just got more tags deleted. I appreciate if you can help out deleting these as well.

* microsoft/aspnet:1.0.0-beta1
* microsoft/aspnet:1.0.0-beta2
* microsoft/aspnet:1.0.0-beta3
* microsoft/aspnet:1.0.0-beta4

also changing issue title to reflect the root cause.

[2015-10-19 23:26] kristiehoward commented on #379
Closing as this has been fixed in production.

[2015-10-19 23:26] #379 closed

[2015-10-20 02:14] DerekRoberts commented on #68
+1

[2015-10-20 07:20] kennylim86 opened #410 "Email notifications not being sent for repo comments"
In my notification page, https://hub.docker.com/account/notifications/ , I've picked all 3 notify options.
But when I get a comment on one of my repo, there are no email notifications.
As for the "star" and "failed AB", I do get email notification.

[2015-10-20 15:34] avoinea commented on #165
+1

[2015-10-20 19:49] fsilveira commented on #12
+1

[2015-10-20 20:10] jamesdbloom commented on #68
+1

[2015-10-20 23:42] ahmetalpbalkan commented on #347
I miss this feature a lot.

[2015-10-20 23:42] ahmetalpbalkan commented on #348
Any comments?

[2015-10-21 01:25] ei-grad commented on #271
Imho it would be better just to annotate each found image by "from: <image>" on the search results page.

[2015-10-21 01:26] ei-grad commented on #271
And much easier, probably.

[2015-10-21 08:11] kadishmal opened #411 "Can't create an Automated Build"
- My Github username is: `kadishmal`
- My Hub username is: `lighthopper`
1. I go to https://hub.docker.com/add/automated-build/github/form/kadishmal/cubrid-docker/ to create an automated build for my public repo called `cubrid-docker`.
2. Fill the necessary fields:
   <img width="731" alt="screen shot 2015-10-21 at 5 09 08 pm" src="https://cloud.githubusercontent.com/assets/978004/10631087/7c8a75d

[2015-10-21 09:19] runseb opened #412 "Cannot specify a Dockerfile that's not called Dockerfile"
Hi, when setting up an automated build we have to define the location of the Dockerfile.
It assumes that the location is a directory and the Dockerfile is called Dockerfile.

Apparently we cannot specify a Dockerfile named differently and specify an absolute path to it.

It would be quite nice, just like with docker build.

[2015-10-21 09:36] cacti77 commented on #68
+1. I can't believe this isn't in the UI already! I'd accidentally included some security credentials in a tag (luckily a private repo!). My only recourse was to delete the repo and recreate it; or to upload 'dummy' tagged images to overwrite the old ones already there.

[2015-10-21 12:33] rrarunan commented on #411
@kadishmal Can you trace the steps on how you ended up on this url? Also, can you try `https://hub.docker.com/add/automated-build/github/form/kadishmal/cubrid-docker/?namespace=lighthopper` for now. I will investigate further. Thanks for reporting.

[2015-10-21 17:32] tiborvass commented on #110
:+1:

[2015-10-21 18:27] jakirkham opened #413 "Completed builds won't push due to error: `Too Many Requests`"
Seeing this on all of builds after they have completed.

[2015-10-21 18:42] agend07 commented on #413
hi - have same problem - https://hub.docker.com/r/agend07/rsync/builds/

request failed with status: 429 Too Many Requests

[2015-10-21 18:56] cemo commented on #381
I am pretty surprised that there is not any REST API currently to fetch informations regarding repos.

A big +1

[2015-10-21 19:13] AlexDultsev commented on #413
:+1: We are not able to build anything via the automated builds

[2015-10-21 19:22] trinitronx commented on #384
:+1:

[2015-10-21 19:26] brianwhigham commented on #314
I had the same issue with f21b69028ac081f5a624192ccb40bfefa60d267b2f41ec2677af6f6b93a2040c building with docker 1.5.0.  I built on a 1.7.1 docker and was then able to push.  Switching back to my 1.5.0, it still doesn't work. :(

[2015-10-21 19:28] trinitronx commented on #403
I can still see this being a separate issue when not using multiple `Dockerfile`s.  Example use cases:

Given a GitHub repo project tracking many files unrelated to the built docker image,
When I push a change to files that do not need a new docker image built,
Then Docker Hub should not trigger an Automated Build

Given a GitHub repo project tracking many files unrelated to the built docker image

[2015-10-21 20:39] jakirkham commented on #413
It would be really nice if someone from Docker would at least look at this or at a minimum acknowledge there is a problem. "All Systems Operational" is inaccurate ( http://status.docker.com/ ).

[2015-10-21 20:47] kencochrane commented on #413
We are aware of the problem, and are currently trying to resolve it, we will update this ticket when we know more. Sorry for the inconvenience, this might have caused. Feel free to contact support@docker.com if you have  further questions, you don't want to discuss in public.

[2015-10-21 20:48] jakirkham commented on #413
Thanks for the update.

[2015-10-22 04:14] jakirkham commented on #413
Alright, at least in my cases, it appears that this has gone away.

[2015-10-22 05:53] kadishmal commented on #411
1. Searched for `docker hub automated build`.
2. Found this article https://docs.docker.com/docker-hub/builds/ explains how to create an automated build which tells to link a Github account which is explained in...
3. ... this article https://docs.docker.com/docker-hub/github/ which has a link to **create an Automated Build** https://hub.docker.com/add/automated-build/github/orgs/.
4. From there I

[2015-10-22 14:05] kencochrane commented on #413
Sorry for the lack of updates, we rolled out some changes, and the problem should be resolved. If you are still seeing an issue, please contact support so we can dig in further. support@docker.com

[2015-10-22 15:05] warden commented on #185
+1 for alphabetic sorting.

[2015-10-22 15:10] picoded commented on #403
@jakirkham its more on the triggering of build being skipped, then specifying custom Dockerfile. Im quite happy with the compromise of creating separate folders for each Docker build, and pointing the automated build to those folders.

@trinitronx to support changes of other files, it can be changed to simply trigger the build, only if any files in the relevant folder was changed

[2015-10-22 15:13] jakirkham commented on #413
Thanks for the update. I'm going to go ahead and close this.

[2015-10-22 15:13] #413 closed

[2015-10-22 15:20] jakirkham commented on #403
I was only thinking of that in terms of restricting your context to each subdirectory when the `Dockerfile`s are in different locations. However, if your `Dockerfile`s are already in subdirectories, maybe you could restrict the build context for each by specifying the subdirectory when creating the builds? Or are you finding that doesn't behave correctly?

[2015-10-22 15:38] jakirkham commented on #412
Related to ( https://github.com/docker/hub-feedback/issues/292 ).

[2015-10-22 16:03] mcandre opened #414 "Search too strict"
Steps to reproduce:
1. Login to Docker Hub.
2. Search for `chef` among my images.

Expected:

My `docker-chefdk` image appears in the results.

Observed:

Empty set.

[2015-10-22 17:22] nhsiehgit commented on #329
@rrarunan @jsouth potential improvements to keep in mind for autobuilds redesign

[2015-10-22 18:27] nhsiehgit commented on #406
Issues with the hub should direct users to give their feedback here, while issues with the docker itself should go to the docker/docker repo.

This could be more clear.

[2015-10-22 18:29] nhsiehgit commented on #265
Has this been resolved? If not it seems like this would be a priority ticket.

@ChristopherBiscardi ?

[2015-10-22 19:46] posita commented on #68
For anyone seeking to delete tags, it can apparently be done by submitting a request to support@docker.com (see [this](https://github.com/docker/hub-feedback/issues/368#issuecomment-147577966)).

Not to get too punchy here, but I suspect if everyone subscribed to this thread sent such requests when needed, there might be a greater incentive to provide an automated solution. [Jus' sayin'.](http://w

[2015-10-22 20:07] posita opened #415 "Please show created/last updated dates in tags subview"
Currently `https://hub.docker.com/r/[org]/[repo]/tags/` shows two columns:

Tag | Size
---|---
... | ...

This isn't very useful, especially given the state of #68 and #368. Please show the `Created At` and `Last Updated` information for each tag (similar to what's displayed in the automated builds table; see, e.g., this https://github.com/docker/hub-feedback/issues/251#issue-100476085 for a scree

[2015-10-22 21:03] posita commented on #68
FYI, one can also use https://support.docker.com/hc/en-us/requests/new to request manual tag deletion instead of e-mailing requests to support@docker.com.

[2015-10-22 23:21] nhumrich commented on #415
+1

[2015-10-22 23:21] nhumrich commented on #68
+1

[2015-10-23 01:19] vsimonian commented on #165
+1, but more like a +999

[2015-10-23 01:30] vsimonian commented on #385
+1

This is making my READMEs look ugly. :disappointed:

[2015-10-23 07:36] jakirkham commented on #265
I haven't seen this particular error recently. However, I have seen the "Log unrecoverable" exception a few hours ago.

[2015-10-23 13:17] fike commented on #407
I have the same problem but a little different. My case happen a public repository that I deleted but it still visible.

![selection_012](https://cloud.githubusercontent.com/assets/33602/10693526/8e08573a-7977-11e5-92d3-51bc8d9018ea.png)

[2015-10-23 13:42] jakirkham opened #416 "BUG: Failed to clone repository"
Got this for a public repository in one out of several active builds.

[2015-10-23 13:44] jakirkham opened #417 "BUG: Log unrecoverable."
Some automated builds fail with an exception and the message "Log unrecoverable". No other information is provided. The error is not even specified, but the build status is marked as "exception".

[2015-10-23 16:29] thaJeztah commented on #408
@mattpatey thanks for reporting this, I raised this question internally earlier this week and they informed me that they were working on this.

[2015-10-23 17:57] scottampush commented on #358
Bump :arrow_up:

[2015-10-23 18:39] bencao opened #418 "Ability to reference content within an Automated Build repo's GitHub repo using relative links"
Hi Hub Team,

Here's a sample that a readme pulled from Github, the gifs with relative urls pointed to the same repo not showing currectly in Hub.
https://hub.docker.com/r/benb88/vim_in_docker/

Please help investigation, Thanks!

[2015-10-23 18:43] sankethkatta commented on #358
Bump :arrow_up:

[2015-10-23 20:36] rodablo commented on #371
I have multiple generated Dockerfiles for different variants of the same product.

[2015-10-24 00:19] eastlondoner commented on #355
+1

[2015-10-24 11:57] Manouchehri commented on #358
TOTP or U2F would be great to have.

[2015-10-24 14:11] bobrik opened #419 "Full description not fetched from github"
[My automated build](https://hub.docker.com/r/bobrik/zoidberg-tcp/) doesn't have full description populated, even though README.md is present on Github. It used to work automatically.

![image](https://cloud.githubusercontent.com/assets/89186/10710846/88354b5c-7a61-11e5-94e8-d0140530c939.png)

[2015-10-26 15:13] jrhouston opened #420 "Can't delete private repository"
I tried to delete one of my private automated builds and now it has been hanging at "Deleting.." for several days. The repository name is cloudreach/cirrus-backupflow.

[2015-10-27 08:10] orlade opened #421 "Teams not automatically added as collaborators"
When I create a new private repository (automated build FWIW) with an organisation's account, I have to manually add the organisation's teams as collaborators on that repository. Often I forget and, frustrated, wonder why I can't pull my new private repository.

I would expect teams in organisations to work the same way as Bitbucket: if a user has read access within the organisation, then they are

[2015-10-27 14:06] mattfarina commented on #280
The current setup seems to be to disallow names that are <= 3 characters. Could we move that to < 3 (<= 2)? That would allow names like IBM or acronyms such as HPE (for Hewlett Packard Enterprise). This would make it easier for some business namespaces.

[2015-10-27 16:04] brunzefb opened #422 "Takes a long time to update the web UI after pushing a tag"
Hi,

I had to wait for almost 10 minutes for my tag to show up in the dockerhub UI.  Is this normal???  I was getting worried, so I did a docker pull with the tag name, and that worked fine.  So I am pretty sure it is just a long lag.

The UI is a nice way to verify that a push actually worked.  When the tag does not show up in a "reasonable" amount of time, it is worrysome.

Best,

Friedrich Brun

[2015-10-27 17:26] TabberGit commented on #422
Same issue.

Seems it can't be pulled either.

Also having issues with repo deletion lag.

[2015-10-27 19:41] Stephenitis commented on #301
+1 not seeing that immediate feedback in the dockerhub interface had me running in circles for awhile.
`Docker version 1.8.1, build d12ea79`

[2015-10-27 19:59] agilliland opened #423 "webhook stuck in `pending` state"
Not sure why this would happen because the webhook went through fine, but my dockerhub repo is saying that the webhook call is still pending and it's not clearing.  This is also preventing new webhooks from firing.

<img width="867" alt="screen shot 2015-10-27 at 12 57 41 pm" src="https://cloud.githubusercontent.com/assets/1987787/10770786/60a411fe-7caa-11e5-819a-2b8a06be519f.png">

How can I ...

[2015-10-27 20:34] polds commented on #68
+1

[2015-10-27 23:27] cswarth commented on #417
+1
An instance of this type of error can be seen here -
https://hub.docker.com/r/cswarth/docker-beast/builds/baxmsqhfggamamfgjtdg8xm/

Even stranger, when not logged, the area marked "Logs" is completely blank, but shows "Log unrecoverable." when I am logged in to dockerhub.

[2015-10-27 23:30] cswarth commented on #265
"Log unrecoverable" is still happening,
https://hub.docker.com/r/cswarth/docker-beast/builds/baxmsqhfggamamfgjtdg8xm/

Also the message doesn't seem to show up unless I am logged in to dockerhub. If not logged in the exception report is completely blank, and this is a public repo of an automated build.

[2015-10-28 01:27] thepont commented on #68
+1

[2015-10-28 01:47] amoussard commented on #165
+1 too !

[2015-10-28 10:47] jlsalvador commented on #313
:+1: Do you need some help to make that this happens?

[2015-10-28 11:30] SebastianStiehl commented on #68
+1

[2015-10-28 13:11] oryband commented on #414
:+1:

[2015-10-28 13:11] oryband commented on #414
@ofir-petrushka

[2015-10-28 13:11] oryband commented on #207
:+1:

[2015-10-28 13:12] oryband commented on #281
:+1:
the whole ui needs many improvements. specifically the whole image status page is very confusing and ugly.

[2015-10-28 14:04] themusk commented on #423
I wish to report you are not isolated with that problem. Me and my colleague experience the same misbehavior. Looking forward for the fix! :)

[2015-10-28 14:23] timlinux opened #424 "Recently built tags do not show in tags tab"
# Problem

I just triggered a new build of https://hub.docker.com/r/kartoza/qgis-desktop/tags/

When I look at the ``build details`` tab in the hub, I can see that tag **2.12** built ok:

![screenshot from 2015-10-28 16-20-01](https://cloud.githubusercontent.com/assets/178003/10791180/efe86df2-7d8f-11e5-91f5-4413b8901ec1.png)

https://hub.docker.com/r/kartoza/qgis-desktop/builds/bf6ap8jijxjbgr8yvf

[2015-10-28 14:27] timlinux commented on #424
Follow up.

Ok I see this is really just confusion caused by #281 and similar tickets. In the  ``Build Status`` column it would be nice to have e.g. 'Building', 'Error', 'Done' as status (something visual would be nice too) as the current system is pretty cryptic....

[2015-10-28 14:27] #424 closed

[2015-10-28 18:52] awilson-cloudpassage opened #425 "Long description imported from README.md does not honor comments"
### Problem:

Comments delimited in README.md using

[code]

are literally rendered in long description, when imported through automated build process.  Example: https://hub.docker.com/r/awilson/where-are-they-now/
### Desired behavior:

Comments do not appear in long description when rendered from README.md during automated build process.

[2015-10-29 21:08] jeroentbt opened #426 "support org mode for README"
Right now, only README.md files are recognised as the full description.
It would be nice if README.org would be treated equally (as it is on github).

[2015-10-29 21:51] xfallenduskx commented on #411
I ran into this issue today, what was happening for me was that I was trying to create a private automated build when I was already at my maximum private repos. Maybe a better error message to explain that you're at your maximum private repositories?

[2015-10-30 11:57] drwatson32 commented on #68
+1

[2015-10-30 13:53] JeremJR commented on #68
+1

[2015-10-31 00:57] franky-continu commented on #206
+1

[2015-10-31 16:48] tyauvil commented on #165
+1

[2015-10-31 22:19] Skeen opened #427 "`Automated Building` only supports i386 / amd64?"
Hi,

Docker runs on a variety of platforms, including `i386`, `amd64` and `armv7`.
To embrace this, we build our images for multiple platforms.

We recently tried to build one of our images via the automated building on dockerhub, but found that dockerhub naively attempts to build everything on x64.

Will support for non-x86 architectures be added?

[2015-11-01 02:48] inadarei opened #428 "No way to add multiple Github accounts"
There's no way to link multiple Github accounts with Docker Hub for Automated Builds. People don't just have one account for anything, in this world :)

Please add ability to add multiple.

Thanks!

[2015-11-01 02:50] inadarei opened #429 "Ability to Access GitHub repos which I am a collaborator on in Docker Hub."
I can see:
1. My Repos
2. Repos of the organizations I am part of

There is no way to see repos that somebody just added me as a collaborator on. This is a severely limiting thing. Any chance you can add support for this, please? There're repos I can commit to, but no way to manage them on Docker Hub.

Thanks!

[2015-11-01 04:01] nathan-osman commented on #68
+1

[2015-11-01 14:06] synxmax commented on #369
restriction is a violation of Section 5 of the open source definition which states licenses must not discriminate "against any person or group of persons."

Seems docker is following some closed source limited to group of persons terms of service
The laws deal primarily with U.S. export control regulations , Also I'd like to point out there are plenty of American based services that are not blocki

[2015-11-02 02:57] picoded commented on #403
@jakirkham: Im currently already the build context to a subdirectory. However when i push changes not relevant to the directory. It triggers a new build. Which I feel, should be optimized out.

An example would be a repo with a dozen over dockerfiles, each in their own directory. And when a single one of them is updated. All of them gets rebuilt.

[2015-11-02 05:34] frioux commented on #419
This is a big bummer; please fix

[2015-11-02 09:12] fgalan commented on #361
It happened again, in the same cited https://hub.docker.com/r/fiware/orion/, for tag 0.25

[2015-11-02 13:05] hcvst opened #430 "FROM <baseimage> link #enhancement"
It would be nice if in the "FROM <baseimage>" line <baseimage> would link to the baseimage's dockerfile.

[2015-11-02 17:38] michaelwilde opened #431 "Should be able to set custom ICON for a repo"
When viewing a repo from Kitematic, all of the "recommended repos" have nice images that match the brand or purpose of the image.   Currently those are hardcoded in Kitematic.

It would be helpful if a feature of hub/trusted registry was the ability to set a custom JPG/PNG/GIF for the repo as the "brand/image logo".  Kitematic may not be the only mechanism to view / launch images in a "Self-servic

[2015-11-03 03:56] cswarth opened #432 "automated build image vs. local build image"
I don't know if this is a dockerhub issue or pilot error.

Can someone help me understand why an image from an automated build on dockerhub would behave differently from a locally built image?     I understand that one can build an image that depends on dates or hostname, or some other pathological behavior.   However I naively expected images built on dockerhub.com to work pretty much the same as

[2015-11-03 08:11] cswarth commented on #432
I suspect this is due to the nature of the specific code I am compiling.  libbeagle has some very low-level code for accessing GPUs and computing likelihood values very quickly.  It would not surprise me at all that there are architecture-dependent tricks that make the binary non-portable, even across x86 machines.  I'm closing on my my own as this is likely not a bug.

[2015-11-03 08:11] #432 closed

[2015-11-03 10:18] tibolami opened #433 "Can't subscribe organisation to paid plan"
Hi there,

I'm currently unable to subscribe my organisation to the 'micro' plan : Filling up the subscription form, and the submit button turns red.
Debugging web requests show that the POST https://hub.docker.com/v2/billing/subscriptions/ returns an http error 400.
Tried with 2 different browsers (chrome/safari) and 2 different credit cards

[2015-11-03 10:41] thaJeztah commented on #433
@tibolami I "pinged" someone on the internal Slack channel, but perhaps contacting  support@docker.com (or sales@docker.com) would be good if you're having trouble

[2015-11-03 10:44] tibolami commented on #433
Thanks @thaJeztah for following up ! I'm forwarding the case to support email

[2015-11-03 11:03] thaJeztah commented on #433
@tibolami great! hope you get it resolved, feel free to "ping" me here if needed, then I can try to find the right people :+1:

[2015-11-03 16:19] ChristopherBiscardi commented on #433
Thanks @thaJeztah @tibolami

Closing this since it's going to support@

[2015-11-03 16:19] #433 closed

[2015-11-03 16:25] ChristopherBiscardi commented on #429
@inadarei They should be at https://hub.docker.com/contributed/ if you have been added as a collaborator on Docker Hub. If you are a collaborator on a GitHub repo, then it won't map over without creating the same mapping on the Docker Hub side.

[2015-11-03 16:37] mkjsix opened #434 "Automated build is successful but Dockerfile is unchanged"
Hi,
We have triggered a new automated build by changing the Dockerfile in Github, however we still see the old Dockerfile.

The build details are correct:
https://hub.docker.com/r/softinstigate/restheart/builds/bf2rsfsc8csdawwto8dn3hf/

Here is the source Dockerfile:
https://github.com/SoftInstigate/restheart-docker/blob/master/Dockerfile

You can verify the Hub's Dockerfile hasn't been updated ye

[2015-11-03 17:06] ChristopherBiscardi commented on #425
I've confirmed this behavior on Hub. Additionally, GitHub removes html comments entirely from README files so we should have the same behavior so as to be less surprising to our users.

Thanks for reporting @awilson-cloudpassage

[2015-11-03 17:30] ChristopherBiscardi commented on #423
@agilliland Webhooks are in a `pending` state because they expect a response request indicating success or failure. This is because each webhook is considered part of a Webhook Chain, which can be read about in more detail [here](https://docs.docker.com/docker-hub/builds/#webhook-chains).

This is a bug if it is preventing webhooks from sending on *separate pushes*, but it is the intended behavior

[2015-11-03 18:51] mato opened #435 "Email notifications of automated build failure intermittently lost"
I have enabled "Notify me when an automated build fails" on https://hub.docker.com/account/notifications/. Despite this, I don't always get an email notification when an automated build fails.

I've been using `mato/rumprun-ci-testing` as a guinea pig, as you can see from the list of commits to its associated Dockerfile: https://github.com/mato/rumprun-docker-builds/commits/master/ci-testing/Docke

[2015-11-03 19:04] mato opened #436 "Feature request: Improved email notifications"
I currently use a shell script to parse emails from Docker Hub about automated build failures and forward them to a project mailing list. It'd be most helpful if the email notifications could be improved to look something like this (using my `mato/rumprun-ci-testing` build as an example):

[code]

It would also be useful to get notifications when a build is fixed/successful, much like Travis and o

[2015-11-03 19:09] mato opened #437 "Feature request: Raw download links for automated build logs"
Example: On https://hub.docker.com/r/mato/rumprun-toolchain-hw-x86_64/builds/, I'd like to have a "raw" link in the "Build Code" column that _downloads_ the log as `text/plain` when accessed from a browser, or can be used directly with wget/curl/...

The problem this solves is that the build logs can get quite large, and rendering them in the browser takes forever.

[2015-11-03 19:18] mato opened #438 "Public automated build logs only visible to logged in hub users"
Steps to reproduce:
1. Ensure you're not logged in to Docker Hub.
2. View any public automated build log, e.g. one of mine: https://hub.docker.com/r/mato/rumprun-toolchain-hw-x86_64/builds/b3u4gqiyudlpzzlcd5oukym/

Observed resukt:

The "logs" box is empty.

Expected result:

The "logs" box contains the build log.

[2015-11-03 19:47] inadarei commented on #429
Thank you, Christopher. I was talking about the use-case when I am a collaborator on GitHub.

It would be great if Docker Hub allowed to see/add the repos that I have commit rights to, on Github, when I am collaborator on Github. What you noted about "also add as collaborator on Docker Hub" is useful but not always feasible. For instance, the owner of the repo may not want to connect their account

[2015-11-04 18:10] hekaldama commented on #300
Not sure if this is the best place, but I am getting this issue right now on:

https://hub.docker.com/r/ypengineering/milieu/

Thanks for any help.

[2015-11-04 18:38] kencochrane commented on #300
@hekaldama you config looks fine, must be a miss on our side.

pinging @dustinlacewell @caervs to see if they know why it wasn't picked up.

[2015-11-04 18:39] hekaldama commented on #300
@kencochrane thanks.

[2015-11-04 19:36] ohjames commented on #68
+1

[2015-11-04 21:53] DJBnjack opened #439 "New automated build repositories will not build"
I have created two new automated builds linked to GitHub repositories.

Both of the times the automated build does not start, even after triggering it manually.
There is only the "Success" toast, but no build is added to the list.

Steps to reproduce:
1. Create a new automated build
2. Trigger a new build
3. Nothing shows up in the build list

Previously defined automated build repositories still

[2015-11-04 22:06] DJBnjack commented on #439
Just reproduced this with a GitHub repository that I have used with the Docker Hub before, still nothing showing up in the build list.

![1](https://cloud.githubusercontent.com/assets/315946/10953497/ade4315c-8348-11e5-9c5b-e430f5bfedbc.png)
![2](https://cloud.githubusercontent.com/assets/315946/10953496/ade282e4-8348-11e5-964b-fd0fd4aeb0c4.png)

[2015-11-05 08:16] mato commented on #437
Related: I can't cut and paste from the build log without getting mangled text and U001B characters instead of newlines. This makes it *hard* to e.g. paste a log snippet into a Github issue.

[2015-11-05 08:29] maricaantonacci commented on #407
I'm experiencing the same problem with repositories: they remain in deleting state...
Is there a fix for that?

Thanks
Marica

[2015-11-05 10:27] dg-ratiodata opened #440 "Availability of docker 1.9 on Hub"
Hi,

when will docker 1.9. available on DockerHub? This [build](https://hub.docker.com/r/feduxorg/centos/builds/bfhdfbsrppmbhovhcuwpd4p/) fails with `Unknown instruction: STOPSIGNAL`.

[2015-11-05 16:31] DJBnjack commented on #439
Ok, this seems to work again now.

[2015-11-05 18:06] agilliland commented on #423
okay, so after letting this run for a while i can confirm the webhooks from separate pushes are firing just fine.  I had thought they weren't firing initially due to rather long wait times, but it looks like they are eventually being fired.

i'm not actually trying to chain my webhook calls, so maybe that's just a confusion more than anything.  i figured that if i only had a single webhook url def

[2015-11-05 20:06] ChristopherBiscardi commented on #423
@agilliland

I agree. My current plan is to change the defaults when there is only a single webhook being created vs a chain of webhooks to make this interaction less surprising. That is intended to happen "soon" along with other changes.

We'll look into this.

[2015-11-05 22:02] mostlygeek commented on #165
+1

[2015-11-06 00:16] marcusmartins commented on #435
cc @bcwalrus

[2015-11-06 00:17] marcusmartins commented on #436
cc @bcwalrus

[2015-11-06 00:18] marcusmartins commented on #437
cc @bcwalrus

[2015-11-06 00:19] marcusmartins commented on #438
Thanks for the report. We are aware of this issue and we hope to have a fix soon. cc @rrarunan

[2015-11-06 02:11] zjyExcelsior opened #441 "I cant't change my Profile Photos"
It seems that there is not the choice for user to change profile photos with their own photos.

[2015-11-06 08:45] george-mcintyre commented on #12
+1

[2015-11-06 09:59] JikkuJose commented on #281
@oryband +1, the site really needs a redo.

[2015-11-06 18:03] maport commented on #300
I think I have the same issue here:

  https://hub.docker.com/r/codesimple/elm/

My README.md is in the same (sub) directory as the Dockerfile. It builds okay but the readme doesn't come across and the build "readme_contents" is blank. I tried with and without a trailing slash on the "build_path" but that didn't make any difference.

[2015-11-06 18:07] hekaldama commented on #300
Mine is working now but no idea why.

[2015-11-06 18:32] kristiehoward commented on #441
You can set a profile photo by using a Gravatar account.

To link that account with your Docker Hub account so that your photo shows up, click on the dropdown for your username in the top right corner.

Click Username > Click Settings > Scroll down to Account Information > Enter your email for your Gravatar account in the Gravatar Email field > Click Save.

Hope that helps!

[2015-11-06 19:26] ChristopherBiscardi opened #442 "Ability to link Multiple GitHub Accounts to a Single Hub account"
Split out from https://github.com/docker/hub-feedback/issues/429#issuecomment-153467088

For anyone looking at this ticket: Giving your use case would be helpful.

[2015-11-06 19:28] ChristopherBiscardi commented on #429
@inadarei I've marked this ticket to track the GitHub Collaborator topic and created https://github.com/docker/hub-feedback/issues/442 for multiple GitHub account linking.

[2015-11-06 19:33] inadarei commented on #429
@ChristopherBiscardi thank you!

[2015-11-06 19:40] inadarei commented on #442
Thank you @ChristopherBiscardi .

My original motivation/use-case for the ability of linking multiple Github accounts with a single Docker Hub account:

I have multiple Github accounts:

1. Personal
2. Work
3. Continous-Integration/Automation-related ones. This is basically Github account plugged into work/project-specific Jenkins/Bamboo/Ansible etc. since it would be inappropriate to use anybody'

[2015-11-06 21:00] ChristopherBiscardi commented on #440
Currently builds are running with 1.8.3; 1.9 is planned, but does not have a specific date.

[2015-11-06 21:03] ChristopherBiscardi commented on #439
@DJBnjack Over the last day or so we rolled out Automated Builds changes.  Please contact support if there are any further disruptions for you.

[2015-11-06 21:03] #439 closed

[2015-11-06 21:09] ChristopherBiscardi commented on #421
Since access is determined per-repo (not on the organization as a whole), it wouldn't make sense to add teams that have read access to a single repo to every future repo.

However, it may be useful to consider what happens after a repo is created to make this interaction easier. For example, one potential option is changing the "landing page" after creating a repo to be the Collaborators page.

@j

[2015-11-06 21:10] ChristopherBiscardi commented on #420
Please contact support@docker.com, who can investigate this further.

[2015-11-06 21:10] #420 closed

[2015-11-06 21:14] ChristopherBiscardi commented on #418
We currently do not serve content from the within the GitHub repo. For now, the links will have to be fully qualified.

I will add that the relative link pointing to the `PLUGINS.md` markdown file  doesn't point to GitHub either.

[code]

[2015-11-06 21:23] ChristopherBiscardi commented on #414
@mcandre Are you referring to the "Quick Filter" on the Dashboard page:

![screenshot 2015-11-06 13 22 38](https://cloud.githubusercontent.com/assets/551247/11009061/7816df7e-8489-11e5-98ef-e38ee98e7786.png)

If so, I was unable to reproduce the issue.

[2015-11-06 21:23] ChristopherBiscardi commented on #371
closing as dupe of https://github.com/docker/hub-feedback/issues/292

[2015-11-06 21:23] #371 closed

[2015-11-06 21:24] ChristopherBiscardi commented on #412
closing as dupe of https://github.com/docker/hub-feedback/issues/292

[2015-11-06 21:24] #412 closed

[2015-11-06 21:26] ChristopherBiscardi commented on #434
Please contact support@docker.com for this.

[2015-11-06 21:26] #434 closed

[2015-11-06 21:43] bencao commented on #418
So I guess maybe we need some translation if the link/image url in Readme is relative instead of absolute?

[2015-11-07 16:11] DJBnjack opened #443 "Button to start build is missing"
As title says, since a few days (after changes to the auto-build system), the button to start a build manually has been missing.

I know it is possible to set up a Build Trigger and POST to this endpoint - but for a simple change like settings the Docker Tag Name to 'latest' (which is not the case anymore by default), this button was perfect!

Any chance it's coming back soon?

OS: Windows 10
Brow

[2015-11-07 16:12] DJBnjack commented on #439
Thanks! I was slightly in shock as I was giving a demo on the Docker Hub auto-build system the day afterwards :+1:

[2015-11-07 16:43] rrarunan commented on #443
@DJBnjack
Manual build triggers are available for `exact match` rules like:
Name - `master` => Docker Tag Name - `latest`

If you did have one such rule here or in your earlier autobuilds you will see them.
Any suggestions on how you expect the `manual build` to work for `regular expression` rules?

[2015-11-07 17:38] DJBnjack commented on #443
@rrarunan
Thanks for the quick reply - I was however not referring to the Build Triggers.

A few days ago there was a green button on the page named something like "Build now". When clicking on it, the hub would start a new build. This would help for small changes at the hub not hosted in the repository, like the docker tag name.

[2015-11-07 21:54] Karm opened #444 "setcap 'cap_net_bind_service=+ep' /path/to/binary/executable has started to fail builds"
Dear DockerHub fellows,

this [Dockerfile](https://github.com/intfeed/sinkit-resolver/blob/testing/Dockerfile) builds just fine on my system, `docker-io-1.5.0-1.fc20.x86_64`, although it fails as an automated build on [DockerHub](https://hub.docker.com/r/karm/sinkit-resolver/tags/) with the undermentioned error (see the bottom of the log snippet).

It is noteworthy that the same command was passin

[2015-11-08 12:08] yuksbg opened #445 "Deleting repo still in progress"
I initiate deleting of repo yesterday and it's still in status "deleting"

Repo: yuksme/docker-php7

[2015-11-08 15:42] janeczku opened #446 "Markdown: H1 and H2 headers are formatted as normal text"
[code]
is formatted as normal text.

Example: https://hub.docker.com/r/janeczku/alpine-haproxy/

[2015-11-08 15:46] janeczku opened #447 "Markdown: Images not rendered in descpription"
[code]
Image is not shown. This was working before.

[2015-11-08 22:31] brycereynolds commented on #415
very big +1....we've put in a mechanism across our entire build process to help satisfy this one requirement (we add a file to our image that has the git hash from which it was built). Our solution does add some more insight than just a timestamp but a timestamp have probably alleviated the need for us to apply this workaround.

[2015-11-09 03:15] samos123 opened #448 "Unable to change Github source repo"
I renamed my repo from docker-tutum-drupal to docker-drupal, but this causes automated builds to fail and there is no way to change the source repo to the new name from docker hub...

Feature request: ability to rename or totally edit source repo in docker hub.

[2015-11-09 05:43] jakirkham opened #449 "BUG: Cloning git submodules is not working"
It had been the case that if your repo contained a git submodule, the git submodule would be cloned too. However, this appears to not be happening anymore.

It appears there was a recent update to Docker Hub. I am guessing somebody just forgot the `--recursive` or `--recurse-submodules` option to `git clone` or took it out by accident.

Here is a simple [example]( https://github.com/jakirkham/dock

[2015-11-09 10:47] dg-ratiodata commented on #440
Ok. Would be great to see it shipped. I'm would like to use the new `STOPSIGNAL` command.

[2015-11-09 10:49] dg-ratiodata commented on #440
kkk

[2015-11-09 10:49] #440 closed

[2015-11-09 11:30] bhalothia opened #450 "Feature Request: Able to link the existing docker hub repos to their source github repos"

[2015-11-09 13:27] jakirkham commented on #450
I think this already exists, no? On Docker Hub, it should show in the right column near the bottom the "Source Repository" with a link that can be clicked on. See below.

If this is not what you are asking for, could you please clarify?

<img width="1554" alt="screen shot 2015-11-09 at 8 26 43" src="https://cloud.githubusercontent.com/assets/3019665/11034711/a57879da-86bb-11e5-9614-2bcf0a79cca7.pn

[2015-11-09 14:20] bhalothia commented on #450
@jakirkham Actually, I wanted it for the docker hub repos where images were directly pushed before the automated build feature came in.

Consider this scenario -

I've a github repo, with a dockerfile to build my docker image but I pushed the image before the automated build feature came. Now, I would want my docker hub repo to be connected to the github repo I have. Do I need to delete it and cre

[2015-11-09 15:33] jakirkham commented on #450
Yes, you will need to delete it and create a new one for the automated build.

[2015-11-09 15:45] Kaixhin commented on #356
Looks like this has been added recently - fantastic! Closing.

[2015-11-09 15:45] #356 closed

[2015-11-09 17:04] jakirkham commented on #447
Simply another case of this ( https://github.com/docker/hub-feedback/issues/104 ). It was compiled into a list, but has yet to be fixed.

[2015-11-09 17:37] kencochrane commented on #300
@maport is yours still not working?

@hekaldama we have been rolling out changes to the build system, and I wonder if you were hit with a bug, that has since been fixed.

[2015-11-09 18:05] maport commented on #300
@kencochrane I just triggered a new build which is still in-progress. This seems to be working better since the "readme_contents" is no longer blank. But it looks like it has picked up the readme at the root of my linked repo rather than the one in the same location as the Dockerfile.

Update: The build has now completed and has used the readme at the root of my repo. Unfortunately something seeme

[2015-11-09 20:00] jakirkham commented on #390
No longer necessary in light of this. ( https://github.com/docker/hub-feedback/issues/356 )

[2015-11-09 20:00] #390 closed

[2015-11-09 20:12] sfate commented on #449
Same to me.
Submodules from private repos didn't work from today.
Deploy keys for user with read permission to that repos are in place.

[2015-11-09 20:26] gregmac opened #451 "Search uses OR instead of AND to combine terms"
Search is implemented so that when multiple words are used, the results are expanded (by ORing each term) instead of narrowed.

For example, searching for ["ubuntu mail"](https://hub.docker.com/search/?q=ubuntu%20mail&page=1&isAutomated=0&isOfficial=0&starCount=0&pullCount=0) returns _more_ results than either term alone does, instead of narrowing focus (expected: intersection of results of both).

[2015-11-09 20:54] ekan commented on #449
Yep, same here. Images that built Friday (3 days ago) no longer build:

[code]